/* END STYLABLE DIRECTIVE RULES */

#comp-lmab51bw1 .style-lmab51by1__root:hover .StylableButton2545352419__icon {
  fill: #1f0e77;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lmab51bw1 .style-lmab51by1__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 20px;
  border: 0px solid rgb(102, 115, 230);
  border-left: 10px solid rgba(102, 115, 230, 0);
  background: rgba(102, 115, 230, 0.2);
}

#comp-lmab51bw1 .style-lmab51by1__root:hover {
  border-left: 10px solid rgba(2, 6, 89, 0);
  background: rgba(102, 115, 230, 0.2);
}

#comp-lmab51bw1 .style-lmab51by1__root:hover .StylableButton2545352419__label {
  color: #1f0e77;
}

#comp-lmab51bw1 .style-lmab51by1__root:disabled {
  border: 0px solid rgb(174, 99, 63);
  background: #e2e2e2;
}

#comp-lmab51bw1 .style-lmab51by1__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lmab51bw1 .style-lmab51by1__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lmab51bw1 .style-lmab51by1__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

#comp-lmab51bw1 .style-lmab51by1__root .StylableButton2545352419__label {
  transition: inherit;
  display: initial;
  margin: 0px 4.5px 0px 0px;
  margin-right: 0px;
  margin-left: 2px;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0em;
  color: #1a1855;
}

#comp-lmab51bw1 .style-lmab51by1__root .StylableButton2545352419__icon {
  transition: inherit;
  display: initial;
  width: 23px;
  height: 23px;
  margin: 0px 0px 0px 4.5px;
  margin-left: 0px;
  margin-right: 2px;
  fill: #1a1855;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lmab51c05 .style-lmahy5nc__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 20px;
  border: 0px solid rgb(102, 115, 230);
  border-left: 10px solid rgba(102, 115, 230, 0);
  background: rgba(102, 115, 230, 0.05);
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lmab51c05 .style-lmahy5nc__root:hover {
  background: rgba(102, 115, 230, 0.2);
}

#comp-lmab51c05 .style-lmahy5nc__root:disabled {
  border: 0px solid rgb(174, 99, 63);
  background: #e2e2e2;
}

#comp-lmab51c05 .style-lmahy5nc__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lmab51c05 .style-lmahy5nc__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lmab51c05 .style-lmahy5nc__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

#comp-lmab51c05 .style-lmahy5nc__root .StylableButton2545352419__label {
  transition: inherit;
  display: initial;
  margin: 0px 4.5px 0px 0px;
  margin-right: 0px;
  margin-left: 2px;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0em;
  color: #020659;
}

#comp-lmab51c05 .style-lmahy5nc__root .StylableButton2545352419__icon {
  transition: inherit;
  display: initial;
  width: 23px;
  height: 23px;
  margin: 0px 0px 0px 4.5px;
  margin-left: 0px;
  margin-right: 2px;
  fill: #020659;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lmejm9a9 .style-lmejm9bi4__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 20px;
  border: 0px solid rgb(102, 115, 230);
  border-left: 10px solid rgba(102, 115, 230, 0);
  background: rgba(102, 115, 230, 0.05);
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lmejm9a9 .style-lmejm9bi4__root:hover {
  background: rgba(102, 115, 230, 0.2);
}

#comp-lmejm9a9 .style-lmejm9bi4__root:disabled {
  border: 0px solid rgb(174, 99, 63);
  background: #e2e2e2;
}

#comp-lmejm9a9 .style-lmejm9bi4__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lmejm9a9 .style-lmejm9bi4__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lmejm9a9 .style-lmejm9bi4__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

#comp-lmejm9a9 .style-lmejm9bi4__root .StylableButton2545352419__label {
  transition: inherit;
  display: initial;
  margin: 0px 4.5px 0px 0px;
  margin-right: 0px;
  margin-left: 2px;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0em;
  color: #020659;
}

#comp-lmejm9a9 .style-lmejm9bi4__root .StylableButton2545352419__icon {
  transition: inherit;
  display: initial;
  width: 23px;
  height: 23px;
  margin: 0px 0px 0px 4.5px;
  margin-left: 0px;
  margin-right: 2px;
  fill: #020659;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lmejmzm5 .style-lmejmzn04__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 20px;
  border: 0px solid rgb(102, 115, 230);
  border-left: 10px solid rgba(102, 115, 230, 0);
  background: rgba(102, 115, 230, 0.05);
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lmejmzm5 .style-lmejmzn04__root:hover {
  background: rgba(102, 115, 230, 0.2);
}

#comp-lmejmzm5 .style-lmejmzn04__root:disabled {
  border: 0px solid rgb(174, 99, 63);
  background: #e2e2e2;
}

#comp-lmejmzm5 .style-lmejmzn04__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lmejmzm5 .style-lmejmzn04__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lmejmzm5 .style-lmejmzn04__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

#comp-lmejmzm5 .style-lmejmzn04__root .StylableButton2545352419__label {
  transition: inherit;
  display: initial;
  margin: 0px 4.5px 0px 0px;
  margin-right: 0px;
  margin-left: 2px;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0em;
  color: #020659;
}

#comp-lmejmzm5 .style-lmejmzn04__root .StylableButton2545352419__icon {
  transition: inherit;
  display: initial;
  width: 23px;
  height: 23px;
  margin: 0px 0px 0px 4.5px;
  margin-left: 0px;
  margin-right: 2px;
  fill: #020659;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lmejomkh .style-lmejomlp4__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 20px;
  border: 0px solid rgb(102, 115, 230);
  border-left: 10px solid rgba(102, 115, 230, 0);
  background: rgba(102, 115, 230, 0.05);
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lmejomkh .style-lmejomlp4__root:hover {
  background: rgba(102, 115, 230, 0.2);
}

#comp-lmejomkh .style-lmejomlp4__root:disabled {
  border: 0px solid rgb(174, 99, 63);
  background: #e2e2e2;
}

#comp-lmejomkh .style-lmejomlp4__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lmejomkh .style-lmejomlp4__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lmejomkh .style-lmejomlp4__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

#comp-lmejomkh .style-lmejomlp4__root .StylableButton2545352419__label {
  transition: inherit;
  display: initial;
  margin: 0px 4.5px 0px 0px;
  margin-right: 0px;
  margin-left: 2px;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0em;
  color: #020659;
}

#comp-lmejomkh .style-lmejomlp4__root .StylableButton2545352419__icon {
  transition: inherit;
  display: initial;
  width: 23px;
  height: 23px;
  margin: 0px 0px 0px 4.5px;
  margin-left: 0px;
  margin-right: 2px;
  fill: #020659;
} /* END STYLABLE DIRECTIVE RULES */

#comp-ltpjhohh .style-ltpjhoi21__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 20px;
  border: 0px solid rgb(102, 115, 230);
  border-left: 10px solid rgba(102, 115, 230, 0);
  background: rgba(102, 115, 230, 0.05);
}

/* START STYLABLE DIRECTIVE RULES */

#comp-ltpjhohh .style-ltpjhoi21__root:hover {
  background: rgba(102, 115, 230, 0.2);
}

#comp-ltpjhohh .style-ltpjhoi21__root:disabled {
  border: 0px solid rgb(174, 99, 63);
  background: #e2e2e2;
}

#comp-ltpjhohh .style-ltpjhoi21__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-ltpjhohh .style-ltpjhoi21__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-ltpjhohh .style-ltpjhoi21__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

#comp-ltpjhohh .style-ltpjhoi21__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4.5px 0px 0px;
  margin-right: 0px;
  margin-left: 2px;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0em;
  color: #020659;
  display: initial;
}

#comp-ltpjhohh .style-ltpjhoi21__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 23px;
  height: 23px;
  margin: 0px 0px 0px 4.5px;
  margin-left: 0px;
  margin-right: 2px;
  fill: #020659;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lp9nub9z .style-lp9nwowt__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 20px;
  border: 0px solid rgb(102, 115, 230);
  border-left: 10px solid rgba(102, 115, 230, 0);
  background: rgba(255, 64, 64, 0.61);
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lp9nub9z .style-lp9nwowt__root:hover {
  background: rgba(102, 115, 230, 0.2);
}

#comp-lp9nub9z .style-lp9nwowt__root:disabled {
  border: 0px solid rgb(174, 99, 63);
  background: #e2e2e2;
}

#comp-lp9nub9z .style-lp9nwowt__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lp9nub9z .style-lp9nwowt__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lp9nub9z .style-lp9nwowt__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

#comp-lp9nub9z .style-lp9nwowt__root .StylableButton2545352419__label {
  transition: inherit;
  display: initial;
  margin: 0px 4.5px 0px 0px;
  margin-right: 0px;
  margin-left: 2px;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 0em;
  color: #020659;
}

#comp-lp9nub9z .style-lp9nwowt__root .StylableButton2545352419__icon {
  transition: inherit;
  display: initial;
  width: 23px;
  height: 23px;
  margin: 0px 0px 0px 4.5px;
  margin-left: 0px;
  margin-right: 2px;
  fill: #020659;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lmab51cc4 .style-lmab51cd4__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border: 1px solid #020659;
  background: rgb(2, 6, 89);
  border-radius: 30px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lmab51cc4 .style-lmab51cd4__root:hover {
  background: #6673e6;
  border: 1px solid #6673e6;
}

#comp-lmab51cc4 .style-lmab51cd4__root:disabled {
  background: #e2e2e2;
}

#comp-lmab51cc4 .style-lmab51cd4__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lmab51cc4 .style-lmab51cd4__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lmab51cc4 .style-lmab51cd4__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-lmab51cc4 .style-lmab51cd4__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: bree-w01-thin-oblique, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: avenir-lt-w01_35-light1475496, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: unset;
  letter-spacing: 0em;
  color: #ffffff;
}

#comp-lmab51cc4 .style-lmab51cd4__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lmab51cg1 .style-lmab51cg6__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border: 1px solid #020659;
  background: rgb(2, 6, 89);
  border-radius: 30px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lmab51cg1 .style-lmab51cg6__root:hover {
  background: #6673e6;
  border: 1px solid #6673e6;
}

#comp-lmab51cg1 .style-lmab51cg6__root:disabled {
  background: #e2e2e2;
}

#comp-lmab51cg1 .style-lmab51cg6__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lmab51cg1 .style-lmab51cg6__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lmab51cg1 .style-lmab51cg6__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-lmab51cg1 .style-lmab51cg6__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: bree-w01-thin-oblique, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: avenir-lt-w01_35-light1475496, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: unset;
  letter-spacing: 0em;
  color: #ffffff;
}

#comp-lmab51cg1 .style-lmab51cg6__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lmab51cj1 .style-lmab51cj6__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border: 1px solid #020659;
  background: rgb(2, 6, 89);
  border-radius: 30px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lmab51cj1 .style-lmab51cj6__root:hover {
  background: #6673e6;
  border: 1px solid #6673e6;
}

#comp-lmab51cj1 .style-lmab51cj6__root:disabled {
  background: #e2e2e2;
}

#comp-lmab51cj1 .style-lmab51cj6__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lmab51cj1 .style-lmab51cj6__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lmab51cj1 .style-lmab51cj6__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-lmab51cj1 .style-lmab51cj6__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: bree-w01-thin-oblique, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: avenir-lt-w01_35-light1475496, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: unset;
  letter-spacing: 0em;
  color: #ffffff;
}

#comp-lmab51cj1 .style-lmab51cj6__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lmab51cm1 .style-lmab5x1a__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border: 1px solid #020659;
  border-radius: 30px;
  background: #020659;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lmab51cm1 .style-lmab5x1a__root:hover {
  background: #6673e6;
  border: 1px solid #6673e6;
}

#comp-lmab51cm1 .style-lmab5x1a__root:disabled {
  background: #e2e2e2;
}

#comp-lmab51cm1 .style-lmab5x1a__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lmab51cm1 .style-lmab5x1a__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lmab51cm1 .style-lmab5x1a__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-lmab51cm1 .style-lmab5x1a__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: bree-w01-thin-oblique, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: avenir-lt-w01_35-light1475496, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: unset;
  letter-spacing: 0em;
  color: #ffffff;
}

#comp-lmab51cm1 .style-lmab5x1a__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lmab51co3 .style-lmab51co8__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border: 1px solid #020659;
  background: rgb(2, 6, 89);
  border-radius: 30px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lmab51co3 .style-lmab51co8__root:hover {
  background: #6673e6;
  border: 1px solid #6673e6;
}

#comp-lmab51co3 .style-lmab51co8__root:disabled {
  background: #e2e2e2;
}

#comp-lmab51co3 .style-lmab51co8__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lmab51co3 .style-lmab51co8__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lmab51co3 .style-lmab51co8__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-lmab51co3 .style-lmab51co8__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: bree-w01-thin-oblique, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: avenir-lt-w01_35-light1475496, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: unset;
  letter-spacing: 0em;
  color: #ffffff;
}

#comp-lmab51co3 .style-lmab51co8__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-ls0cmorb .style-ls0cmorw__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border: 1px solid #020659;
  background: rgb(2, 6, 89);
  border-radius: 30px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-ls0cmorb .style-ls0cmorw__root:hover {
  background: #6673e6;
  border: 1px solid #6673e6;
}

#comp-ls0cmorb .style-ls0cmorw__root:disabled {
  background: #e2e2e2;
}

#comp-ls0cmorb .style-ls0cmorw__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-ls0cmorb .style-ls0cmorw__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-ls0cmorb .style-ls0cmorw__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-ls0cmorb .style-ls0cmorw__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: bree-w01-thin-oblique, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: avenir-lt-w01_35-light1475496, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: unset;
  letter-spacing: 0em;
  color: #ffffff;
}

#comp-ls0cmorb .style-ls0cmorw__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-mcyszncw .style-mcyszne11__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border: 1px solid #020659;
  background: rgb(2, 6, 89);
  border-radius: 30px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mcyszncw .style-mcyszne11__root:hover {
  background: #6673e6;
  border: 1px solid #6673e6;
}

#comp-mcyszncw .style-mcyszne11__root:disabled {
  background: #e2e2e2;
}

#comp-mcyszncw .style-mcyszne11__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-mcyszncw .style-mcyszne11__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-mcyszncw .style-mcyszne11__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-mcyszncw .style-mcyszne11__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: bree-w01-thin-oblique, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: avenir-lt-w01_35-light1475496, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: unset;
  letter-spacing: 0em;
  color: #ffffff;
}

#comp-mcyszncw .style-mcyszne11__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}
