/* END STYLABLE DIRECTIVE RULES */

#comp-lsyqy03h .style-lsyqy03j1__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #FFFFFF;
    border-radius: 20px
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lsyqy03h .style-lsyqy03j1__root:hover {
    border: 1px solid #FFFFFF;
    background: rgb(255, 255, 255);
}

#comp-lsyqy03h .style-lsyqy03j1__root .StylableButton2545352419__container{
    transition: inherit;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center
}

#comp-lsyqy03h .style-lsyqy03j1__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    font-family: montserrat,sans-serif;
    font-weight: 400;
    display: initial;
    color: #FFFFFF; font-family: montserrat,sans-serif; font-size: 18px; font-weight: normal; font-style: normal;
    font-size: 14px;
    letter-spacing: 0em;
    margin-right: 0px;
    margin-left: 2.5px
}

#comp-lsyqy03h .style-lsyqy03j1__root:disabled{
    background: #E2E2E2
}

#comp-lsyqy03h .style-lsyqy03j1__root:disabled .StylableButton2545352419__label{ font-family: montserrat,sans-serif; font-size: 18px; font-weight: normal; font-style: normal;
    font-size: 14px;
    color: #FFFFFF
}

#comp-lsyqy03h .style-lsyqy03j1__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-lsyqy03h .style-lsyqy03j1__root .StylableButton2545352419__icon{
    transition: inherit;
    margin: 0px 0px 0px 4px;
    display: initial;
    fill: #FFFFFF;
    margin-left: 0px;
    margin-right: 2.5px;
    width: 28px;
    height: 28px
}

#comp-lsyqy03h .style-lsyqy03j1__root:hover .StylableButton2545352419__label {
    color: #66676F;
}

#comp-lsyqy03h .style-lsyqy03j1__root:hover .StylableButton2545352419__icon {
    fill: #6E7088;
}/* END STYLABLE DIRECTIVE RULES */

#comp-lsyqy03x1 .style-lsyr43dz__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    background: #FBA517;
    border: 2px solid #FFB900;
    box-shadow: 2.83px 2.83px 25px rgba(0, 0, 0, 0.38);
    border-radius: 50px
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lsyqy03x1 .style-lsyr43dz__root:hover {
    background: #F8BD26;
}

#comp-lsyqy03x1 .style-lsyr43dz__root:hover .StylableButton2545352419__label { font-family: montserrat,sans-serif; font-size: 15px; font-weight: normal; font-style: normal;
    font-size: 18px;
    font-weight: 700;
}

#comp-lsyqy03x1 .style-lsyr43dz__root:disabled{
    background: #E2E2E2
}

#comp-lsyqy03x1 .style-lsyr43dz__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-lsyqy03x1 .style-lsyr43dz__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-lsyqy03x1 .style-lsyr43dz__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-lsyqy03x1 .style-lsyr43dz__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    font-family: bree-w01-thin-oblique,sans-serif;
    font-style: normal;
    color: #FFFFFF;
    letter-spacing: 0em; font-family: montserrat,sans-serif; font-size: 15px; font-weight: normal; font-style: normal;
    font-size: 18px;
    font-weight: 700
}

#comp-lsyqy03x1 .style-lsyr43dz__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 10px;
    height: 10px;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    display: none;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
    #comp-lsyqy03x1 .style-lsyr43dz__root .StylableButton2545352419__label { font-size: 15px; font-weight: normal;
        font-size: 12px;
        font-weight: 700;
    }
    #comp-lsyqy03x1 .style-lsyr43dz__root:hover .StylableButton2545352419__label { font-size: 15px; font-weight: normal;
        font-size: 12px;
        font-weight: 700;
    }
}/* END STYLABLE DIRECTIVE RULES */

#comp-lsyqy05a .style-lsysm70o__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    background: #FBA517;
    border: 2px solid #FFB900;
    box-shadow: 2.83px 2.83px 25px rgba(0, 0, 0, 0.38);
    border-radius: 50px
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lsyqy05a .style-lsysm70o__root:hover {
    background: #F8BD26;
}

#comp-lsyqy05a .style-lsysm70o__root:hover .StylableButton2545352419__label { font-family: montserrat,sans-serif; font-size: 15px; font-weight: normal; font-style: normal;
    font-size: 18px;
    font-weight: 700;
}

#comp-lsyqy05a .style-lsysm70o__root:disabled{
    background: #E2E2E2
}

#comp-lsyqy05a .style-lsysm70o__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-lsyqy05a .style-lsysm70o__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-lsyqy05a .style-lsysm70o__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-lsyqy05a .style-lsysm70o__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    font-family: bree-w01-thin-oblique,sans-serif;
    font-style: normal;
    color: #FFFFFF;
    letter-spacing: 0em; font-family: montserrat,sans-serif; font-size: 15px; font-weight: normal; font-style: normal;
    font-size: 18px;
    font-weight: 700
}

#comp-lsyqy05a .style-lsysm70o__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 10px;
    height: 10px;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    display: none;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
    #comp-lsyqy05a .style-lsysm70o__root .StylableButton2545352419__label { font-size: 15px; font-weight: normal;
        font-size: 14px;
        font-weight: 700;
    }
    #comp-lsyqy05a .style-lsysm70o__root:hover .StylableButton2545352419__label { font-size: 15px; font-weight: normal;
        font-size: 14px;
        font-weight: 700;
    }
}