/* END STYLABLE DIRECTIVE RULES */

#comp-lqwpyslb2 .style-lqwpysle__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  border-radius: 20px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lqwpyslb2 .style-lqwpysle__root:hover {
  border: 1px solid #ffffff;
  background: rgb(255, 255, 255);
}

#comp-lqwpyslb2 .style-lqwpysle__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#comp-lqwpyslb2 .style-lqwpysle__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  display: initial;
  color: #ffffff;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0em;
  margin-right: 0px;
  margin-left: 2.5px;
}

#comp-lqwpyslb2 .style-lqwpysle__root:disabled {
  background: #e2e2e2;
}

#comp-lqwpyslb2 .style-lqwpysle__root:disabled .StylableButton2545352419__label {
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

#comp-lqwpyslb2 .style-lqwpysle__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lqwpyslb2 .style-lqwpysle__root .StylableButton2545352419__icon {
  transition: inherit;
  margin: 0px 0px 0px 4px;
  display: initial;
  fill: #ffffff;
  margin-left: 0px;
  margin-right: 2.5px;
  width: 28px;
  height: 28px;
}

#comp-lqwpyslb2 .style-lqwpysle__root:hover .StylableButton2545352419__label {
  color: #66676f;
}

#comp-lqwpyslb2 .style-lqwpysle__root:hover .StylableButton2545352419__icon {
  fill: #6e7088;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lqwpysno .style-lqywy8r9__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2.83px 2.83px 10px -6px black;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lqwpysno .style-lqywy8r9__root:hover {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
}

#comp-lqwpysno .style-lqywy8r9__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-lqwpysno .style-lqywy8r9__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: montserrat, sans-serif;
  letter-spacing: 0em;
  color: #36e17a;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
}

#comp-lqwpysno .style-lqywy8r9__root:disabled {
  background: #e2e2e2;
}

#comp-lqwpysno .style-lqywy8r9__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lqwpysno .style-lqywy8r9__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lqwpysno .style-lqywy8r9__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #000000;
  display: none;
}

#comp-lqwpysno .style-lqywy8r9__root:hover .StylableButton2545352419__label {
  color: #1a1855;
}

#comp-lqwpysno .style-lqywy8r9__root:hover .StylableButton2545352419__icon {
  fill: #757575;
}
