.comp-lqxwjw2t {
            --wix-color-1: 255,255,255;
--wix-color-2: 182,182,184;
--wix-color-3: 153,154,159;
--wix-color-4: 102,103,111;
--wix-color-5: 51,52,63;
--wix-color-6: 182,183,196;
--wix-color-7: 110,112,136;
--wix-color-8: 51,52,63;
--wix-color-9: 34,35,42;
--wix-color-10: 17,17,21;
--wix-color-11: 215,215,225;
--wix-color-12: 174,175,194;
--wix-color-13: 134,135,164;
--wix-color-14: 97,99,129;
--wix-color-15: 102,103,111;
--wix-color-16: 251,251,251;
--wix-color-17: 182,182,184;
--wix-color-18: 185,185,185;
--wix-color-19: 124,124,124;
--wix-color-20: 62,62,62;
--wix-color-21: 252,222,147;
--wix-color-22: 248,189,38;
--wix-color-23: 208,151,7;
--wix-color-24: 139,101,4;
--wix-color-25: 69,50,2;
--wix-color-26: 255,255,255;
--wix-color-27: 51,52,63;
--wix-color-28: 182,182,184;
--wix-color-29: 153,154,159;
--wix-color-30: 102,103,111;
--wix-color-31: 239,239,239;
--wix-color-32: 40,38,38;
--wix-color-33: 233,226,215;
--wix-color-34: 203,200,194;
--wix-color-35: 51,52,63;
--wix-color-36: 51,52,63;
--wix-color-37: 102,103,111;
--wix-color-38: 51,52,63;
--wix-color-39: 51,52,63;
--wix-color-40: 255,255,255;
--wix-color-41: 255,255,255;
--wix-color-42: 51,52,63;
--wix-color-43: 51,52,63;
--wix-color-44: 153,154,159;
--wix-color-45: 153,154,159;
--wix-color-46: 255,255,255;
--wix-color-47: 255,255,255;
--wix-color-48: 51,52,63;
--wix-color-49: 51,52,63;
--wix-color-50: 51,52,63;
--wix-color-51: 51,52,63;
--wix-color-52: 255,255,255;
--wix-color-53: 255,255,255;
--wix-color-54: 153,154,159;
--wix-color-55: 153,154,159;
--wix-font-Title: normal normal normal 88px/1.2em montserrat,sans-serif;
--wix-font-Title-style: normal;
--wix-font-Title-variant: normal;
--wix-font-Title-weight: normal;
--wix-font-Title-size: 88px;
--wix-font-Title-line-height: 1.2em;
--wix-font-Title-family: montserrat,sans-serif;
--wix-font-Title-text-decoration: none;
--wix-font-Menu: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496,sans-serif;
--wix-font-Menu-style: normal;
--wix-font-Menu-variant: normal;
--wix-font-Menu-weight: normal;
--wix-font-Menu-size: 14px;
--wix-font-Menu-line-height: 1.79em;
--wix-font-Menu-family: avenir-lt-w01_35-light1475496,sans-serif;
--wix-font-Menu-text-decoration: none;
--wix-font-Page-title: normal normal normal 72px/1.25em montserrat,sans-serif;
--wix-font-Page-title-style: normal;
--wix-font-Page-title-variant: normal;
--wix-font-Page-title-weight: normal;
--wix-font-Page-title-size: 72px;
--wix-font-Page-title-line-height: 1.25em;
--wix-font-Page-title-family: montserrat,sans-serif;
--wix-font-Page-title-text-decoration: none;
--wix-font-Heading-XL: normal normal normal 50px/1.34em montserrat,sans-serif;
--wix-font-Heading-XL-style: normal;
--wix-font-Heading-XL-variant: normal;
--wix-font-Heading-XL-weight: normal;
--wix-font-Heading-XL-size: 50px;
--wix-font-Heading-XL-line-height: 1.34em;
--wix-font-Heading-XL-family: montserrat,sans-serif;
--wix-font-Heading-XL-text-decoration: none;
--wix-font-Heading-L: normal normal normal 40px/1.35em montserrat,sans-serif;
--wix-font-Heading-L-style: normal;
--wix-font-Heading-L-variant: normal;
--wix-font-Heading-L-weight: normal;
--wix-font-Heading-L-size: 40px;
--wix-font-Heading-L-line-height: 1.35em;
--wix-font-Heading-L-family: montserrat,sans-serif;
--wix-font-Heading-L-text-decoration: none;
--wix-font-Heading-M: normal normal normal 28px/1.38em montserrat,sans-serif;
--wix-font-Heading-M-style: normal;
--wix-font-Heading-M-variant: normal;
--wix-font-Heading-M-weight: normal;
--wix-font-Heading-M-size: 28px;
--wix-font-Heading-M-line-height: 1.38em;
--wix-font-Heading-M-family: montserrat,sans-serif;
--wix-font-Heading-M-text-decoration: none;
--wix-font-Heading-S: normal normal normal 22px/1.41em montserrat,sans-serif;
--wix-font-Heading-S-style: normal;
--wix-font-Heading-S-variant: normal;
--wix-font-Heading-S-weight: normal;
--wix-font-Heading-S-size: 22px;
--wix-font-Heading-S-line-height: 1.41em;
--wix-font-Heading-S-family: montserrat,sans-serif;
--wix-font-Heading-S-text-decoration: none;
--wix-font-Body-L: normal normal normal 20px/1.67em montserrat,sans-serif;
--wix-font-Body-L-style: normal;
--wix-font-Body-L-variant: normal;
--wix-font-Body-L-weight: normal;
--wix-font-Body-L-size: 20px;
--wix-font-Body-L-line-height: 1.67em;
--wix-font-Body-L-family: montserrat,sans-serif;
--wix-font-Body-L-text-decoration: none;
--wix-font-Body-M: normal normal normal 18px/1.75em montserrat,sans-serif;
--wix-font-Body-M-style: normal;
--wix-font-Body-M-variant: normal;
--wix-font-Body-M-weight: normal;
--wix-font-Body-M-size: 18px;
--wix-font-Body-M-line-height: 1.75em;
--wix-font-Body-M-family: montserrat,sans-serif;
--wix-font-Body-M-text-decoration: none;
--wix-font-Body-S: normal normal normal 15px/1.88em montserrat,sans-serif;
--wix-font-Body-S-style: normal;
--wix-font-Body-S-variant: normal;
--wix-font-Body-S-weight: normal;
--wix-font-Body-S-size: 15px;
--wix-font-Body-S-line-height: 1.88em;
--wix-font-Body-S-family: montserrat,sans-serif;
--wix-font-Body-S-text-decoration: none;
--wix-font-Body-XS: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496,sans-serif;
--wix-font-Body-XS-style: normal;
--wix-font-Body-XS-variant: normal;
--wix-font-Body-XS-weight: normal;
--wix-font-Body-XS-size: 14px;
--wix-font-Body-XS-line-height: 1.79em;
--wix-font-Body-XS-family: avenir-lt-w01_35-light1475496,sans-serif;
--wix-font-Body-XS-text-decoration: none;
--wix-font-LIGHT: normal normal normal 12px/1.4em HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-style: normal;
--wix-font-LIGHT-variant: normal;
--wix-font-LIGHT-weight: normal;
--wix-font-LIGHT-size: 12px;
--wix-font-LIGHT-line-height: 1.4em;
--wix-font-LIGHT-family: HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-text-decoration: none;
--wix-font-MEDIUM: normal normal normal 12px/1.4em HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-style: normal;
--wix-font-MEDIUM-variant: normal;
--wix-font-MEDIUM-weight: normal;
--wix-font-MEDIUM-size: 12px;
--wix-font-MEDIUM-line-height: 1.4em;
--wix-font-MEDIUM-family: HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-text-decoration: none;
--wix-font-STRONG: normal normal normal 12px/1.4em HelveticaNeueW01-65Medi;
--wix-font-STRONG-style: normal;
--wix-font-STRONG-variant: normal;
--wix-font-STRONG-weight: normal;
--wix-font-STRONG-size: 12px;
--wix-font-STRONG-line-height: 1.4em;
--wix-font-STRONG-family: HelveticaNeueW01-65Medi;
--wix-font-STRONG-text-decoration: none;
            --wix-direction: ltr;
--videoPlay: 1;
--newItemsDetails: 1;
--gallerySliderImageRatio: 1;
--gridStyle: 1;
--gallerySize: 45;
--te-padding-slider: 30;
--newItemsLocation: 0;
--collageDensity: 100;
--loveCounter: 1;
--galleryLayout: 4;
--galleryVerticalAlign: 1;
--galleryHorizontalAlign: 1;
--thumbnailSpacings: 10;
--imageResize: 1;
--arrowsVerticalPosition: 0;
--designedPresetId: -1;
--allowFixedGalleryRatio: 0;
--fixedGalleryRatio: 2;
--slideshowLoop: 1;
--isAutoSlideshow: 1;
--autoSlideshowType: 1;
--slideTransition: 0;
--imageMargin: 0;
--itemClick: 2;
--previewHover: 0;
--m_designedPresetId: -1;
--m_showArrows: 0;
--textFont: normal normal normal 20px/1.4em montserrat,sans-serif;
--itemIconColor: 255,255,255;
--itemIconColor-rgb: 255,255,255;
--itemIconColor-opacity: 1;
--titleColorExpand: 51,52,63;
--titleColorExpand-rgb: 51,52,63;
--titleColorExpand-opacity: 1;
--loadMoreButtonFontColor: 51,52,63;
--loadMoreButtonFontColor-rgb: 51,52,63;
--loadMoreButtonFontColor-opacity: 1;
--itemDescriptionFontColor: 255,255,255;
--itemDescriptionFontColor-rgb: 255,255,255;
--itemDescriptionFontColor-opacity: 1;
--itemOpacity: 102,103,111,0;
--itemOpacity-rgb: 102,103,111;
--itemOpacity-opacity: 0;
--loadMoreButtonColor: 255,255,255;
--loadMoreButtonColor-rgb: 255,255,255;
--loadMoreButtonColor-opacity: 1;
--loadMoreButtonBorderColor: 51,52,63;
--loadMoreButtonBorderColor-rgb: 51,52,63;
--loadMoreButtonBorderColor-opacity: 1;
--itemFontColorSlideshow: 51,52,63;
--itemFontColorSlideshow-rgb: 51,52,63;
--itemFontColorSlideshow-opacity: 1;
--itemFontColor: 255,255,255;
--itemFontColor-rgb: 255,255,255;
--itemFontColor-opacity: 1;
--itemIconColorSlideshow: 51,52,63;
--itemIconColorSlideshow-rgb: 51,52,63;
--itemIconColorSlideshow-opacity: 1;
--foreColor: 182,182,184;
--foreColor-rgb: 182,182,184;
--foreColor-opacity: 1;
--bgColorExpand: 255,255,255;
--bgColorExpand-rgb: 255,255,255;
--bgColorExpand-opacity: 1;
--descriptionColorExpand: 51,52,63;
--descriptionColorExpand-rgb: 51,52,63;
--descriptionColorExpand-opacity: 1;
--actionsColorExpand: 51,52,63;
--actionsColorExpand-rgb: 51,52,63;
--actionsColorExpand-opacity: 1;
--backColor: 182,182,184;
--backColor-rgb: 182,182,184;
--backColor-opacity: 1;
--itemDescriptionFontColorSlideshow: 51,52,63;
--itemDescriptionFontColorSlideshow-rgb: 51,52,63;
--itemDescriptionFontColorSlideshow-opacity: 1;
--te-background-color-picker: 110,112,136;
--te-background-color-picker-rgb: 110,112,136;
--te-background-color-picker-opacity: 1;
--overlayGradientColor1: 255,255,255;
--overlayGradientColor1-rgb: 255,255,255;
--overlayGradientColor1-opacity: 1;
--overlayGradientColor2: 255,255,255;
--overlayGradientColor2-rgb: 255,255,255;
--overlayGradientColor2-opacity: 1;
--arrowsColor: 255,255,255;
--arrowsColor-rgb: 255,255,255;
--arrowsColor-opacity: 1;
--textBoxFillColor: 182,182,184;
--textBoxFillColor-rgb: 182,182,184;
--textBoxFillColor-opacity: 1;
--customButtonFontColorForHover: 51,52,63;
--customButtonFontColorForHover-rgb: 51,52,63;
--customButtonFontColorForHover-opacity: 1;
--externalCustomButtonColor: 51,52,63,0;
--externalCustomButtonColor-rgb: 51,52,63;
--externalCustomButtonColor-opacity: 0;
--externalCustomButtonBorderColor: 51,52,63;
--externalCustomButtonBorderColor-rgb: 51,52,63;
--externalCustomButtonBorderColor-opacity: 1;
--customButtonFontColor: 255,255,255;
--customButtonFontColor-rgb: 255,255,255;
--customButtonFontColor-opacity: 1;
--customButtonColor: 255,255,255,0;
--customButtonColor-rgb: 255,255,255;
--customButtonColor-opacity: 0;
--customButtonBorderColor: 255,255,255;
--customButtonBorderColor-rgb: 255,255,255;
--customButtonBorderColor-opacity: 1;
--arrowsContainerBackgroundColor: 51,52,63,0.6;
--arrowsContainerBackgroundColor-rgb: 51,52,63;
--arrowsContainerBackgroundColor-opacity: 0.6;
--itemBorderColor: 51,52,63;
--itemBorderColor-rgb: 51,52,63;
--itemBorderColor-opacity: 1;
--textBoxBorderColor: 51,52,63;
--textBoxBorderColor-rgb: 51,52,63;
--textBoxBorderColor-opacity: 1;
--itemShadowOpacityAndColor: 51,52,63,0.2;
--itemShadowOpacityAndColor-rgb: 51,52,63;
--itemShadowOpacityAndColor-opacity: 0.2;
--imageLoadingColor: 182,182,184;
--imageLoadingColor-rgb: 182,182,184;
--imageLoadingColor-opacity: 1;
--oneColorAnimationColor: 255,255,255;
--oneColorAnimationColor-rgb: 255,255,255;
--oneColorAnimationColor-opacity: 1;
--m_overlayGradientColor1: 255,255,255;
--m_overlayGradientColor1-rgb: 255,255,255;
--m_overlayGradientColor1-opacity: 1;
--m_overlayGradientColor2: 255,255,255;
--m_overlayGradientColor2-rgb: 255,255,255;
--m_overlayGradientColor2-opacity: 1;
--m_itemOpacity: 102,103,111,0;
--m_itemOpacity-rgb: 102,103,111;
--m_itemOpacity-opacity: 0;
--m_itemIconColorSlideshow: 51,52,63;
--m_itemIconColorSlideshow-rgb: 51,52,63;
--m_itemIconColorSlideshow-opacity: 1;
--m_itemIconColor: 255,255,255;
--m_itemIconColor-rgb: 255,255,255;
--m_itemIconColor-opacity: 1;
--m_arrowsColor: 255,255,255;
--m_arrowsColor-rgb: 255,255,255;
--m_arrowsColor-opacity: 1;
--m_itemFontColor: 255,255,255;
--m_itemFontColor-rgb: 255,255,255;
--m_itemFontColor-opacity: 1;
--m_itemFontColorSlideshow: 51,52,63;
--m_itemFontColorSlideshow-rgb: 51,52,63;
--m_itemFontColorSlideshow-opacity: 1;
--m_itemDescriptionFontColor: 255,255,255;
--m_itemDescriptionFontColor-rgb: 255,255,255;
--m_itemDescriptionFontColor-opacity: 1;
--m_itemDescriptionFontColorSlideshow: 51,52,63;
--m_itemDescriptionFontColorSlideshow-rgb: 51,52,63;
--m_itemDescriptionFontColorSlideshow-opacity: 1;
--m_customButtonFontColorForHover: 51,52,63;
--m_customButtonFontColorForHover-rgb: 51,52,63;
--m_customButtonFontColorForHover-opacity: 1;
--m_externalCustomButtonColor: 51,52,63,0;
--m_externalCustomButtonColor-rgb: 51,52,63;
--m_externalCustomButtonColor-opacity: 0;
--m_externalCustomButtonBorderColor: 51,52,63;
--m_externalCustomButtonBorderColor-rgb: 51,52,63;
--m_externalCustomButtonBorderColor-opacity: 1;
--m_customButtonFontColor: 255,255,255;
--m_customButtonFontColor-rgb: 255,255,255;
--m_customButtonFontColor-opacity: 1;
--m_customButtonColor: 255,255,255,0;
--m_customButtonColor-rgb: 255,255,255;
--m_customButtonColor-opacity: 0;
--m_customButtonBorderColor: 255,255,255;
--m_customButtonBorderColor-rgb: 255,255,255;
--m_customButtonBorderColor-opacity: 1;
--m_loadMoreButtonFontColor: 51,52,63;
--m_loadMoreButtonFontColor-rgb: 51,52,63;
--m_loadMoreButtonFontColor-opacity: 1;
--m_loadMoreButtonColor: 255,255,255;
--m_loadMoreButtonColor-rgb: 255,255,255;
--m_loadMoreButtonColor-opacity: 1;
--m_loadMoreButtonBorderColor: 51,52,63;
--m_loadMoreButtonBorderColor-rgb: 51,52,63;
--m_loadMoreButtonBorderColor-opacity: 1;
--m_arrowsContainerBackgroundColor: 51,52,63,0.6;
--m_arrowsContainerBackgroundColor-rgb: 51,52,63;
--m_arrowsContainerBackgroundColor-opacity: 0.6;
--m_itemBorderColor: 51,52,63;
--m_itemBorderColor-rgb: 51,52,63;
--m_itemBorderColor-opacity: 1;
--m_itemShadowOpacityAndColor: 51,52,63,0.2;
--m_itemShadowOpacityAndColor-rgb: 51,52,63;
--m_itemShadowOpacityAndColor-opacity: 0.2;
--m_oneColorAnimationColor: 255,255,255;
--m_oneColorAnimationColor-rgb: 255,255,255;
--m_oneColorAnimationColor-opacity: 1;
--backgroundColor: 153,154,159;
--backgroundColor-rgb: 153,154,159;
--backgroundColor-opacity: 1;
--textColor: 51,52,63;
--textColor-rgb: 51,52,63;
--textColor-opacity: 1;
--text-editor-font-1499935685614: normal normal normal 40px/50px avenir-lt-w01_35-light1475496,sans-serif;
--text-editor-font-1499935685614-style: normal;
--text-editor-font-1499935685614-variant: normal;
--text-editor-font-1499935685614-weight: normal;
--text-editor-font-1499935685614-size: 40px;
--text-editor-font-1499935685614-line-height: 50px;
--text-editor-font-1499935685614-family: avenir-lt-w01_35-light1475496,sans-serif;
--text-editor-font-1499935685614-text-decoration: none;
--text-editor-font: normal normal normal 30px/37px avenir-lt-w01_85-heavy1475544,sans-serif;
--text-editor-font-style: normal;
--text-editor-font-variant: normal;
--text-editor-font-weight: normal;
--text-editor-font-size: 30px;
--text-editor-font-line-height: 37px;
--text-editor-font-family: avenir-lt-w01_85-heavy1475544,sans-serif;
--text-editor-font-text-decoration: none;
--itemDescriptionFont: normal normal normal 15px/18px avenir-lt-w01_35-light1475496,sans-serif;
--itemDescriptionFont-style: normal;
--itemDescriptionFont-variant: normal;
--itemDescriptionFont-weight: normal;
--itemDescriptionFont-size: 15px;
--itemDescriptionFont-line-height: 18px;
--itemDescriptionFont-family: avenir-lt-w01_35-light1475496,sans-serif;
--itemDescriptionFont-text-decoration: none;
--loadMoreButtonFont: normal normal normal 18px/1.75em montserrat,sans-serif;
--loadMoreButtonFont-style: normal;
--loadMoreButtonFont-variant: normal;
--loadMoreButtonFont-weight: normal;
--loadMoreButtonFont-size: 18px;
--loadMoreButtonFont-line-height: 1.75em;
--loadMoreButtonFont-family: montserrat,sans-serif;
--loadMoreButtonFont-text-decoration: none;
--itemFontSlideshow: normal normal normal 22px/27px avenir-lt-w01_85-heavy1475544,sans-serif;
--itemFontSlideshow-style: normal;
--itemFontSlideshow-variant: normal;
--itemFontSlideshow-weight: normal;
--itemFontSlideshow-size: 22px;
--itemFontSlideshow-line-height: 27px;
--itemFontSlideshow-family: avenir-lt-w01_85-heavy1475544,sans-serif;
--itemFontSlideshow-text-decoration: none;
--titleFontExpand: normal normal normal 72px/1.25em montserrat,sans-serif;
--titleFontExpand-style: normal;
--titleFontExpand-variant: normal;
--titleFontExpand-weight: normal;
--titleFontExpand-size: 72px;
--titleFontExpand-line-height: 1.25em;
--titleFontExpand-family: montserrat,sans-serif;
--titleFontExpand-text-decoration: none;
--itemDescriptionFontSlideshow: normal normal normal 15px/18px avenir-lt-w01_35-light1475496,sans-serif;
--itemDescriptionFontSlideshow-style: normal;
--itemDescriptionFontSlideshow-variant: normal;
--itemDescriptionFontSlideshow-weight: normal;
--itemDescriptionFontSlideshow-size: 15px;
--itemDescriptionFontSlideshow-line-height: 18px;
--itemDescriptionFontSlideshow-family: avenir-lt-w01_35-light1475496,sans-serif;
--itemDescriptionFontSlideshow-text-decoration: none;
--descriptionFontExpand: normal normal normal 18px/1.75em montserrat,sans-serif;
--descriptionFontExpand-style: normal;
--descriptionFontExpand-variant: normal;
--descriptionFontExpand-weight: normal;
--descriptionFontExpand-size: 18px;
--descriptionFontExpand-line-height: 1.75em;
--descriptionFontExpand-family: montserrat,sans-serif;
--descriptionFontExpand-text-decoration: none;
--itemFont: normal normal normal 28px/1.38em montserrat,sans-serif;
--itemFont-style: normal;
--itemFont-variant: normal;
--itemFont-weight: normal;
--itemFont-size: 28px;
--itemFont-line-height: 1.38em;
--itemFont-family: montserrat,sans-serif;
--itemFont-text-decoration: none;
--customButtonFontForHover: normal normal normal 15px/18px montserrat,sans-serif;
--customButtonFontForHover-style: normal;
--customButtonFontForHover-variant: normal;
--customButtonFontForHover-weight: normal;
--customButtonFontForHover-size: 15px;
--customButtonFontForHover-line-height: 18px;
--customButtonFontForHover-family: montserrat,sans-serif;
--customButtonFontForHover-text-decoration: none;
--customButtonFont: normal normal normal 15px/18px montserrat,sans-serif;
--customButtonFont-style: normal;
--customButtonFont-variant: normal;
--customButtonFont-weight: normal;
--customButtonFont-size: 15px;
--customButtonFont-line-height: 18px;
--customButtonFont-family: montserrat,sans-serif;
--customButtonFont-text-decoration: none;
--m_itemFont: normal normal normal 28px/35px montserrat,sans-serif;
--m_itemFont-style: normal;
--m_itemFont-variant: normal;
--m_itemFont-weight: normal;
--m_itemFont-size: 28px;
--m_itemFont-line-height: 35px;
--m_itemFont-family: montserrat,sans-serif;
--m_itemFont-text-decoration: none;
--m_itemFontSlideshow: normal normal normal 22px/27px avenir-lt-w01_85-heavy1475544,sans-serif;
--m_itemFontSlideshow-style: normal;
--m_itemFontSlideshow-variant: normal;
--m_itemFontSlideshow-weight: normal;
--m_itemFontSlideshow-size: 22px;
--m_itemFontSlideshow-line-height: 27px;
--m_itemFontSlideshow-family: avenir-lt-w01_85-heavy1475544,sans-serif;
--m_itemFontSlideshow-text-decoration: none;
--m_itemDescriptionFont: normal normal normal 15px/18px avenir-lt-w01_35-light1475496,sans-serif;
--m_itemDescriptionFont-style: normal;
--m_itemDescriptionFont-variant: normal;
--m_itemDescriptionFont-weight: normal;
--m_itemDescriptionFont-size: 15px;
--m_itemDescriptionFont-line-height: 18px;
--m_itemDescriptionFont-family: avenir-lt-w01_35-light1475496,sans-serif;
--m_itemDescriptionFont-text-decoration: none;
--m_itemDescriptionFontSlideshow: normal normal normal 15px/18px avenir-lt-w01_35-light1475496,sans-serif;
--m_itemDescriptionFontSlideshow-style: normal;
--m_itemDescriptionFontSlideshow-variant: normal;
--m_itemDescriptionFontSlideshow-weight: normal;
--m_itemDescriptionFontSlideshow-size: 15px;
--m_itemDescriptionFontSlideshow-line-height: 18px;
--m_itemDescriptionFontSlideshow-family: avenir-lt-w01_35-light1475496,sans-serif;
--m_itemDescriptionFontSlideshow-text-decoration: none;
--m_customButtonFontForHover: normal normal normal 15px/18px montserrat,sans-serif;
--m_customButtonFontForHover-style: normal;
--m_customButtonFontForHover-variant: normal;
--m_customButtonFontForHover-weight: normal;
--m_customButtonFontForHover-size: 15px;
--m_customButtonFontForHover-line-height: 18px;
--m_customButtonFontForHover-family: montserrat,sans-serif;
--m_customButtonFontForHover-text-decoration: none;
--m_customButtonFont: normal normal normal 15px/18px montserrat,sans-serif;
--m_customButtonFont-style: normal;
--m_customButtonFont-variant: normal;
--m_customButtonFont-weight: normal;
--m_customButtonFont-size: 15px;
--m_customButtonFont-line-height: 18px;
--m_customButtonFont-family: montserrat,sans-serif;
--m_customButtonFont-text-decoration: none;
--m_loadMoreButtonFont: normal normal normal 18px/22px montserrat,sans-serif;
--m_loadMoreButtonFont-style: normal;
--m_loadMoreButtonFont-variant: normal;
--m_loadMoreButtonFont-weight: normal;
--m_loadMoreButtonFont-size: 18px;
--m_loadMoreButtonFont-line-height: 22px;
--m_loadMoreButtonFont-family: montserrat,sans-serif;
--m_loadMoreButtonFont-text-decoration: none;
--textFont-style: normal;
--textFont-variant: normal;
--textFont-weight: normal;
--textFont-size: 20px;
--textFont-line-height: 1.4em;
--textFont-family: montserrat,sans-serif;
--textFont-text-decoration: none;
        }