#u6k6f {
  width: auto;
  min-height: 40px;
}
#pageBackground_u6k6f {
  --bg-position: absolute;
  --bg-overlay-color: rgb(232, 230, 230);
  --bg-gradient: none;
}
#comp-lqwpyskw {
  --fill-layer-image-opacity: 1;
  --bg-overlay-color: rgb(255, 255, 255);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lqwpysl23 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-lqwpysl65 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-lqwpysle2 {
  --height: 38px;
  --width: 103px;
}
#comp-lqwpyslg1 {
  --min-height: 148px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqxz7wky {
  --shc-mutated-brightness: 7, 96, 43;
}
#comp-lqwpysli1 {
  --min-height: 24px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqxz5x1p {
  --min-height: 24px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqwpysll3 {
  height: auto;
  --transition-duration: 1000ms;
  --transition-overflow: clip;
  --slides-overflow: visible;
  --nav-dot-section-display: none;
  --nav-button-display: none;
}
#comp-lqwpyslo {
  position: relative;
  width: 100%;
  height: auto;
  --bg-overlay-color: transparent;
  --bg-gradient: none;
}
#comp-lqwpyslp3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqwpyslr2 {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --align: start;
  --direction: var(--wix-opt-in-direction, ltr);
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --arrowInsetInlineStart: auto;
  --arrowInsetInlineEnd: 0;
  --labelMarginBottom: 10px;
  --requiredIndicationDisplay: inline;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  --textPaddingInput_start: 15px;
  --textPaddingInput_end: 48px;
  height: auto;
  --inputHeight: 38px;
}
#listModal_comp-lqwpyslr2 {
  height: 100%;
  --align: start;
  --direction: var(--wix-opt-in-direction, ltr);
  --dropdownDirection: inherit;
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --dropdownItemsSpacing: 16px;
  --dropdownOptionJustifyContent: flex-start;
  --textPaddingDropDown_start: 15px;
  --textPaddingDropDown_end: 0px;
  width: initial;
}
#comp-lqwpysly2 {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 15px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 38px;
}
#comp-lqwpysm4 {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 15px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 38px;
}
#comp-lqwpysm52 {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 15px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 38px;
}
#comp-lqwpysm64 {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 15px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 38px;
}
#comp-lqxs7v4n {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --align: start;
  --direction: var(--wix-opt-in-direction, ltr);
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --arrowInsetInlineStart: auto;
  --arrowInsetInlineEnd: 0;
  --labelMarginBottom: 10px;
  --requiredIndicationDisplay: inline;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  --textPaddingInput_start: 15px;
  --textPaddingInput_end: 48px;
  height: auto;
  --inputHeight: 38px;
}
#listModal_comp-lqxs7v4n {
  height: 100%;
  --align: start;
  --direction: var(--wix-opt-in-direction, ltr);
  --dropdownDirection: inherit;
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --dropdownItemsSpacing: 16px;
  --dropdownOptionJustifyContent: flex-start;
  --textPaddingDropDown_start: 15px;
  --textPaddingDropDown_end: 0px;
  width: initial;
}
#comp-lqwpysm75 {
  --checkboxSize: 18px;
  --fnt: normal normal normal 12px/1.2em montserrat, sans-serif;
  --checkmarkMargin_start: -18px;
  --labelMargin_start: 16px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-lqwpysmb3 {
  --checkboxSize: 18px;
  --fnt: normal normal normal 12px/1.2em montserrat, sans-serif;
  --checkmarkMargin_start: -18px;
  --labelMargin_start: 16px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-lqwpysmc6 {
  --shc-mutated-brightness: 29, 105, 58;
  --margin-start: 0px;
  --margin-end: 0px;
  --fnt: normal normal 700 14px/1.2em montserrat, sans-serif;
  direction: var(--wix-opt-in-direction, ltr);
  --label-align: center;
  --label-text-align: center;
}
#comp-lqwpysmf4 {
  position: relative;
  width: 100%;
  height: auto;
  --bg-overlay-color: transparent;
  --bg-gradient: none;
}
#comp-lqxroqzv {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #33343f;
  --stroke-opacity: 1;
  --fill: #36e17a;
}
#comp-lqwpysmg6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqwpysmi {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqwpysmj2 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #ffffff;
}
#comp-lqwpysmo4 {
  --height: 45px;
  --width: 196px;
}
#comp-lqwpysn68 {
  --bg-overlay-color: rgba(var(--color_36), 0.45);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lqwpysn78 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqwpysn85 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqwpysmp6 {
  --bg-gradient:
    radial-gradient(circle at 94.35384114583333% 89.61588541666666%, #a0fb17 0%, 20%, rgba(160, 251, 23, 0) 40%),
    radial-gradient(
      circle at 6.503906249999999% 88.037109375%,
      rgba(27, 148, 204, 0.99) 0%,
      25%,
      rgba(27, 148, 204, 0) 50%
    ),
    radial-gradient(circle at 6.165364583333333% 12.617187499999998%, #0ec055 0%, 42%, rgba(14, 192, 85, 0) 70%),
    radial-gradient(circle at 90.41666666666667% 10%, #0ec055 0%, 42%, rgba(14, 192, 85, 0) 70%),
    radial-gradient(circle at 48.9013671875% 49.521484375%, #ffffff 0%, 100%, rgba(255, 255, 255, 0) 100%);
  --bg-overlay-color: transparent;
  min-width: 980px;
}
#comp-lqxzqnpk {
  --height: 304px;
  --width: 600px;
}
#comp-lqxzqxz9 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqywwr19 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqwpysmy1 {
  --bg-overlay-color: rgba(var(--color_36), 0.42);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lqy0l47f {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqxy6w1o {
  --shc-mutated-brightness: 7, 96, 43;
}
#comp-lqwpysnm1 {
  --bg-gradient:
    radial-gradient(circle at 94.35384114583333% 89.61588541666666%, #a0fb17 0%, 20%, rgba(160, 251, 23, 0) 40%),
    radial-gradient(
      circle at 6.503906249999999% 88.037109375%,
      rgba(27, 148, 204, 0.99) 0%,
      25%,
      rgba(27, 148, 204, 0) 50%
    ),
    radial-gradient(circle at 6.165364583333333% 12.617187499999998%, #0ec055 0%, 42%, rgba(14, 192, 85, 0) 70%),
    radial-gradient(circle at 90.41666666666667% 10%, #0ec055 0%, 42%, rgba(14, 192, 85, 0) 70%),
    radial-gradient(circle at 48.9013671875% 49.521484375%, #ffffff 0%, 100%, rgba(255, 255, 255, 0) 100%);
  --bg-overlay-color: transparent;
  min-width: 980px;
}
#comp-lqwpysnn3 {
  --min-height: 28px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqy1gdct {
  --min-height: 28px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqwpysoa3 {
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lqwpysob {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqwpysoc {
  --bg-overlay-color: rgb(50, 50, 50);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lqwpysoc9 {
  --height: 45px;
  --width: 122px;
}
#comp-lqwpysod6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqwpysof1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqwpysoh1 {
  --item-size: 39px;
  --item-margin-block: 0;
  --item-margin-inline: 0px 10px;
  --item-display: inline-block;
  --direction: var(--wix-opt-in-direction, ltr);
  width: 235px;
  height: 39px;
}
