.comp-lqxwjw2t div.pro-gallery-parent-container .gallery-item-wrapper-text .gallery-item-content {
  background-color: #33343f;
}
.comp-lqxwjw2t div.pro-gallery-parent-container .show-more-container i.show-more {
  color: rgba(0, 0, 0, 0.7);
}
.comp-lqxwjw2t div.pro-gallery-parent-container .show-more-container button.show-more {
  --loadMoreButtonBorderRadius: 0;
  --loadMoreButtonBorderColor: #33343f;
  --loadMoreButtonBorderWidth: 1;
  --loadMoreButtonColor: #ffffff;
  --loadMoreButtonFont: normal normal normal 18px/1.75em montserrat, sans-serif;
  --loadMoreButtonFontColor: #33343f;
  color: rgba(51, 52, 63, 0.9);
  font:
    normal normal normal 18px/1.75em montserrat,
    sans-serif;
  text-decoration:;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(51, 52, 63);
  border-radius: 0px;
}
.comp-lqxwjw2t div.pro-gallery-parent-container .show-more-container.pro-gallery-mobile-indicator i.show-more {
  color: rgba(0, 0, 0, 0.7);
}
.comp-lqxwjw2t div.pro-gallery-parent-container .show-more-container.pro-gallery-mobile-indicator button.show-more {
  --loadMoreButtonBorderRadius: 0;
  --loadMoreButtonBorderColor: #33343f;
  --loadMoreButtonBorderWidth: 1;
  --loadMoreButtonColor: #ffffff;
  --loadMoreButtonFont: normal normal normal 18px/1.75em montserrat, sans-serif;
  --loadMoreButtonFontColor: #33343f;
  color: rgb(51, 52, 63);
  font:
    normal normal normal 18px/22px montserrat,
    sans-serif;
  text-decoration:;
  background: rgb(255, 255, 255);
  border-width: undefinedpx;
  border-color: rgb(51, 52, 63);
  border-radius: undefinedpx;
}
.comp-lqxwjw2t .nav-arrows-container .slideshow-arrow,
.comp-lqxwjw2t .nav-arrows-container .custom-nav-arrows svg {
  --arrowsColor: #ffffff;
  fill: rgb(255, 255, 255);
}
.comp-lqxwjw2t .nav-arrows-container.pro-gallery-mobile-indicator .slideshow-arrow,
.comp-lqxwjw2t .nav-arrows-container.pro-gallery-mobile-indicator .custom-nav-arrows svg {
  --arrowsColor: #ffffff;
  fill: rgb(255, 255, 255);
}
.comp-lqxwjw2t .pro-gallery.inline-styles .auto-slideshow-counter {
  --itemDescriptionFontSlideshow: normal normal normal 15px/1.75em montserrat, sans-serif;
  --itemDescriptionFontColorSlideshow: #33343f;
  color: rgb(51, 52, 63) !important;
  font:
    normal normal normal 15px/18px avenir-lt-w01_35-light1475496,
    sans-serif;
  text-decoration:;
}
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info {
  --itemIconColorSlideshow: #33343f;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-slideshow-info
  i:not(.pro-gallery-loved):not(.info-element-loved),
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-slideshow-info
  button:not(.pro-gallery-loved):not(.info-element-loved):not(.info-element-custom-button-button):not(
    .artstore-add-to-cart-button
  ),
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info a {
  color: rgb(51, 52, 63) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-slideshow-info
  svg
  .gallery-item-svg-foreground {
  fill: rgb(51, 52, 63) !important;
}
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .gallery-item-title,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .info-element-title {
  --itemFontSlideshow: normal normal normal 28px/1.38em montserrat, sans-serif;
  --itemFontColorSlideshow: #33343f;
  color: rgb(51, 52, 63) !important;
  font:
    normal normal normal 22px/27px avenir-lt-w01_85-heavy1475544,
    sans-serif !important;
  text-decoration:;
}
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .gallery-item-description,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .info-element-description {
  --itemDescriptionFontSlideshow: normal normal normal 15px/1.75em montserrat, sans-serif;
  --itemDescriptionFontColorSlideshow: #33343f;
  color: rgb(51, 52, 63) !important;
  font:
    normal normal normal 15px/18px avenir-lt-w01_35-light1475496,
    sans-serif !important;
  text-decoration:;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item.load-with-color:not(.image-loaded) {
  --imageLoadingColor: #b6b6b8;
  background-color: rgb(182, 182, 184);
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item.gallery-item-video
  i.gallery-item-video-play-triangle {
  --itemFontColor: #ffffff;
  color: rgb(255, 255, 255);
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item.gallery-item-video
  i.gallery-item-video-play-background {
  --itemOpacity: #33343f;
  color: rgba(102, 103, 111, 0);
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-slideshow-info
  svg
  .gallery-item-svg-background,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  svg
  .gallery-item-svg-background {
  --itemOpacity: #33343f;
  fill: rgba(102, 103, 111, 0);
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-slideshow-info
  .gradient-top,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  .gradient-top {
  --itemOpacity: #33343f;
  background: linear-gradient(rgba(102, 103, 111, 0) 0, transparent 140px) !important;
}
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover {
  --itemIconColor: #ffffff;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  i:not(.pro-gallery-loved):not(.info-element-loved),
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  button:not(.pro-gallery-loved):not(.info-element-loved):not(.info-element-custom-button-button),
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-wrapper .gallery-item-hover a {
  color: rgb(255, 255, 255) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  svg
  .gallery-item-svg-foreground {
  fill: rgb(255, 255, 255) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  .gallery-item-title,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  .info-element-title {
  --itemFont: normal normal normal 28px/1.38em montserrat, sans-serif;
  --itemFontColor: #ffffff;
  color: rgb(255, 255, 255);
  font:
    normal normal normal 28px/1.38em montserrat,
    sans-serif;
  text-decoration:;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  .gallery-item-description,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  .info-element-description {
  --itemDescriptionFont: normal normal normal 15px/1.75em montserrat, sans-serif;
  --itemDescriptionFontColor: #ffffff;
  color: rgb(255, 255, 255) !important;
  font:
    normal normal normal 15px/18px avenir-lt-w01_35-light1475496,
    sans-serif;
  text-decoration:;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  .custom-button-wrapper,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  .info-element-custom-button-wrapper {
  --customButtonFontColor: #ffffff;
  color: rgb(255, 255, 255) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  .custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-wrapper
  .gallery-item-hover
  .info-element-custom-button-wrapper
  button {
  --customButtonColor: #33343f;
  --customButtonBorderRadius: 0;
  --customButtonBorderWidth: 1;
  --customButtonBorderColor: #ffffff;
  --customButtonFont: normal normal normal 18px/1.75em montserrat, sans-serif;
  color: rgb(255, 255, 255) !important;
  font:
    normal normal normal 15px/18px montserrat,
    sans-serif;
  text-decoration:;
  background: rgba(255, 255, 255, 0) !important;
  border-width: 1px;
  border-radius: 0px;
  border-color: rgb(255, 255, 255);
}
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container:not(.invert-hover) .gallery-item-hover:before {
  --itemOpacity: #33343f;
  background: rgba(102, 103, 111, 0) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container:not(.invert-hover)
  .gallery-item-hover.default.force-hover:before,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container:not(.invert-hover):hover
  .gallery-item-hover.default:not(.hide-hover):before {
  background: #33343f !important;
}
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container.invert-hover .gallery-item-hover:before {
  --itemOpacity: #33343f;
  background: rgba(102, 103, 111, 0) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.invert-hover
  .gallery-item-hover.default.force-hover:before,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.invert-hover:hover
  .gallery-item-hover.default:not(.hide-hover):before {
  background: #33343f !important;
}
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-bottom-info .gallery-item-title,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-bottom-info .info-element-title,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-top-info .gallery-item-title,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-top-info .info-element-title,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-left-info .gallery-item-title,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-left-info .info-element-title,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-right-info .gallery-item-title,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-right-info .info-element-title,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .gallery-item-title,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .info-element-title {
  --itemFontSlideshow: normal normal normal 22px/1.38em montserrat, sans-serif;
  --itemFontColorSlideshow: #33343f;
  color: rgb(51, 52, 63) !important;
  font:
    normal normal normal 22px/27px avenir-lt-w01_85-heavy1475544,
    sans-serif !important;
  text-decoration:;
}
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-bottom-info .gallery-item-description,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-bottom-info .info-element-description,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-top-info .gallery-item-description,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-top-info .info-element-description,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-left-info .gallery-item-description,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-left-info .info-element-description,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-right-info .gallery-item-description,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-right-info .info-element-description,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .gallery-item-description,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .info-element-description {
  --itemDescriptionFontColorSlideshow: #33343f;
  --itemDescriptionFontSlideshow: normal normal normal 15px/1.75em montserrat, sans-serif;
  color: rgb(51, 52, 63) !important;
  font:
    normal normal normal 15px/18px avenir-lt-w01_35-light1475496,
    sans-serif !important;
  text-decoration:;
}
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-text .custom-button-wrapper button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-text
  .info-element-custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-bottom-info
  .custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-bottom-info
  .info-element-custom-button-wrapper
  button,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-top-info .custom-button-wrapper button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-top-info
  .info-element-custom-button-wrapper
  button,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-item-left-info .custom-button-wrapper button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-left-info
  .info-element-custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-right-info
  .custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-item-right-info
  .info-element-custom-button-wrapper
  button,
.comp-lqxwjw2t .pro-gallery.inline-styles .gallery-item-container .gallery-slideshow-info .custom-button-wrapper button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container
  .gallery-slideshow-info
  .info-element-custom-button-wrapper
  button {
  --customButtonFontForHover: normal normal normal 18px/1.75em montserrat, sans-serif;
  --customButtonFontColorForHover: #33343f;
  --externalCustomButtonBorderWidth: 0;
  --externalCustomButtonBorderRadius: 0;
  font:
    normal normal normal 15px/18px montserrat,
    sans-serif;
  text-decoration:;
  color: rgb(51, 52, 63) !important;
  background: rgba(51, 52, 63, 0) !important;
  border-color: rgb(51, 52, 63);
  border-width: 0px;
  border-radius: 0px;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item.load-with-color:not(.image-loaded) {
  --imageLoadingColor: #b6b6b8;
  background-color: rgb(182, 182, 184);
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item.gallery-item-video
  i.gallery-item-video-play-triangle {
  --itemFontColor: #ffffff;
  color: rgb(255, 255, 255);
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item.gallery-item-video
  i.gallery-item-video-play-background {
  --itemOpacity: #33343f;
  color: rgba(102, 103, 111, 0) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-slideshow-info
  svg
  .gallery-item-svg-background,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  svg
  .gallery-item-svg-background {
  --itemOpacity: #33343f;
  fill: rgba(102, 103, 111, 0) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-slideshow-info
  .gradient-top,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  .gradient-top {
  --itemOpacity: #33343f;
  background: linear-gradient(rgba(102, 103, 111, 0) 0, transparent 140px) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-slideshow-info {
  --itemIconColorSlideshow: #33343f;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-slideshow-info
  i:not(.pro-gallery-loved):not(.info-element-loved),
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-slideshow-info
  button:not(.pro-gallery-loved):not(.info-element-loved):not(.info-element-custom-button-button):not(
    .artstore-add-to-cart-button
  ),
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-slideshow-info
  a {
  color: rgb(51, 52, 63) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-slideshow-info
  svg
  .gallery-item-svg-foreground {
  fill: rgb(51, 52, 63) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-slideshow-info
  .gallery-item-title,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-slideshow-info
  .info-element-title {
  --itemFontSlideshow: normal normal normal 28px/1.38em montserrat, sans-serif;
  --itemFontColorSlideshow: #33343f;
  color: rgb(51, 52, 63) !important;
  font:
    normal normal normal 22px/27px avenir-lt-w01_85-heavy1475544,
    sans-serif !important;
  text-decoration:;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-slideshow-info
  .gallery-item-description,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-slideshow-info
  .info-element-description {
  --itemDescriptionFontSlideshow: normal normal normal 15px/1.75em montserrat, sans-serif;
  --itemDescriptionFontColorSlideshow: #33343f;
  color: rgb(51, 52, 63) !important;
  font:
    normal normal normal 15px/18px avenir-lt-w01_35-light1475496,
    sans-serif !important;
  text-decoration:;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover {
  --itemIconColor: #ffffff;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  i:not(.pro-gallery-loved):not(.info-element-loved),
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  button:not(.pro-gallery-loved):not(.info-element-loved):not(.info-element-custom-button-button),
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  a {
  color: rgb(255, 255, 255) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  svg
  .gallery-item-svg-foreground {
  fill: rgb(255, 255, 255) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  .gallery-item-title,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  .info-element-title {
  --itemFont: normal normal normal 28px/1.38em montserrat, sans-serif;
  --itemFontColor: #ffffff;
  color: rgb(255, 255, 255);
  font:
    normal normal normal 28px/35px montserrat,
    sans-serif;
  text-decoration:;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  .gallery-item-description,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  .info-element-description {
  --itemDescriptionFont: normal normal normal 15px/1.75em montserrat, sans-serif;
  --itemDescriptionFontColor: #ffffff;
  color: rgb(255, 255, 255) !important;
  font:
    normal normal normal 15px/18px avenir-lt-w01_35-light1475496,
    sans-serif;
  text-decoration:;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  .custom-button-wrapper,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  .info-element-custom-button-wrapper {
  --customButtonFontColor: #ffffff;
  color: rgb(255, 255, 255) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  .custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-wrapper
  .gallery-item-hover
  .info-element-custom-button-wrapper
  button {
  --customButtonColor: #33343f;
  --customButtonBorderRadius: 0;
  --customButtonBorderWidth: 1;
  --customButtonBorderColor: #ffffff;
  --customButtonFont: normal normal normal 18px/1.75em montserrat, sans-serif;
  color: rgb(255, 255, 255) !important;
  font:
    normal normal normal 15px/18px montserrat,
    sans-serif;
  text-decoration:;
  background: rgba(255, 255, 255, 0) !important;
  border-width: undefinedpx;
  border-radius: undefinedpx;
  border-color: rgb(255, 255, 255);
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator:not(.invert-hover)
  .gallery-item-hover:not(.hide-hover):before {
  --itemOpacity: #33343f;
  background: rgba(102, 103, 111, 0) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator:not(.invert-hover)
  .gallery-item-hover.default.force-hover:before,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator:not(.invert-hover):hover
  .gallery-item-hover.default:not(.hide-hover):before {
  background: #33343f !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator.invert-hover
  .gallery-item-hover:before {
  --itemOpacity: #33343f;
  background: rgba(102, 103, 111, 0) !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator.invert-hover
  .gallery-item-hover.default.force-hover:before,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator.invert-hover:hover
  .gallery-item-hover.default:not(.hide-hover):before {
  background: #33343f !important;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-bottom-info
  .gallery-item-title,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-bottom-info
  .info-element-title,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-top-info
  .gallery-item-title,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-top-info
  .info-element-title,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-left-info
  .gallery-item-title,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-left-info
  .info-element-title,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-right-info
  .gallery-item-title,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-right-info
  .info-element-title,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-slideshow-info
  .gallery-item-title,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-slideshow-info
  .info-element-title {
  --itemFontSlideshow: normal normal normal 22px/1.38em montserrat, sans-serif;
  --itemFontColorSlideshow: #33343f;
  color: rgb(51, 52, 63) !important;
  font:
    normal normal normal 22px/27px avenir-lt-w01_85-heavy1475544,
    sans-serif !important;
  text-decoration:;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-bottom-info
  .gallery-item-description,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-bottom-info
  .info-element-description,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-top-info
  .gallery-item-description,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-top-info
  .info-element-description,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-left-info
  .gallery-item-description,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-left-info
  .info-element-description,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-right-info
  .gallery-item-description,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-right-info
  .info-element-description,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-slideshow-info
  .gallery-item-description,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-slideshow-info
  .info-element-description {
  --itemDescriptionFontColorSlideshow: #33343f;
  --itemDescriptionFontSlideshow: normal normal normal 15px/1.75em montserrat, sans-serif;
  color: rgb(51, 52, 63) !important;
  font:
    normal normal normal 15px/18px avenir-lt-w01_35-light1475496,
    sans-serif !important;
  text-decoration:;
}
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-text
  .custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-text
  .info-element-custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-bottom-info
  .custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-bottom-info
  .info-element-custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-top-info
  .custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-top-info
  .info-element-custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-left-info
  .custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-left-info
  .info-element-custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-right-info
  .custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-item-right-info
  .info-element-custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-slideshow-info
  .custom-button-wrapper
  button,
.comp-lqxwjw2t
  .pro-gallery.inline-styles
  .gallery-item-container.pro-gallery-mobile-indicator
  .gallery-slideshow-info
  .info-element-custom-button-wrapper
  button {
  --customButtonFontForHover: normal normal normal 18px/1.75em montserrat, sans-serif;
  --customButtonFontColorForHover: #33343f;
  --externalCustomButtonBorderWidth: 0;
  --externalCustomButtonBorderRadius: 0;
  font:
    normal normal normal 15px/18px montserrat,
    sans-serif;
  text-decoration:;
  color: rgb(51, 52, 63) !important;
  background: rgba(51, 52, 63, 0) !important;
  border-color: rgb(51, 52, 63);
  border-width: undefinedpx;
  border-radius: undefinedpx;
}
.comp-lqxwjw2t .te-pro-gallery-text-item {
  font:
    normal normal normal 15px/1.88em montserrat,
    sans-serif;
  color: #ffffff;
}
.comp-lqxwjw2t .pro-fullscreen-wrapper .pro-fullscreen-text-item {
  --fullscreen-text-item-bg: #33343f;
  background-color: #33343f;
}
.comp-lqxwjw2t .pro-fullscreen-wrapper #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles {
  --bgColorExpand: #ffffff;
  background-color: rgb(255, 255, 255);
}
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .pro-fullscreen-selected-license,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .pro-fullscreen-checkout-link {
  --descriptionColorExpand: #33343f;
  --descriptionFontExpand: normal normal normal 18px/1.75em montserrat, sans-serif;
  color: rgb(51, 52, 63);
  font:
    normal normal normal 18px/1.75em montserrat,
    sans-serif;
  text-decoration:;
}
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-bottom-mobile-info {
  --bgColorExpand: #ffffff;
  background-color: rgb(255, 255, 255);
}
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar-title
  h1 {
  --titleColorExpand: #33343f;
  --titleFontExpand: normal normal normal 28px/1.38em montserrat, sans-serif;
  color: rgb(51, 52, 63);
  font:
    normal normal normal 72px/1.25em montserrat,
    sans-serif;
  text-decoration:;
}
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar-description,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar-description
  .fullscreen-side-bar-description-line,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar-exif,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar-link,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-bottom-link {
  --descriptionColorExpand: #33343f;
  --descriptionFontExpand: normal normal normal 18px/1.75em montserrat, sans-serif;
  color: rgb(51, 52, 63);
  font:
    normal normal normal 18px/1.75em montserrat,
    sans-serif;
  text-decoration:;
}
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar-description:after,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar-description
  .fullscreen-side-bar-description-line:after,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar-exif:after,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar-link:after,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-bottom-link:after {
  --descriptionColorExpand: #33343f;
  border-color: rgb(51, 52, 63);
}
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar-social
  i:not(.pro-gallery-loved),
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar-social
  a,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-side-bar-social
  button,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-nav
  i:not(.pro-gallery-loved),
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-nav
  a,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-nav
  button,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-mobile-bar
  i:not(.pro-gallery-loved),
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-mobile-bar
  a,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-mobile-bar
  button,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-social
  i:not(.pro-gallery-loved),
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-social
  a,
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-social
  button {
  --descriptionColorExpand: #33343f;
  color: rgb(51, 52, 63);
}
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  i.fullscreen-item-video-play.progallery-svg-font-icons-play-triangle {
  --descriptionColorExpand: #33343f;
  color: rgb(51, 52, 63);
}
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  i.fullscreen-item-video-play.progallery-svg-font-icons-play-background {
  --bgColorExpand: #ffffff;
  color: rgb(255, 255, 255);
}
.comp-lqxwjw2t
  .pro-fullscreen-wrapper
  #fullscreen-view.fullscreen-bright.pro-fullscreen-inline-styles
  .fullscreen-icon {
  --descriptionColorExpand: #33343f;
  --bgColorExpand: #ffffff;
  color: rgb(51, 52, 63);
  background: rgb(255, 255, 255);
}
