/* END STYLABLE DIRECTIVE RULES */

#comp-m7ksgp43 .style-m7ktl39m__root:hover .StylableButton2545352419__icon {
  fill: #ffffff;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-m7ksgp43 .style-m7ktl39m__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border: 1px solid #33343f;
  background: #ffffff;
}

#comp-m7ksgp43 .style-m7ktl39m__root:hover {
  background: #33343f;
}

#comp-m7ksgp43 .style-m7ktl39m__root:hover .StylableButton2545352419__label {
  color: #ffffff;
}

#comp-m7ksgp43 .style-m7ktl39m__root:disabled {
  background: #e2e2e2;
}

#comp-m7ksgp43 .style-m7ktl39m__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-m7ksgp43 .style-m7ktl39m__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-m7ksgp43 .style-m7ktl39m__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-m7ksgp43 .style-m7ktl39m__root .StylableButton2545352419__label {
  transition: inherit;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #33343f;
  font-family: poppins-extralight, poppins, sans-serif;
  font-family: montserrat, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  margin: 0px 2px 0px 0px;
}

#comp-m7ksgp43 .style-m7ktl39m__root .StylableButton2545352419__icon {
  transition: inherit;
  display: initial;
  fill: #33343f;
  margin: 0px 0px 0px 2px;
  width: 12px;
  height: 12px;
}
