/* END STYLABLE DIRECTIVE RULES */

#comp-lr7x0v2n .style-m69hgj8b__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 60px;
    border: 1px solid #CC0000;
    background: #FFFFFF
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lr7x0v2n .style-m69hgj8b__root:hover{
    border: 0px solid rgb(29, 103, 205);
    background: #FF4040
}

#comp-lr7x0v2n .style-m69hgj8b__root:hover .StylableButton2545352419__label{
    color: #FFFFFF
}

#comp-lr7x0v2n .style-m69hgj8b__root:disabled{
    background: #E2E2E2
}

#comp-lr7x0v2n .style-m69hgj8b__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-lr7x0v2n .style-m69hgj8b__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-lr7x0v2n .style-m69hgj8b__root .StylableButton2545352419__container{
    transition: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#comp-lr7x0v2n .style-m69hgj8b__root .StylableButton2545352419__label{
    transition: inherit;
    font-style: normal;
    font-family: montserrat,sans-serif;
    letter-spacing: 0em;
    font-size: 14px;
    color: #CC0000;
    margin-left: 0px;
    margin-right: 2.5px;
    font-weight: 700;
    display: initial
}

#comp-lr7x0v2n .style-m69hgj8b__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 15px;
    height: 15px;
    transform: rotate(2deg);
    fill: #CC0000;
    margin-right: 0px;
    margin-left: 2.5px;
    display: none
}

#comp-lr7x0v2n .style-m69hgj8b__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF
}/* END STYLABLE DIRECTIVE RULES */

#comp-m69hi1r7 .style-m69hi1s1__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 60px;
    border: 1px solid #CC0000;
    background: #FFFFFF
}

/* START STYLABLE DIRECTIVE RULES */

#comp-m69hi1r7 .style-m69hi1s1__root:hover{
    border: 0px solid rgb(29, 103, 205);
    background: #FF4040
}

#comp-m69hi1r7 .style-m69hi1s1__root:hover .StylableButton2545352419__label{
    color: #FFFFFF
}

#comp-m69hi1r7 .style-m69hi1s1__root:disabled{
    background: #E2E2E2
}

#comp-m69hi1r7 .style-m69hi1s1__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-m69hi1r7 .style-m69hi1s1__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-m69hi1r7 .style-m69hi1s1__root .StylableButton2545352419__container{
    transition: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#comp-m69hi1r7 .style-m69hi1s1__root .StylableButton2545352419__label{
    transition: inherit;
    font-style: normal;
    font-family: montserrat,sans-serif;
    letter-spacing: 0em;
    font-size: 14px;
    color: #CC0000;
    margin-left: 0px;
    margin-right: 2.5px;
    font-weight: 700;
    display: initial
}

#comp-m69hi1r7 .style-m69hi1s1__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 15px;
    height: 15px;
    transform: rotate(2deg);
    fill: #CC0000;
    margin-right: 0px;
    margin-left: 2.5px;
    display: none
}

#comp-m69hi1r7 .style-m69hi1s1__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF
}/* END STYLABLE DIRECTIVE RULES */

#comp-m9ts48f0 .style-m9ts48fy__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 60px;
    border: 1px solid #CC0000;
    background: #FFFFFF
}

/* START STYLABLE DIRECTIVE RULES */

#comp-m9ts48f0 .style-m9ts48fy__root:hover{
    border: 0px solid rgb(29, 103, 205);
    background: #FF4040
}

#comp-m9ts48f0 .style-m9ts48fy__root:hover .StylableButton2545352419__label{
    color: #FFFFFF
}

#comp-m9ts48f0 .style-m9ts48fy__root:disabled{
    background: #E2E2E2
}

#comp-m9ts48f0 .style-m9ts48fy__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-m9ts48f0 .style-m9ts48fy__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-m9ts48f0 .style-m9ts48fy__root .StylableButton2545352419__container{
    transition: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#comp-m9ts48f0 .style-m9ts48fy__root .StylableButton2545352419__label{
    transition: inherit;
    font-style: normal;
    font-family: montserrat,sans-serif;
    letter-spacing: 0em;
    font-size: 14px;
    color: #CC0000;
    margin-left: 0px;
    margin-right: 2.5px;
    font-weight: 700;
    display: initial
}

#comp-m9ts48f0 .style-m9ts48fy__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 15px;
    height: 15px;
    transform: rotate(2deg);
    fill: #CC0000;
    margin-right: 0px;
    margin-left: 2.5px;
    display: none
}

#comp-m9ts48f0 .style-m9ts48fy__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF
}/* END STYLABLE DIRECTIVE RULES */

#comp-m69hlall1 .style-m69hlalm2__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 60px;
    border: 1px solid #CC0000;
    background: #FFFFFF
}

/* START STYLABLE DIRECTIVE RULES */

#comp-m69hlall1 .style-m69hlalm2__root:hover{
    border: 0px solid rgb(29, 103, 205);
    background: #FF4040
}

#comp-m69hlall1 .style-m69hlalm2__root:hover .StylableButton2545352419__label{
    color: #FFFFFF
}

#comp-m69hlall1 .style-m69hlalm2__root:disabled{
    background: #E2E2E2
}

#comp-m69hlall1 .style-m69hlalm2__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-m69hlall1 .style-m69hlalm2__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-m69hlall1 .style-m69hlalm2__root .StylableButton2545352419__container{
    transition: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#comp-m69hlall1 .style-m69hlalm2__root .StylableButton2545352419__label{
    transition: inherit;
    font-style: normal;
    font-family: montserrat,sans-serif;
    letter-spacing: 0em;
    font-size: 14px;
    color: #CC0000;
    margin-left: 0px;
    margin-right: 2.5px;
    font-weight: 700;
    display: initial
}

#comp-m69hlall1 .style-m69hlalm2__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 15px;
    height: 15px;
    transform: rotate(2deg);
    fill: #CC0000;
    margin-right: 0px;
    margin-left: 2.5px;
    display: none
}

#comp-m69hlall1 .style-m69hlalm2__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF
}/* END STYLABLE DIRECTIVE RULES */

#comp-m69hlalm5 .style-m69hlaln4__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 60px;
    border: 1px solid #CC0000;
    background: #FFFFFF
}

/* START STYLABLE DIRECTIVE RULES */

#comp-m69hlalm5 .style-m69hlaln4__root:hover{
    border: 0px solid rgb(29, 103, 205);
    background: #FF4040
}

#comp-m69hlalm5 .style-m69hlaln4__root:hover .StylableButton2545352419__label{
    color: #FFFFFF
}

#comp-m69hlalm5 .style-m69hlaln4__root:disabled{
    background: #E2E2E2
}

#comp-m69hlalm5 .style-m69hlaln4__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-m69hlalm5 .style-m69hlaln4__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-m69hlalm5 .style-m69hlaln4__root .StylableButton2545352419__container{
    transition: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#comp-m69hlalm5 .style-m69hlaln4__root .StylableButton2545352419__label{
    transition: inherit;
    font-style: normal;
    font-family: montserrat,sans-serif;
    letter-spacing: 0em;
    font-size: 14px;
    color: #CC0000;
    margin-left: 0px;
    margin-right: 2.5px;
    font-weight: 700;
    display: initial
}

#comp-m69hlalm5 .style-m69hlaln4__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 15px;
    height: 15px;
    transform: rotate(2deg);
    fill: #CC0000;
    margin-right: 0px;
    margin-left: 2.5px;
    display: none
}

#comp-m69hlalm5 .style-m69hlaln4__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF
}/* END STYLABLE DIRECTIVE RULES */

#comp-m9tto59s .style-m9tto5am__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 60px;
    border: 1px solid #CC0000;
    background: #FFFFFF
}

/* START STYLABLE DIRECTIVE RULES */

#comp-m9tto59s .style-m9tto5am__root:hover{
    border: 0px solid rgb(29, 103, 205);
    background: #FF4040
}

#comp-m9tto59s .style-m9tto5am__root:hover .StylableButton2545352419__label{
    color: #FFFFFF
}

#comp-m9tto59s .style-m9tto5am__root:disabled{
    background: #E2E2E2
}

#comp-m9tto59s .style-m9tto5am__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-m9tto59s .style-m9tto5am__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-m9tto59s .style-m9tto5am__root .StylableButton2545352419__container{
    transition: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#comp-m9tto59s .style-m9tto5am__root .StylableButton2545352419__label{
    transition: inherit;
    font-style: normal;
    font-family: montserrat,sans-serif;
    letter-spacing: 0em;
    font-size: 14px;
    color: #CC0000;
    margin-left: 0px;
    margin-right: 2.5px;
    font-weight: 700;
    display: initial
}

#comp-m9tto59s .style-m9tto5am__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 15px;
    height: 15px;
    transform: rotate(2deg);
    fill: #CC0000;
    margin-right: 0px;
    margin-left: 2.5px;
    display: none
}

#comp-m9tto59s .style-m9tto5am__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF
}