#errqt {
  --param_boolean_previewHover: false;
}
#errqt {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
#masterPage {
  --pinned-layers-in-page: 0;
}
[data-mesh-id="ContainererrqtinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="ContainererrqtinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 40px;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="ContainererrqtinlineContent-gridContainer"] > [id="comp-lmyl8g0c"],
[data-mesh-id="ContainererrqtinlineContent-gridContainer"] > interact-element > [id="comp-lmyl8g0c"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
#comp-lmyl8g0c {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
[data-mesh-id="comp-lmyl8g0cinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-lmyl8g0cinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(4, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-lmyl8g0cinlineContent-gridContainer"] > [id="comp-lmyl8g0e"],
[data-mesh-id="comp-lmyl8g0cinlineContent-gridContainer"] > interact-element > [id="comp-lmyl8g0e"] {
  position: relative;
  margin: 67px 0px 44px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-lmyl8g0cinlineContent-gridContainer"] > [id="comp-lmyl8g0f1"],
[data-mesh-id="comp-lmyl8g0cinlineContent-gridContainer"] > interact-element > [id="comp-lmyl8g0f1"] {
  position: relative;
  margin: 0px 0px 56px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-lmyl8g0cinlineContent-gridContainer"] > [id="comp-mbqctcba"],
[data-mesh-id="comp-lmyl8g0cinlineContent-gridContainer"] > interact-element > [id="comp-mbqctcba"] {
  position: relative;
  margin: 28px 0px 27px calc((100% - 980px) * 0.5);
  left: 679px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-lmyl8g0cinlineContent-gridContainer"] > [id="comp-mbqcwrcy"],
[data-mesh-id="comp-lmyl8g0cinlineContent-gridContainer"] > interact-element > [id="comp-mbqcwrcy"] {
  position: relative;
  margin: 0px 0px 34px calc((100% - 980px) * 0.5);
  left: 679px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-lmyl8g0cinlineContent-gridContainer"] > [id="comp-mbqcwtwu"],
[data-mesh-id="comp-lmyl8g0cinlineContent-gridContainer"] > interact-element > [id="comp-mbqcwtwu"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 679px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
#comp-lmyl8g0e {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-lmyl8g0e {
  width: 979px;
  height: auto;
}
#comp-lmyl8g0f1 {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-lmyl8g0f1 {
  width: 586px;
  height: auto;
}
#comp-mbqctcba {
  width: 245px;
  height: 47px;
}
#comp-mbqcwrcy {
  width: 245px;
  height: 47px;
}
#comp-mbqcwtwu {
  width: 245px;
  height: 47px;
}
