.ovra2 {
  --ricos-internal-table-border-color: var(
    --ricos-custom-table-border-color,
    rgba(var(--ricos-text-color-tuple, 33, 33, 33), 0.2)
  );
}
@supports (color: rgb(from #000 r g b/0.1)) {
  .ovra2 {
    --ricos-internal-table-border-color: var(
      --ricos-custom-table-border-color,
      rgb(from var(--ricos-text-color, #212121) r g b/0.2)
    );
  }
}
.WQf1L:focus,
.WQf1L > span:focus,
._9zPG-:focus,
._9zPG- > span:focus,
.yiqbN:focus,
.yiqbN > span:focus {
  outline: none;
}
._8qU0W {
  margin-bottom: max(0px, var(--table-vertical-padding, 16px) - var(--table-border-bottom, 1px));
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: var(--table-border-bottom, 1px);
  padding-inline-end: var(--table-border-end, 1px);
  padding-top: max(var(--table-vertical-padding, 16px), var(--table-border-top, 1px));
  padding-inline-start: var(--table-border-start, 1px);
  position: relative;
}
._8qU0W::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 10px;
}
._8qU0W::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 8px;
}
.WQf1L {
  isolation: isolate;
  min-width: 100%;
  table-layout: fixed;
  width: 100%;
}
.WQf1L thead {
  border-right: 1px solid rgba(var(--ricos-text-color-tuple, 33, 33, 33), 0.15);
}
@supports (color: rgb(from #000 r g b/0.1)) {
  .WQf1L thead {
    border-color: rgb(from var(--ricos-text-color, #212121) r g b/.15);
  }
}
.WQf1L .b4OgN {
  min-width: 10px;
}
.WQf1L {
  border-collapse: separate;
  border-spacing: 0;
}
.WQf1L td,
.WQf1L th {
  background-clip: padding-box;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
  border-left-width: var(--ricos-internal-table-gap, 0);
  border-right: 0 solid transparent;
  border-top: 0 solid transparent;
  border-top-width: var(--ricos-internal-table-gap, 0);
}
.WQf1L td[data-visual-col="0"],
.WQf1L th[data-visual-col="0"] {
  border-left-width: 0;
}
.WQf1L td[data-visual-row="0"],
.WQf1L th[data-visual-row="0"] {
  border-top-width: 0;
}
[dir="rtl"] .WQf1L td,
[dir="rtl"] .WQf1L th {
  border-left-width: 0;
  border-right-width: var(--ricos-internal-table-gap, 0);
}
[dir="rtl"] .WQf1L td[data-visual-col="0"],
[dir="rtl"] .WQf1L th[data-visual-col="0"] {
  border-right-width: 0;
}
.mNgHk {
  background-color: transparent;
  border: none;
  overflow: visible;
  padding: 0;
  position: relative;
  vertical-align: top;
}
.mNgHk.AcvM1 {
  background-color: rgba(var(--ricos-text-color-tuple, 33, 33, 33), 0.04);
  font-weight: unset;
}
@supports (color: rgb(from #000 r g b/0.1)) {
  .mNgHk.AcvM1 {
    background-color: rgb(from var(--ricos-text-color, #212121) r g b/.04);
  }
}
.mNgHk.sz17c {
  z-index: 2;
}
.mNgHk .eYwFE {
  background-color: var(--ricos-background-color, #fff);
  border: 1px solid #ddd;
  box-shadow: 0 0 7px 0 rgba(var(--ricos-text-color-tuple, 33, 33, 33), 0.1);
  height: -moz-max-content;
  height: max-content;
  left: -20px;
  position: relative;
  top: 0;
  width: calc(100% + 36px);
  z-index: 1;
}
@supports (color: rgb(from #000 r g b/0.1)) {
  .mNgHk .eYwFE {
    box-shadow: 0 0 7px 0 rgb(from var(--ricos-text-color, #212121) r g b/.1);
  }
}
.mNgHk .sz17c {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.mNgHk .sz17c:not(.eYwFE):not(.MOQQ3) {
  background-color: rgba(var(--ricos-settings-action-color-tuple, var(--ricos-action-color-tuple, 2, 97, 255)), 0.2);
}
@supports (color: rgb(from #000 r g b/0.1)) {
  .mNgHk .sz17c:not(.eYwFE):not(.MOQQ3) {
    background-color: rgb(from var(--ricos-settings-action-color, var(--ricos-action-color, #116dff)) r g b/.2);
  }
}
.MEOdz.-SqZN .public-DraftEditor-content > div > :first-child,
.MEOdz.gyiWR > div > div > div > :first-child,
._4r7A6.-SqZN .public-DraftEditor-content > div > :last-child,
._4r7A6.gyiWR > div > div > div > :last-child {
  height: 1px;
}
@supports not (contain: inline-size) {
  @media only screen and (min-width: 640px) {
    .-SqZN:not(.eYwFE) {
      pointer-events: none;
    }
  }
}
@container (min-width: 640px) {
  .-SqZN:not(.eYwFE) {
    pointer-events: none;
  }
}
.h1aiP {
  caret-color: transparent;
  height: 100%;
}
.h1aiP._1tvVr {
  caret-color: unset;
  padding: 10px 26px 10px 29px;
  width: 100%;
}
@supports not (contain: inline-size) {
  @media only screen and (max-width: 640px) {
    .h1aiP._1tvVr {
      padding: 10px 0 10px 10px;
    }
  }
}
@container (width < 640px) {
  .h1aiP._1tvVr {
    padding: 10px 0 10px 10px;
  }
}
.h1aiP._4bQxg {
  overflow: hidden;
  padding: var(--ricos-internal-table-cell-padding-top, 10px) var(--ricos-internal-table-cell-padding-right, 10px)
    var(--ricos-internal-table-cell-padding-bottom, 10px) var(--ricos-internal-table-cell-padding-left, 10px);
}
._6xDdw {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  top: -40px;
}
._3NDiQ {
  border: 1px solid rgba(0, 0, 0, 0.4);
  height: 20px;
  max-width: 20px;
  padding: 0;
  width: 20px;
}
._3NDiQ.sz17c {
  border: 1px double var(--ricos-settings-action-color, var(--ricos-action-color, #116dff));
}
.JLZaN {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.JLZaN ::selection {
  background: transparent;
}
.JLZaN ::-moz-selection {
  background: transparent;
}
