@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDurMR7eS2AopSg.woff2")
    format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
    U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDurMR7eS2AopSg.woff2")
    format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
    U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDujMR7eS2AopSg.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDujMR7eS2AopSg.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuHMR7eS2AopSg.woff2")
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuHMR7eS2AopSg.woff2")
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDunMR7eS2AopSg.woff2")
    format("woff2");
  unicode-range: U+1F00-1FFF;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDunMR7eS2AopSg.woff2")
    format("woff2");
  unicode-range: U+1F00-1FFF;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDubMR7eS2AopSg.woff2")
    format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDubMR7eS2AopSg.woff2")
    format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuvMR7eS2AopSg.woff2")
    format("woff2");
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuvMR7eS2AopSg.woff2")
    format("woff2");
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMR7eS2Ao.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "open sans condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuXMR7eS2Ao.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFnD-vYSZviVYUb_rj3ij__anPXDTngOWwu6zRmFqWF_ljR.woff2")
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFkD-vYSZviVYUb_rj3ij__anPXDTnojUk7yRZrPJ-M.woff2")
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFiD-vYSZviVYUb_rj3ij__anPXDTPYgEM86xRbPQ.woff2")
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lWEe5j5hNKe1_w.woff2")
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFnD-vYSZviVYUb_rj3ij__anPXDTngOWwu4DRmFqWF_ljR.woff2")
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFkD-vYSZviVYUb_rj3ij__anPXDTnohkk7yRZrPJ-M.woff2")
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFiD-vYSZviVYUb_rj3ij__anPXDTjYgEM86xRbPQ.woff2")
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lWoe5j5hNKe1_w.woff2")
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFnD-vYSZviVYUb_rj3ij__anPXDTngOWwu6jRmFqWF_ljR.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFkD-vYSZviVYUb_rj3ij__anPXDTnojEk7yRZrPJ-M.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgEM86xRbPQ.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lWAe5j5hNKe1_w.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFnD-vYSZviVYUb_rj3ij__anPXDTngOWwu5DRmFqWF_g.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFkD-vYSZviVYUb_rj3ij__anPXDTnogkk7yRZrPA.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgEM86xQ.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "playfair display";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/playfairdisplay/v18/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e5j5hNKc.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "open sans";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/fonts/v2/09e37a90-97bc-4292-863a-a9e5b278309d/v1/open sans.woff2") format("woff2");
  unicode-range:
    U+000D, U+0020-007E, U+00A0-017F, U+0192, U+01A0-01A1, U+01AF-01B0, U+01F0, U+01FA-01FF, U+0218-021B, U+0237,
    U+02BC, U+02C6-02C7, U+02C9, U+02D8-02DD, U+02F3, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+03D1-03D2,
    U+03D6, U+0400-0486, U+0488-0513, U+1E00-1E01, U+1E3E-1E3F, U+1E80-1E85, U+1EA0-1EF9, U+1F4D, U+1FDE, U+2000-200B,
    U+2010-2015, U+2017-201E, U+2020-2022, U+2026, U+202F-2030, U+2032-2033, U+2039-203A, U+203C, U+2044, U+205F,
    U+2070, U+2074-2079, U+207F, U+20A3-20A4, U+20A7, U+20AB-20AC, U+2105, U+2113, U+2116, U+2120, U+2122, U+2126,
    U+212E, U+215B-215E, U+2202, U+2206, U+220F, U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265,
    U+2400, U+25CA, U+E000, U+FB00-FB04, U+FEFF, U+FFFC-FFFD;
  font-display: swap;
}
@font-face {
  font-family: "open sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/fonts/v2/e59e6f5c-7ac5-47cf-8fe5-22ee5f11aa42/v1/open sans.woff2") format("woff2");
  unicode-range:
    U+000D, U+0020-007E, U+00A0-017F, U+0192, U+01A0-01A1, U+01AF-01B0, U+01F0, U+01FA-01FF, U+0218-021B, U+0237,
    U+02BC, U+02C6-02C7, U+02C9, U+02D8-02DD, U+02F3, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+03D1-03D2,
    U+03D6, U+0400-0486, U+0488-0513, U+1E00-1E01, U+1E3E-1E3F, U+1E80-1E85, U+1EA0-1EF9, U+1F4D, U+1FDE, U+2000-200B,
    U+2010-2015, U+2017-201E, U+2020-2022, U+2026, U+202F-2030, U+2032-2033, U+2039-203A, U+203C, U+2044, U+205F,
    U+2070, U+2074-2079, U+207F, U+20A3-20A4, U+20A7, U+20AB-20AC, U+2105, U+2113, U+2116, U+2120, U+2122, U+2126,
    U+212E, U+215B-215E, U+2202, U+2206, U+220F, U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265,
    U+2400, U+25CA, U+E000, U+FB00-FB04, U+FEFF, U+FFFC-FFFD;
  font-display: swap;
}
@font-face {
  font-family: "open sans";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/fonts/v2/66ed32a6-d63b-4f2e-9895-91f58fc7bde6/v1/open sans.woff2") format("woff2");
  unicode-range:
    U+000D, U+0020-007E, U+00A0-017F, U+0192, U+01A0-01A1, U+01AF-01B0, U+01F0, U+01FA-01FF, U+0218-021B, U+0237,
    U+02BC, U+02C6-02C7, U+02C9, U+02D8-02DD, U+02F3, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+03D1-03D2,
    U+03D6, U+0400-0486, U+0488-0513, U+1E00-1E01, U+1E3E-1E3F, U+1E80-1E85, U+1EA0-1EF9, U+1F4D, U+1FDE, U+2000-200B,
    U+2010-2015, U+2017-201E, U+2020-2022, U+2026, U+202F-2030, U+2032-2033, U+2039-203A, U+203C, U+2044, U+205F,
    U+2070, U+2074-2079, U+207F, U+20A3-20A4, U+20A7, U+20AB-20AC, U+2105, U+2113, U+2116, U+2120, U+2122, U+2126,
    U+212E, U+215B-215E, U+2202, U+2206, U+220F, U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265,
    U+2400, U+25CA, U+E000, U+FB00-FB04, U+FEFF, U+FFFC-FFFD;
  font-display: swap;
}
@font-face {
  font-family: "open sans";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/fonts/v2/e3af1b1e-e84c-47bd-96ed-ea490697a5d3/v1/open sans.woff2") format("woff2");
  unicode-range:
    U+000D, U+0020-007E, U+00A0-017F, U+0192, U+01A0-01A1, U+01AF-01B0, U+01F0, U+01FA-01FF, U+0218-021B, U+0237,
    U+02BC, U+02C6-02C7, U+02C9, U+02D8-02DD, U+02F3, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+03D1-03D2,
    U+03D6, U+0400-0486, U+0488-0513, U+1E00-1E01, U+1E3E-1E3F, U+1E80-1E85, U+1EA0-1EF9, U+1F4D, U+1FDE, U+2000-200B,
    U+2010-2015, U+2017-201E, U+2020-2022, U+2026, U+202F-2030, U+2032-2033, U+2039-203A, U+203C, U+2044, U+205F,
    U+2070, U+2074-2079, U+207F, U+20A3-20A4, U+20A7, U+20AB-20AC, U+2105, U+2113, U+2116, U+2120, U+2122, U+2126,
    U+212E, U+215B-215E, U+2202, U+2206, U+220F, U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265,
    U+2400, U+25CA, U+E000, U+FB00-FB04, U+FEFF, U+FFFC-FFFD;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0RMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t2FQWEAEOvV9wNvrwlNstMKW3Y6K5WMwd-ZaLZx3lE4-Hw.woff2")
    format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
    U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7t6R-tQKr51pE8.woff2")
    format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
    U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7t6R-tQKr51pE8.woff2")
    format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
    U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0RMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t2FQWEAEOvV9wNvrwlNstMKW3Y6K5WMwd-ZaLZx3lE4-Hw.woff2")
    format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
    U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0RMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t2FQWEAEOvV9wNvrwlNstMKW3Y6K5WMwd-RaLZx3lE4-Hw.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7t4R-tQKr51pE8.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7t4R-tQKr51pE8.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0RMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t2FQWEAEOvV9wNvrwlNstMKW3Y6K5WMwd-RaLZx3lE4-Hw.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0RMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t2FQWEAEOvV9wNvrwlNstMKW3Y6K5WMwd-1aLZx3lE4-Hw.woff2")
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7txR-tQKr51pE8.woff2")
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7txR-tQKr51pE8.woff2")
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0RMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t2FQWEAEOvV9wNvrwlNstMKW3Y6K5WMwd-1aLZx3lE4-Hw.woff2")
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0RMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t2FQWEAEOvV9wNvrwlNstMKW3Y6K5WMwd-daLZx3lE4-Hw.woff2")
    format("woff2");
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7t7R-tQKr51pE8.woff2")
    format("woff2");
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7t7R-tQKr51pE8.woff2")
    format("woff2");
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0RMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t2FQWEAEOvV9wNvrwlNstMKW3Y6K5WMwd-daLZx3lE4-Hw.woff2")
    format("woff2");
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0RMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t2FQWEAEOvV9wNvrwlNstMKW3Y6K5WMwd-laLZx3lE4.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7t1R-tQKr51.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0TMImSLYBIv1o4X1M8ce2xCx3yop4tQpF_MeTm0lfGWVpNn64CL7U8upHZIbMV51Q42ptCp7t1R-tQKr51.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "nunito sans";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/nunitosans/v15/pe0RMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t2FQWEAEOvV9wNvrwlNstMKW3Y6K5WMwd-laLZx3lE4.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-black";
  font-style: italic;
  font-weight: 900;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16WXd0ppC8MLnbtrVK.woff2")
    format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
    U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-black";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC73w2aXp-p7K4KLjztg.woff2")
    format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309,
    U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-black";
  font-style: italic;
  font-weight: 900;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16WXV0ppC8MLnbtrVK.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-black";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC73w0aXp-p7K4KLjztg.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-black";
  font-style: italic;
  font-weight: 900;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16WXx0ppC8MLnbtrVK.woff2")
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-black";
  font-style: italic;
  font-weight: 900;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16WXZ0ppC8MLnbtrVK.woff2")
    format("woff2");
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-black";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC73w3aXp-p7K4KLjztg.woff2")
    format("woff2");
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-black";
  font-style: italic;
  font-weight: 900;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16WXh0ppC8MLnbtg.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "montserrat-black";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC73w5aXp-p7K4KLg.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2")
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRxi7m0dR9pBOi.woff2")
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gbD_vx3rCubqg.woff2")
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz8_Zwjimrq1Q_.woff2")
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRxC7m0dR9pBOi.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gTD_vx3rCubqg.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz8fZwjimrq1Q_.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2")
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRzS7m0dR9pBOi.woff2")
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3g3D_vx3rCubqg.woff2")
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz-PZwjimrq1Q_.woff2")
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRxy7m0dR9pBOi.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gfD_vx3rCubqg.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz8vZwjimrq1Q_.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRyS7m0dR9pA.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/misc/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZwjimrqw.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "helvetica-w01-roman";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/fonts/v2/2af1bf48-e783-4da8-9fa0-599dde29f2d5/v1/helvetica-lt-w10-roman.woff2") format("woff2");
  unicode-range:
    U+0000, U+000D, U+0020-007E, U+00A0, U+00A4, U+00A6-00A7, U+00A9, U+00AB-00AE, U+00B0-00B1, U+00B5-00B7, U+00BB,
    U+0401-040C, U+040E-044F, U+0451-045C, U+045E-045F, U+0490-0491, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022,
    U+2026, U+2030, U+2039-203A, U+20AC, U+2116, U+2122;
  font-display: swap;
}
@font-face {
  font-family: "helvetica-w01-roman";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/fonts/v2/2af1bf48-e783-4da8-9fa0-599dde29f2d5/v1/helvetica-w02-roman.woff2") format("woff2");
  unicode-range:
    U+000D, U+0020-007E, U+00A0-012B, U+012E-0137, U+0139-0149, U+014C-017E, U+0192, U+0218-021B, U+0237, U+02C6-02C7,
    U+02C9, U+02D8-02DD, U+0394, U+03A9, U+03BC, U+03C0, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026,
    U+2030, U+2039-203A, U+2044, U+20AC, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211-2212, U+2215,
    U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+E301-E304, U+E306-E30D, U+FB01-FB02;
  font-display: swap;
}
@font-face {
  font-family: "helvetica-w01-roman";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/fonts/v2/2af1bf48-e783-4da8-9fa0-599dde29f2d5/v1/helvetica-w01-roman.woff2") format("woff2");
  unicode-range:
    U+0000, U+000D, U+0020-007E, U+00A0-012B, U+012E-0137, U+0139-0149, U+014C-017E, U+0192, U+0218-021B, U+0237,
    U+02C6-02C7, U+02C9, U+02D8-02DD, U+0394, U+03A9, U+03BC, U+03C0, U+0401-040C, U+040E-044F, U+0451-045C,
    U+045E-045F, U+0462-0463, U+0472-0475, U+0490-0491, U+04D9, U+1E9E, U+2013-2014, U+2018-201A, U+201C-201E,
    U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+20B9-20BA, U+20BC-20BD, U+2113, U+2116, U+2122, U+2126,
    U+212E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265,
    U+25CA, U+E300-E30D, U+F6C5, U+F6C9-F6D8, U+F8FF, U+FB01-FB02;
  font-display: swap;
}
@font-face {
  font-family: "futura-lt-w01-light";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/fonts/v2/8e5b5cbc-6ad9-49f7-aee7-4e5133c3ee4d/v1/futura-lt-w05-light.woff2") format("woff2");
  unicode-range:
    U+0100-010F, U+0111-012B, U+012E-0130, U+0132-0137, U+0139-0149, U+014C-0151, U+0154-015F, U+0162-0177, U+0179-017C,
    U+0218-021B, U+02C9, U+02D8-02D9, U+02DB, U+02DD, U+0394, U+03A9, U+03BC, U+03C0, U+1E9E, U+20B9-20BA, U+20BC-20BD,
    U+2113, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260,
    U+2264-2265, U+25CA, U+F8FF, U+FB01-FB02;
  font-display: swap;
}
@font-face {
  font-family: "futura-lt-w01-light";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/fonts/v2/8e5b5cbc-6ad9-49f7-aee7-4e5133c3ee4d/v1/futura-lt-w01-light.woff2") format("woff2");
  unicode-range:
    U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0110, U+0131, U+0152-0153, U+0160-0161, U+0178, U+017D-017E, U+0192,
    U+0237, U+02C6-02C7, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030,
    U+2039-203A, U+2044, U+20AC, U+2122;
  font-display: swap;
}
@font-face {
  font-family: "futura-lt-w01-book";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/misc/fonts/v2/790166f1-b347-4f16-8a29-f0c4931a7c35/v1/futura-lt-w01-book.woff2") format("woff2");
  unicode-range:
    U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0110, U+0131, U+0152-0153, U+0160-0161, U+0178, U+017D-017E, U+0192,
    U+0237, U+02C6-02C7, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030,
    U+2039-203A, U+2044, U+20AC, U+2122;
  font-display: swap;
}
@keyframes motion-glideIn {
  0% {
    opacity: 0;
    animation-timing-function: step-end;
  }
  0.00009999999999999999% {
    opacity: var(--comp-opacity, 1);
    transform: translate(var(--motion-translate-x), var(--motion-translate-y)) rotate(var(--comp-rotate-z, 0deg));
  }
  100% {
    opacity: var(--comp-opacity, 1);
    transform: translate(0, 0) rotate(var(--comp-rotate-z, 0deg));
  }
}
#zuzg7 {
  --param_boolean_previewHover: false;
}
#zuzg7 {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
#masterPage {
  --pinned-layers-in-page: 0;
}
[data-mesh-id="Containerzuzg7inlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="Containerzuzg7inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 40px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="Containerzuzg7inlineContent-gridContainer"] > [id="comp-m5cgjgbr"],
[data-mesh-id="Containerzuzg7inlineContent-gridContainer"] > interact-element > [id="comp-m5cgjgbr"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerzuzg7inlineContent-gridContainer"] > [id="comp-m5f6lzan"],
[data-mesh-id="Containerzuzg7inlineContent-gridContainer"] > interact-element > [id="comp-m5f6lzan"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerzuzg7inlineContent-gridContainer"] > [id="comp-m5f6xlpw"],
[data-mesh-id="Containerzuzg7inlineContent-gridContainer"] > interact-element > [id="comp-m5f6xlpw"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="Containerzuzg7inlineContent-gridContainer"] > [id="comp-m5f8rl5r"],
[data-mesh-id="Containerzuzg7inlineContent-gridContainer"] > interact-element > [id="comp-m5f8rl5r"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
@media (prefers-reduced-motion: no-preference) {
  #comp-m5cgjgbr [data-motion-part="BG_MEDIA comp-m5cgjgbr"] {
    will-change: var(--motion-bgreveal-will-change);
    height: calc(100% + 200lvh);
    margin-top: -100lvh;
    overflow: clip;
    isolation: isolate;
  }
  :is(#comp-m5cgjgbr)[data-has-alpha="true"] canvas,
  :is(#comp-m5cgjgbr):not([data-show-canvas]) [data-motion-part="BG_IMG comp-m5cgjgbr"] {
    position: sticky;
    height: max(100lvh, calc(100% - 200lvh));
    width: 100%;
    top: 0px;
    margin-bottom: calc(100lvh - max(100lvh, var(--motion-comp-height, 100%)));
    display: block;
    padding: 0px;
  }
  #comp-m5cgjgbr [data-motion-part="BG_LAYER comp-m5cgjgbr"] {
    overflow: clip;
  }
  @supports (-moz-appearance: none) {
    body {
      --motion-bgreveal-will-change: transform;
    }
  }
  #comp-m5cgjgbr[data-testid="imageX"] [data-motion-part="BG_MEDIA comp-m5cgjgbr"] {
    transform: translate3d(0, 0, 0);
  }
}
#comp-m5cgjgbr {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
[data-mesh-id="comp-m5cgjgbrinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-m5cgjgbrinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 764px;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-m5cgjgbrinlineContent-gridContainer"] > [id="comp-m5nrbh22"],
[data-mesh-id="comp-m5cgjgbrinlineContent-gridContainer"] > interact-element > [id="comp-m5nrbh22"] {
  position: relative;
  margin: 110px 0px -25px calc((100% - 980px) * 0.5);
  left: 27px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-m5cgjgbrinlineContent-gridContainer"] > [id="comp-m5ns6pat"],
[data-mesh-id="comp-m5cgjgbrinlineContent-gridContainer"] > interact-element > [id="comp-m5ns6pat"] {
  position: relative;
  margin: 0px 0px 27px calc((100% - 980px) * 0.5);
  left: -119px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-m5cgjgbrinlineContent-gridContainer"] > [id="comp-m5f4qfbg"],
[data-mesh-id="comp-m5cgjgbrinlineContent-gridContainer"] > interact-element > [id="comp-m5f4qfbg"] {
  position: relative;
  margin: 0px 0px 44px calc((100% - 980px) * 0.5);
  left: -119px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-m5cgjgbrinlineContent-gridContainer"] > [id="comp-m5f8n6hf"],
[data-mesh-id="comp-m5cgjgbrinlineContent-gridContainer"] > interact-element > [id="comp-m5f8n6hf"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 12px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
#comp-m5nrbh22 {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
}
#comp-m5nrbh22 {
  width: 152px;
  height: 192px;
}
#comp-m5ns6pat {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
}
@media (prefers-reduced-motion: no-preference) {
  #comp-m5ns6pat:not([data-motion-enter="done"]) {
    animation: none;
    animation-composition: replace;
  }
}
#comp-m5ns6pat {
  width: 447px;
  height: 159px;
}
#comp-m5f4qfbg {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
@media (prefers-reduced-motion: no-preference) {
  #comp-m5f4qfbg:not([data-motion-enter="done"]) {
    animation: none;
    animation-composition: replace;
  }
}
#comp-m5f4qfbg {
  width: 447px;
  height: auto;
}
@media (prefers-reduced-motion: no-preference) {
  #comp-m5f8n6hf:not([data-motion-enter="done"]) {
    animation: none;
    animation-composition: replace;
  }
}
#comp-m5f8n6hf {
  width: 184px;
  height: 45px;
}
#comp-m5f6lzan {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
[data-mesh-id="comp-m5f6lzaninlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-m5f6lzaninlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 265px;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-m5f6lzaninlineContent-gridContainer"] > [id="comp-m5f6t5z2"],
[data-mesh-id="comp-m5f6lzaninlineContent-gridContainer"] > interact-element > [id="comp-m5f6t5z2"] {
  position: relative;
  margin: 91px 0px 10px calc((100% - 980px) * 0.5);
  left: 3px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
#comp-m5f6t5z2 {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-m5f6t5z2 {
  width: 973px;
  height: auto;
}
#comp-m5f6xlpw {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
[data-mesh-id="comp-m5f6xlpwinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-m5f6xlpwinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-m5f6xlpwinlineContent-gridContainer"] > [id="comp-m5f7u62r"],
[data-mesh-id="comp-m5f6xlpwinlineContent-gridContainer"] > interact-element > [id="comp-m5f7u62r"] {
  position: relative;
  margin: 65px 0px 65px calc((100% - 980px) * 0.5);
  left: -55px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-m5f6xlpwinlineContent-gridContainer"] > [id="comp-m5f7x83f"],
[data-mesh-id="comp-m5f6xlpwinlineContent-gridContainer"] > interact-element > [id="comp-m5f7x83f"] {
  position: relative;
  margin: 95px 0px 10px calc((100% - 980px) * 0.5);
  left: 318px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-m5f6xlpwinlineContent-gridContainer"] > [id="comp-m5xqn6v3"],
[data-mesh-id="comp-m5f6xlpwinlineContent-gridContainer"] > interact-element > [id="comp-m5xqn6v3"] {
  position: relative;
  margin: 127px 0px 10px calc((100% - 980px) * 0.5);
  left: 785px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
#comp-m5f7u62r {
  --contentPaddingLeft: 0px;
  --contentPaddingRight: 0px;
  --contentPaddingTop: 0px;
  --contentPaddingBottom: 0px;
}
#comp-m5f7u62r {
  width: 258px;
  height: 425px;
}
#comp-m5f7x83f {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-m5f7x83f {
  width: 343px;
  height: auto;
}
@media (prefers-reduced-motion: no-preference) {
  #comp-m5xqn6v3:not([data-motion-enter="done"]) {
    animation: motion-glideIn 1200ms 1ms cubic-bezier(0.645, 0.045, 0.355, 1) backwards 1 paused;
    animation-composition: replace;
    --motion-translate-x: calc(calc((-1 * var(--motion-left, 0px) - 100%) / -1) * -1);
    --motion-translate-y: calc(calc((-1 * var(--motion-left, 0px) - 100%) / -1) * 0);
  }
}
#comp-m5xqn6v3 {
  width: 236px;
}
[data-mesh-id="comp-m5xqn6v3inlineContent"] {
  height: auto;
  width: 236px;
}
[data-mesh-id="comp-m5xqn6v3inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(4, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-m5xqn6v3inlineContent-gridContainer"] > [id="comp-m5wlm01c"],
[data-mesh-id="comp-m5xqn6v3inlineContent-gridContainer"] > interact-element > [id="comp-m5wlm01c"] {
  position: relative;
  margin: 0px 0px 18px 0;
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-m5xqn6v3inlineContent-gridContainer"] > [id="comp-m5wlk3bq"],
[data-mesh-id="comp-m5xqn6v3inlineContent-gridContainer"] > interact-element > [id="comp-m5wlk3bq"] {
  position: relative;
  margin: 0px 0px 0px 0;
  left: 10px;
  grid-area: 2 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-m5xqn6v3inlineContent-gridContainer"] > [id="comp-m5wlngh2"],
[data-mesh-id="comp-m5xqn6v3inlineContent-gridContainer"] > interact-element > [id="comp-m5wlngh2"] {
  position: relative;
  margin: 0px 0px -3px 0;
  left: 53px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-m5xqn6v3inlineContent-gridContainer"] > [id="comp-m5wlpfvt"],
[data-mesh-id="comp-m5xqn6v3inlineContent-gridContainer"] > interact-element > [id="comp-m5wlpfvt"] {
  position: relative;
  margin: 0px 0px 47px 0;
  left: 42px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-m5xqn6v3inlineContent-gridContainer"] > [id="comp-m5xq6103"],
[data-mesh-id="comp-m5xqn6v3inlineContent-gridContainer"] > interact-element > [id="comp-m5xq6103"] {
  position: relative;
  margin: 51px 0px -4px 0;
  left: 42px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
#comp-m5wlm01c {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-m5wlm01c {
  width: 236px;
  height: auto;
}
#comp-m5wlk3bq {
  width: 215px;
  height: 215px;
}
#comp-m5wlngh2 {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-m5wlngh2 {
  width: 127px;
  height: auto;
}
#comp-m5wlpfvt {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-m5wlpfvt {
  width: 149px;
  height: auto;
}
#comp-m5xq6103 {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-m5xq6103 {
  width: 149px;
  height: auto;
}
#comp-m5f8rl5r {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
[data-mesh-id="comp-m5f8rl5rinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-m5f8rl5rinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-m5f8rl5rinlineContent-gridContainer"] > [id="comp-m5f9bnm8"],
[data-mesh-id="comp-m5f8rl5rinlineContent-gridContainer"] > interact-element > [id="comp-m5f9bnm8"] {
  position: relative;
  margin: 129px 0px 10px calc((100% - 980px) * 0.5);
  left: -101px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-m5f8rl5rinlineContent-gridContainer"] > [id="comp-m5f99zqy"],
[data-mesh-id="comp-m5f8rl5rinlineContent-gridContainer"] > interact-element > [id="comp-m5f99zqy"] {
  position: relative;
  margin: 0px 0px 56px calc((100% - 980px) * 0.5);
  left: -101px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-m5f8rl5rinlineContent-gridContainer"] > [id="comp-m5fa1c3m"],
[data-mesh-id="comp-m5f8rl5rinlineContent-gridContainer"] > interact-element > [id="comp-m5fa1c3m"] {
  position: relative;
  margin: 54px 0px -80px calc((100% - 980px) * 0.5);
  left: 514px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
#comp-m5f9bnm8 {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-m5f9bnm8 {
  width: 501px;
  height: auto;
}
#comp-m5f99zqy {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-m5f99zqy {
  width: 526px;
  height: auto;
}
#comp-m5fa1c3m {
  --brw: 0px;
  --brd: 255, 64, 64;
  --bg: 255, 255, 255;
  --rd: 20px 20px 20px 20px;
  --shd: 0px 3px 15px 3px rgba(0, 0, 0, 0.25);
  --gradient: none;
  --alpha-brd: 1;
  --alpha-bg: 1;
  --bg-gradient: none;
}
#comp-m5fa1c3m {
  width: 565px;
}
[data-mesh-id="comp-m5fa1c3minlineContent"] {
  height: auto;
  width: 565px;
}
[data-mesh-id="comp-m5fa1c3minlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-m5fa1c3minlineContent-gridContainer"] > [id="comp-m5f98id4"],
[data-mesh-id="comp-m5fa1c3minlineContent-gridContainer"] > interact-element > [id="comp-m5f98id4"] {
  position: relative;
  margin: 27px 0px 27px 0;
  left: 36px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
#comp-m5f98id4 {
  width: 493px;
  height: 415px;
}
