#comp-me718m22 {
  visibility: hidden !important;
}
#comp-mimyyafh {
  visibility: hidden !important;
  overflow: clip !important;
  height: 0 !important;
  width: 0 !important;
  min-width: 0 !important;
  min-height: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
}
