/* END STYLABLE DIRECTIVE RULES */

#comp-mirqvsdt1 .style-mirqvsdu1__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 20px;
    box-shadow: 2.12px 2.12px 15px 1px #999A9F;
    border: 2px solid rgb(204, 0, 0);
    background: #CC0000
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mirqvsdt1 .style-mirqvsdu1__root:hover{
    background: #CC0000;
    border: 0px solid #33343F
}

#comp-mirqvsdt1 .style-mirqvsdu1__root:hover .StylableButton2545352419__label{
    color: #FFFFFF
}

#comp-mirqvsdt1 .style-mirqvsdu1__root:disabled{
    background: #E2E2E2
}

#comp-mirqvsdt1 .style-mirqvsdu1__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-mirqvsdt1 .style-mirqvsdu1__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-mirqvsdt1 .style-mirqvsdu1__root .StylableButton2545352419__container{
    transition: inherit;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center
}

#comp-mirqvsdt1 .style-mirqvsdu1__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    display: initial;
    margin-right: 0px;
    margin-left: 5px;
    letter-spacing: 0em;
    color: #FFFFFF; font-family: montserrat,sans-serif; font-size: 18px; font-weight: normal; font-style: normal;
    font-family: wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65,wf_3f0d4ffb6bdc4c1cb6dc005c9,orig_inter_regular;
    font-size: 16px;
    font-weight: 400
}

#comp-mirqvsdt1 .style-mirqvsdu1__root .StylableButton2545352419__icon{
    transition: inherit;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    display: initial;
    margin-left: 0px;
    margin-right: 5px;
    width: 30px;
    height: 30px
}

#comp-mirqvsdt1 .style-mirqvsdu1__root:hover .StylableButton2545352419__icon{
    fill: #33343F
}/* END STYLABLE DIRECTIVE RULES */

#comp-me89it69 .style-ml6rs9ik__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 60px;
    border: 0px solid rgb(29, 103, 205);
    background: #CC0000
}

/* START STYLABLE DIRECTIVE RULES */

#comp-me89it69 .style-ml6rs9ik__root:hover{
    border: 0px solid rgb(29, 103, 205);
    background: #FF6161
}

#comp-me89it69 .style-ml6rs9ik__root:hover .StylableButton2545352419__label{
    color: #FFFFFF
}

#comp-me89it69 .style-ml6rs9ik__root:disabled{
    background: #E2E2E2
}

#comp-me89it69 .style-ml6rs9ik__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-me89it69 .style-ml6rs9ik__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-me89it69 .style-ml6rs9ik__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-me89it69 .style-ml6rs9ik__root .StylableButton2545352419__label{
    transition: inherit;
    font-style: normal;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-family: raleway-v2,sans-serif;
    font-weight: 700;
    font-size: 18px
}

#comp-me89it69 .style-ml6rs9ik__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 10px;
    height: 10px;
    fill: #FFFFFF;
    display: none
}

#comp-me89it69 .style-ml6rs9ik__root:hover .StylableButton2545352419__icon{
    fill: #33343F
}

@media screen and (min-width: 1px) and (max-width: 0px) {
    #comp-me89it69 .style-ml6rs9ik__root .StylableButton2545352419__label {
        font-size: 16px;
    }
}/* END STYLABLE DIRECTIVE RULES */

#comp-mirro3m97 .style-ml6rv7bk__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    padding: 3px; /*inset 3.54px 3.54px 0 -64px value(site_1_1)*/ border-radius: 50px; border: 0px solid rgb(63, 118, 82); background: #FBA517
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mirro3m97 .style-ml6rv7bk__root:hover{
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgb(251, 165, 23)
}

#comp-mirro3m97 .style-ml6rv7bk__root:hover .StylableButton2545352419__label{
    font-family: wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65,wf_3f0d4ffb6bdc4c1cb6dc005c9,orig_inter_regular;
    color: #FBA517
}

#comp-mirro3m97 .style-ml6rv7bk__root:disabled{
    background: #E2E2E2;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0)
}

#comp-mirro3m97 .style-ml6rv7bk__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-mirro3m97 .style-ml6rv7bk__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-mirro3m97 .style-ml6rv7bk__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-mirro3m97 .style-ml6rv7bk__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    color: #FFFFFF;
    font-style: normal;
    font-family: raleway-v2,sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: initial;
    letter-spacing: 0.05em
}

#comp-mirro3m97 .style-ml6rv7bk__root .StylableButton2545352419__icon{
    transition: inherit;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    width: 37px;
    height: 37px;
    display: none
}

#comp-mirro3m97 .style-ml6rv7bk__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF;
    width: 42px;
    height: 42px
}/* END STYLABLE DIRECTIVE RULES */

#comp-mirro3mb .style-mirro3mb5__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    padding: 3px; /*inset 3.54px 3.54px 0 -64px value(site_1_1)*/ border-radius: 50px; border: 0px solid rgb(63, 118, 82); background: #FBA517
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mirro3mb .style-mirro3mb5__root:hover{
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgb(251, 165, 23)
}

#comp-mirro3mb .style-mirro3mb5__root:hover .StylableButton2545352419__label{
    font-family: wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65,wf_3f0d4ffb6bdc4c1cb6dc005c9,orig_inter_regular;
    color: #FBA517
}

#comp-mirro3mb .style-mirro3mb5__root:disabled{
    background: #E2E2E2;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0)
}

#comp-mirro3mb .style-mirro3mb5__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-mirro3mb .style-mirro3mb5__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-mirro3mb .style-mirro3mb5__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-mirro3mb .style-mirro3mb5__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    color: #FFFFFF;
    font-style: normal;
    font-family: raleway-v2,sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: initial;
    letter-spacing: 0.05em
}

#comp-mirro3mb .style-mirro3mb5__root .StylableButton2545352419__icon{
    transition: inherit;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    width: 37px;
    height: 37px;
    display: none
}

#comp-mirro3mb .style-mirro3mb5__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF;
    width: 42px;
    height: 42px
}/* END STYLABLE DIRECTIVE RULES */

#comp-mirro3ml6 .style-ml6rxxqc__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 60px;
    border: 0px solid rgb(29, 103, 205);
    background: #0E81C0
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mirro3ml6 .style-ml6rxxqc__root:hover{
    border: 0px solid rgb(29, 103, 205);
    background: rgba(27, 148, 204, 0.9)
}

#comp-mirro3ml6 .style-ml6rxxqc__root:hover .StylableButton2545352419__label{
    color: #FFFFFF
}

#comp-mirro3ml6 .style-ml6rxxqc__root:disabled{
    background: #E2E2E2
}

#comp-mirro3ml6 .style-ml6rxxqc__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-mirro3ml6 .style-ml6rxxqc__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-mirro3ml6 .style-ml6rxxqc__root .StylableButton2545352419__container{
    transition: inherit;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center
}

#comp-mirro3ml6 .style-ml6rxxqc__root .StylableButton2545352419__label{
    transition: inherit;
    font-style: normal;
    letter-spacing: 0em;
    color: #FFFFFF;
    font-family: wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65,wf_3f0d4ffb6bdc4c1cb6dc005c9,orig_inter_regular;
    font-weight: 700;
    font-size: 16px;
    display: initial;
    margin-right: 0px;
    margin-left: 3px
}

#comp-mirro3ml6 .style-ml6rxxqc__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 30px;
    height: 30px;
    transform: rotate(0deg);
    fill: #FFFFFF;
    display: initial;
    margin-left: 0px;
    margin-right: 3px
}

#comp-mirro3ml6 .style-ml6rxxqc__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF
}

@media screen and (min-width: 1px) and (max-width: 0px) {
    #comp-mirro3ml6 .style-ml6rxxqc__root .StylableButton2545352419__label {
        font-family: raleway-semibold,raleway,sans-serif;
        font-size: 14px;
    }
}/* END STYLABLE DIRECTIVE RULES */

#comp-mirro3mw6 .style-ml6rzlr5__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    padding: 3px; /*inset 3.54px 3.54px 0 -64px value(site_1_1)*/ border: 0px solid rgb(63, 118, 82); background: rgb(204, 0, 0); border-radius: 20px
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mirro3mw6 .style-ml6rzlr5__root:hover{
    background: #FFFFFF;
    border: 2px solid rgb(208, 2, 27)
}

#comp-mirro3mw6 .style-ml6rzlr5__root:hover .StylableButton2545352419__label{
    color: #D0021B
}

#comp-mirro3mw6 .style-ml6rzlr5__root:disabled{
    background: #E2E2E2;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0)
}

#comp-mirro3mw6 .style-ml6rzlr5__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-mirro3mw6 .style-ml6rzlr5__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-mirro3mw6 .style-ml6rzlr5__root .StylableButton2545352419__container{
    transition: inherit;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center
}

#comp-mirro3mw6 .style-ml6rzlr5__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-family: wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65,wf_3f0d4ffb6bdc4c1cb6dc005c9,orig_inter_regular;
    letter-spacing: 0.05em;
    margin-right: 0px;
    margin-left: 4px;
    font-size: 16px
}

#comp-mirro3mw6 .style-ml6rzlr5__root .StylableButton2545352419__icon{
    transition: inherit;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    display: initial;
    margin-left: 0px;
    margin-right: 4px;
    width: 30px;
    height: 30px
}

#comp-mirro3mw6 .style-ml6rzlr5__root:hover .StylableButton2545352419__icon{
    width: 42px;
    height: 42px;
    fill: #CC0000
}

@media screen and (min-width: 1px) and (max-width: 0px) {
    #comp-mirro3mw6 .style-ml6rzlr5__root .StylableButton2545352419__label {
        font-size: 14px;
    }
}/* END STYLABLE DIRECTIVE RULES */

#comp-mirro3n83 .style-mirro3n88__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    padding: 3px; /*inset 3.54px 3.54px 0 -64px value(site_1_1)*/ border-radius: 50px; border: 0px solid rgb(63, 118, 82); background: #C4C61F
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mirro3n83 .style-mirro3n88__root:hover{
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #C4C61F
}

#comp-mirro3n83 .style-mirro3n88__root:hover .StylableButton2545352419__label{
    font-family: wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65,wf_3f0d4ffb6bdc4c1cb6dc005c9,orig_inter_regular;
    color: #C4C61F
}

#comp-mirro3n83 .style-mirro3n88__root:disabled{
    background: #E2E2E2;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0)
}

#comp-mirro3n83 .style-mirro3n88__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-mirro3n83 .style-mirro3n88__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-mirro3n83 .style-mirro3n88__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-mirro3n83 .style-mirro3n88__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    color: #FFFFFF;
    font-style: normal;
    font-family: raleway-v2,sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: initial;
    letter-spacing: 0.05em
}

#comp-mirro3n83 .style-mirro3n88__root .StylableButton2545352419__icon{
    transition: inherit;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    width: 37px;
    height: 37px;
    display: none
}

#comp-mirro3n83 .style-mirro3n88__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF;
    width: 42px;
    height: 42px
}/* END STYLABLE DIRECTIVE RULES */

#comp-mirro3n92 .style-mirro3n97__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    padding: 3px; /*inset 3.54px 3.54px 0 -64px value(site_1_1)*/ border-radius: 50px; border: 0px solid rgb(63, 118, 82); background: #C4C61F
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mirro3n92 .style-mirro3n97__root:hover{
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #C4C61F
}

#comp-mirro3n92 .style-mirro3n97__root:hover .StylableButton2545352419__label{
    font-family: wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65,wf_3f0d4ffb6bdc4c1cb6dc005c9,orig_inter_regular;
    color: #C4C61F
}

#comp-mirro3n92 .style-mirro3n97__root:disabled{
    background: #E2E2E2;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0)
}

#comp-mirro3n92 .style-mirro3n97__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-mirro3n92 .style-mirro3n97__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-mirro3n92 .style-mirro3n97__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-mirro3n92 .style-mirro3n97__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    color: #FFFFFF;
    font-style: normal;
    font-family: raleway-v2,sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: initial;
    letter-spacing: 0.05em
}

#comp-mirro3n92 .style-mirro3n97__root .StylableButton2545352419__icon{
    transition: inherit;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    width: 37px;
    height: 37px;
    display: none
}

#comp-mirro3n92 .style-mirro3n97__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF;
    width: 42px;
    height: 42px
}/* END STYLABLE DIRECTIVE RULES */

#comp-mimyyuj02 .style-mimyyujh1__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 20px;
    box-shadow: 2.12px 2.12px 15px 1px #999A9F;
    border: 2px solid rgb(204, 0, 0);
    background: #CC0000
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mimyyuj02 .style-mimyyujh1__root:hover{
    background: #CC0000;
    border: 0px solid #33343F
}

#comp-mimyyuj02 .style-mimyyujh1__root:hover .StylableButton2545352419__label{
    color: #FFFFFF
}

#comp-mimyyuj02 .style-mimyyujh1__root:disabled{
    background: #E2E2E2
}

#comp-mimyyuj02 .style-mimyyujh1__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-mimyyuj02 .style-mimyyujh1__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-mimyyuj02 .style-mimyyujh1__root .StylableButton2545352419__container{
    transition: inherit;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center
}

#comp-mimyyuj02 .style-mimyyujh1__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    display: initial;
    margin-right: 0px;
    margin-left: 5px;
    letter-spacing: 0em;
    color: #FFFFFF; font-family: montserrat,sans-serif; font-size: 18px; font-weight: normal; font-style: normal;
    font-family: wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65,wf_3f0d4ffb6bdc4c1cb6dc005c9,orig_inter_regular;
    font-size: 16px;
    font-weight: 400
}

#comp-mimyyuj02 .style-mimyyujh1__root .StylableButton2545352419__icon{
    transition: inherit;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    display: initial;
    margin-left: 0px;
    margin-right: 5px;
    width: 30px;
    height: 30px
}

#comp-mimyyuj02 .style-mimyyujh1__root:hover .StylableButton2545352419__icon{
    fill: #33343F
}