#hpgql {
  width: auto;
  min-height: 40px;
}
#pageBackground_hpgql {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
}
#comp-lsdlizi71 {
  --bg-overlay-color: rgb(232, 230, 230);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lsdlizi83 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-lsdlizi9 {
  --shc-mutated-brightness: 128, 93, 0;
}
#comp-lsdlizi94 {
  --height: 43px;
  --width: 42px;
}
#comp-lsdlizia6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lsdlizib6 {
  --height: 504px;
  --width: 905px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='https://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
#comp-m8oebp5t {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oee374 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oeez21 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oeg5rg {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oeh070 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oeio4y {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oejxf7 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oelj3b {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oem5eq {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oen6nq {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oeo406 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oepdwh {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oeq2z3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oeqopy {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oer7fa {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oes8t0 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oet2ok {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oetqwd {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oeubmo {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oeuw6c {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oevl2v {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m8oew9o1 {
  --text-direction: var(--wix-opt-in-direction);
}
