#skelz{width:auto;min-height:40px;}#pageBackground_skelz{--bg-position:absolute;--bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;}#comp-lsxhafo6{--bg-overlay-color:transparent;--bg-gradient:none;min-width:980px;}.TPASection_lsxha5yw {
				--wix-direction: ltr;
--filterBorderRadius: 20;
--gridSidePadding: 24;
--cornerRadius: 20;
--bookButtonBorderRadius: 20;
--gridVerticalPadding: 20;
--filterSpacing: 6;
--serviceImagePadding: 9;
--presetId: NaN;
--serviceImageCornerRadius: 15;
--mobileWidgetTitleFontSize: 24;
--mobilewidgetMenuTitleFontSize: 20;
--borderWidth: 1;
--mobileFilterTitleFontSize: 14;
--filterBorderWidth: 1;
--dropdownBorderWidth: 1;
--stripCardColumnsSpacing: 40;
--menuSectionsSpacing: 80;
--overlappingSidePadding: 60;
--overlappingVerticalPadding: 60;
--stripBorderWidth: 0;
--stripSidePadding: 0;
--stripVerticalPadding: 32;
--classicSidePadding: 60;
--classicVerticalPadding: 60;
--imageAndTextRatio: 50;
--mobileServiceNameFontSize: 20;
--mobileServiceTaglineFontSize: 14;
--mobileMoreInfoButtonFontSize: 14;
--serviceDividerWidth: 1;
--mobilePriceBeforeDiscountFontSize: 14;
--mobileDiscountNameFontSize: 14;
--mobileServiceDetailsFontSize: 14;
--mobileBookButtonFontSize: 14;
--bookButtonBorderWidth: 1;
--bookButtonCornerRadius: 100;
--mobileExplorePlansFontSize: 14;
--loadServicesButtonBorderRadius: 0;
--loadServicesButtonBorderWidth: 1;
--numberOfColumns: 1;
--widgetMenuTitleFont: normal normal normal 24px/1.4em montserrat,sans-serif;
--menuTitleAlignment: center;
--filterTitleFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--dropdownTextFont: normal normal normal 14px/1.4em montserrat,sans-serif;
--priceBeforeDiscountFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--discountNameFont: normal normal normal 14px/1.4em montserrat,sans-serif;
--courseAvailabilityFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--explorePlansFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--loadServicesButtonFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--serviceImageSize: 100%;
--widgetTitleColor: 204,0,0;
--widgetTitleColor-rgb: 204,0,0;
--widgetTitleColor-opacity: 1;
--serviceNameColor: 51,52,63;
--serviceNameColor-rgb: 51,52,63;
--serviceNameColor-opacity: 1;
--bookButtonBorderColor: 51,52,63,0;
--bookButtonBorderColor-rgb: 51,52,63;
--bookButtonBorderColor-opacity: 0;
--bookButtonBackgroundColor: 204,0,0;
--bookButtonBackgroundColor-rgb: 204,0,0;
--bookButtonBackgroundColor-opacity: 1;
--widgetBackgroundColor: 255,255,255;
--widgetBackgroundColor-rgb: 255,255,255;
--widgetBackgroundColor-opacity: 1;
--widgetMenuTitleColor: 51,52,63;
--widgetMenuTitleColor-rgb: 51,52,63;
--widgetMenuTitleColor-opacity: 1;
--infoBackgroundColor: 255,255,255;
--infoBackgroundColor-rgb: 255,255,255;
--infoBackgroundColor-opacity: 1;
--borderColor: 51,52,63,0.2;
--borderColor-rgb: 51,52,63;
--borderColor-opacity: 0.2;
--filterTitleColor: 51,52,63;
--filterTitleColor-rgb: 51,52,63;
--filterTitleColor-opacity: 1;
--filterSelectedIndicationColor: 51,52,63;
--filterSelectedIndicationColor-rgb: 51,52,63;
--filterSelectedIndicationColor-opacity: 1;
--filterSelectedTextColor: 255,255,255;
--filterSelectedTextColor-rgb: 255,255,255;
--filterSelectedTextColor-opacity: 1;
--filterSelectedBorderColor: 51,52,63;
--filterSelectedBorderColor-rgb: 51,52,63;
--filterSelectedBorderColor-opacity: 1;
--filterHoverIndicationColor: 255,255,255;
--filterHoverIndicationColor-rgb: 255,255,255;
--filterHoverIndicationColor-opacity: 1;
--filterHoverTextColor: 51,52,63;
--filterHoverTextColor-rgb: 51,52,63;
--filterHoverTextColor-opacity: 1;
--filterHoverBorderColor: 51,52,63,0.6;
--filterHoverBorderColor-rgb: 51,52,63;
--filterHoverBorderColor-opacity: 0.6;
--filterBorderColor: 51,52,63,0.2;
--filterBorderColor-rgb: 51,52,63;
--filterBorderColor-opacity: 0.2;
--filterBackgroundColor: 255,255,255;
--filterBackgroundColor-rgb: 255,255,255;
--filterBackgroundColor-opacity: 1;
--dropdownTextColor: 51,52,63;
--dropdownTextColor-rgb: 51,52,63;
--dropdownTextColor-opacity: 1;
--dropdownBorderColor: 51,52,63,0.4;
--dropdownBorderColor-rgb: 51,52,63;
--dropdownBorderColor-opacity: 0.4;
--dropdownBackgroundColor: 255,255,255;
--dropdownBackgroundColor-rgb: 255,255,255;
--dropdownBackgroundColor-opacity: 1;
--serviceImageBackgroundColor: 51,52,63,0.2;
--serviceImageBackgroundColor-rgb: 51,52,63;
--serviceImageBackgroundColor-opacity: 0.2;
--servicesDividerColor: 51,52,63,0.2;
--servicesDividerColor-rgb: 51,52,63;
--servicesDividerColor-opacity: 0.2;
--serviceTaglineColor: 51,52,63;
--serviceTaglineColor-rgb: 51,52,63;
--serviceTaglineColor-opacity: 1;
--moreInfoButtonColor: 51,52,63;
--moreInfoButtonColor-rgb: 51,52,63;
--moreInfoButtonColor-opacity: 1;
--serviceDividerColor: 51,52,63,0.2;
--serviceDividerColor-rgb: 51,52,63;
--serviceDividerColor-opacity: 0.2;
--serviceDetailsColor: 51,52,63;
--serviceDetailsColor-rgb: 51,52,63;
--serviceDetailsColor-opacity: 1;
--priceBeforeDiscountColor: 153,154,159;
--priceBeforeDiscountColor-rgb: 153,154,159;
--priceBeforeDiscountColor-opacity: 1;
--discountNameColor: 51,52,63;
--discountNameColor-rgb: 51,52,63;
--discountNameColor-opacity: 1;
--courseAvailabilityColor: 51,52,63;
--courseAvailabilityColor-rgb: 51,52,63;
--courseAvailabilityColor-opacity: 1;
--bookButtonHoverBackgroundColor: 204,0,0;
--bookButtonHoverBackgroundColor-rgb: 204,0,0;
--bookButtonHoverBackgroundColor-opacity: 1;
--holeBookButtonTextColor: 51,52,63;
--holeBookButtonTextColor-rgb: 51,52,63;
--holeBookButtonTextColor-opacity: 1;
--fillBookButtonTextColor: 255,255,255;
--fillBookButtonTextColor-rgb: 255,255,255;
--fillBookButtonTextColor-opacity: 1;
--bookButtonHoverTextColor: 255,255,255;
--bookButtonHoverTextColor-rgb: 255,255,255;
--bookButtonHoverTextColor-opacity: 1;
--bookButtonHoverBorderColor: 51,52,63,0;
--bookButtonHoverBorderColor-rgb: 51,52,63;
--bookButtonHoverBorderColor-opacity: 0;
--explorePlansTextColor: 51,52,63;
--explorePlansTextColor-rgb: 51,52,63;
--explorePlansTextColor-opacity: 1;
--fillLoadServicesButtonTextColor: 51,52,63;
--fillLoadServicesButtonTextColor-rgb: 51,52,63;
--fillLoadServicesButtonTextColor-opacity: 1;
--loadServicesButtonBackgroundColor: 255,255,255;
--loadServicesButtonBackgroundColor-rgb: 255,255,255;
--loadServicesButtonBackgroundColor-opacity: 1;
--loadServicesButtonBorderColor: 51,52,63;
--loadServicesButtonBorderColor-rgb: 51,52,63;
--loadServicesButtonBorderColor-opacity: 1;
--bookButtonFont: normal normal normal 14px/17px montserrat,sans-serif;
--bookButtonFont-style: normal;
--bookButtonFont-variant: normal;
--bookButtonFont-weight: normal;
--bookButtonFont-size: 14px;
--bookButtonFont-line-height: 17px;
--bookButtonFont-family: montserrat,sans-serif;
--bookButtonFont-text-decoration: none;
--serviceDetailsFont: normal normal normal 18px/22px montserrat,sans-serif;
--serviceDetailsFont-style: normal;
--serviceDetailsFont-variant: normal;
--serviceDetailsFont-weight: normal;
--serviceDetailsFont-size: 18px;
--serviceDetailsFont-line-height: 22px;
--serviceDetailsFont-family: montserrat,sans-serif;
--serviceDetailsFont-text-decoration: none;
--serviceNameFont: normal normal bold 18px/22px montserrat,sans-serif;
--serviceNameFont-style: normal;
--serviceNameFont-variant: normal;
--serviceNameFont-weight: bold;
--serviceNameFont-size: 18px;
--serviceNameFont-line-height: 22px;
--serviceNameFont-family: montserrat,sans-serif;
--serviceNameFont-text-decoration: none;
--widgetTitleFont: normal normal bold 36px/45px montserrat,sans-serif;
--widgetTitleFont-style: normal;
--widgetTitleFont-variant: normal;
--widgetTitleFont-weight: bold;
--widgetTitleFont-size: 36px;
--widgetTitleFont-line-height: 45px;
--widgetTitleFont-family: montserrat,sans-serif;
--widgetTitleFont-text-decoration: none;
--moreInfoButtonFont: normal normal normal 16px/20px montserrat,sans-serif;
--moreInfoButtonFont-style: normal;
--moreInfoButtonFont-variant: normal;
--moreInfoButtonFont-weight: normal;
--moreInfoButtonFont-size: 16px;
--moreInfoButtonFont-line-height: 20px;
--moreInfoButtonFont-family: montserrat,sans-serif;
--moreInfoButtonFont-text-decoration: none;
--serviceTagLineFont: normal normal normal 14px/17px montserrat,sans-serif;
--serviceTagLineFont-style: normal;
--serviceTagLineFont-variant: normal;
--serviceTagLineFont-weight: normal;
--serviceTagLineFont-size: 14px;
--serviceTagLineFont-line-height: 17px;
--serviceTagLineFont-family: montserrat,sans-serif;
--serviceTagLineFont-text-decoration: none;
--widgetMenuTitleFont-style: normal;
--widgetMenuTitleFont-variant: normal;
--widgetMenuTitleFont-weight: normal;
--widgetMenuTitleFont-size: 24px;
--widgetMenuTitleFont-line-height: 1.4em;
--widgetMenuTitleFont-family: montserrat,sans-serif;
--widgetMenuTitleFont-text-decoration: none;
--filterTitleFont-style: normal;
--filterTitleFont-variant: normal;
--filterTitleFont-weight: normal;
--filterTitleFont-size: 16px;
--filterTitleFont-line-height: 1.4em;
--filterTitleFont-family: montserrat,sans-serif;
--filterTitleFont-text-decoration: none;
--dropdownTextFont-style: normal;
--dropdownTextFont-variant: normal;
--dropdownTextFont-weight: normal;
--dropdownTextFont-size: 14px;
--dropdownTextFont-line-height: 1.4em;
--dropdownTextFont-family: montserrat,sans-serif;
--dropdownTextFont-text-decoration: none;
--priceBeforeDiscountFont-style: normal;
--priceBeforeDiscountFont-variant: normal;
--priceBeforeDiscountFont-weight: normal;
--priceBeforeDiscountFont-size: 16px;
--priceBeforeDiscountFont-line-height: 1.4em;
--priceBeforeDiscountFont-family: montserrat,sans-serif;
--priceBeforeDiscountFont-text-decoration: none;
--discountNameFont-style: normal;
--discountNameFont-variant: normal;
--discountNameFont-weight: normal;
--discountNameFont-size: 14px;
--discountNameFont-line-height: 1.4em;
--discountNameFont-family: montserrat,sans-serif;
--discountNameFont-text-decoration: none;
--courseAvailabilityFont-style: normal;
--courseAvailabilityFont-variant: normal;
--courseAvailabilityFont-weight: normal;
--courseAvailabilityFont-size: 16px;
--courseAvailabilityFont-line-height: 1.4em;
--courseAvailabilityFont-family: montserrat,sans-serif;
--courseAvailabilityFont-text-decoration: none;
--explorePlansFont-style: normal;
--explorePlansFont-variant: normal;
--explorePlansFont-weight: normal;
--explorePlansFont-size: 16px;
--explorePlansFont-line-height: 1.4em;
--explorePlansFont-family: montserrat,sans-serif;
--explorePlansFont-text-decoration: none;
--loadServicesButtonFont-style: normal;
--loadServicesButtonFont-variant: normal;
--loadServicesButtonFont-weight: normal;
--loadServicesButtonFont-size: 16px;
--loadServicesButtonFont-line-height: 1.4em;
--loadServicesButtonFont-family: montserrat,sans-serif;
--loadServicesButtonFont-text-decoration: none;
--serviceImageDisplay: block;
--isServiceImageVisible: 1;
--titleDisplay: block;
--serviceDividerDisplay: block;
--onlineBadgeDisplay: none;
--tagLineDisplay: none;
--moreInfoButtonDisplay: none;
--serviceOfferedDaysDisplay: block;
--serviceStartDateDisplay: block;
--courseAvailabilityDisplay: block;
--serviceDurationDisplay: block;
--servicePriceDisplay: block;
--bookButtonDisplay: block;
--explorePlansDisplay: block;
--breadcrumbsDisplay: none;
--priceAfterDiscountDisplay: block;
--serviceDiscountNameDisplay: flex;
--headerMarginBottom: 60px;
--explorePlansPlaceholderVisibility: block;
--explorePlansMarginTop: 16px;
--bodyMaxWidth: 616px;
--bodyWidth: 100%;
--bodyMarginLeft: auto;
--bodyMarginRight: auto;
--cardMaxWidth: 616px;
--cardMinWidth: 240px;
--cardsPerRow: 4;
--cardsPerRowDeprecated: 4;
--cardsDividerVisibility: none;
--dividerWidth: 1;
--gridPadding: unset;
--gridRowsGap: 22px;
--gridColumnsGap: 22px;
--topPositionForDivider: -12;
--bottomPositionForDivider: -10.5;
--dividerSecondDisplay: none;
--dividerThirdDisplay: none;
--evenImageDirection: column;
--oddImageDirection: column;
--gridTemplateRows: unset;
--infoBorderWidth: 0;
--infoZIndex: auto;
--rootBackgroundColor: rgb(255, 255, 255);
--evenOverlappingGridArea: unset;
--oddOverlappingGridArea: unset;
--evenOverlappingImageMargin: 0;
--oddOverlappingImageMargin: 0;
--evenOverlappingTemplateColumns: unset;
--oddOverlappingTemplateColumns: unset;
--serviceDetailsTextAlign: left;
--serviceDetailsMarginLeft: 0;
--serviceDetailsMarginRight: auto;
--titlePaddingLeft: initial;
--titlePaddingRight: 20%;
--titleTextAlign: left;
--mediaWidth: 100%;
--mediaHeight: 100%;
--imagePaddingTop: 67%;
--cardDisplay: flex;
--layoutCardMinWidth: 130px;
--infoWidth: inherit;
--layoutVerticalPadding: 19;
--layoutSidePadding: 23;
--mediaRatio: 0;
--infoRatio: 1;
--infoOverflow: unset;
--imageWrapperRadius: 15px;
--imageCardCornerRadius: 0;
--imageWrapperMargin: 9px;
--imageWrapperHeight: calc(100% - 18px);
--imageWrapperWidth: calc(100% - 18px);
--cardBorderWidth: 1;
--stripCalcIndication: 0px;
--nonStripCalcIndication: 1px;
--mediaFlex: 0;
--infoFlex: 1;
--backgroundOnHover: inherit;
--infoCardCornerRadius: 0;
--serviceInfoDividerMargin: 24px 0;
--serviceInfoDisplay: flex;
--serviceInfoDetailsWrap: nowrap;
--serviceInfoFlexDirection: column;
--serviceInfoMargin: 0;
--serviceInfoColumnsMargin: 0;
--serviceInfoFirstColumnBasis: unset;
--serviceInfoDividerDisplay: block;
--serviceInfoTitleAreaFlex: none;
--serviceInfoTitleAreaFlexWithNoBookButton: none;
--serviceInfoDetailsMargin: 0;
--serviceInfoTitleBottom: 0 0 12px 0;
--serviceInfoTagLineTopMargin: 12px;
--serviceInfoTagLineBottomMargin: 12px;
--serviceInfoButtonMargin: 20px 0 0 0;
--serviceInfoButtonWidth: unset;
--serviceInfoButtonMinWidth: unset;
--serviceInfoButtonMaxWidth: unset;
--serviceInfoButtonWhiteSpace: nowrap;
--serviceInfoJustifyContent: space-between;
--priceAreaMaxHeight: fit-content;
--emptyPriceAreaDisplay: block;
--horizontalCourseAvailabilityDisplay: none;
--verticalCourseAvailabilityDisplay: block;
--serviceInfoHorizontalColumnMinWidth: unset;
				--wix-color-1: 255,255,255;
--wix-color-2: 182,182,184;
--wix-color-3: 153,154,159;
--wix-color-4: 102,103,111;
--wix-color-5: 51,52,63;
--wix-color-6: 182,183,196;
--wix-color-7: 110,112,136;
--wix-color-8: 51,52,63;
--wix-color-9: 34,35,42;
--wix-color-10: 17,17,21;
--wix-color-11: 215,215,225;
--wix-color-12: 174,175,194;
--wix-color-13: 134,135,164;
--wix-color-14: 97,99,129;
--wix-color-15: 102,103,111;
--wix-color-16: 251,251,251;
--wix-color-17: 182,182,184;
--wix-color-18: 185,185,185;
--wix-color-19: 124,124,124;
--wix-color-20: 62,62,62;
--wix-color-21: 252,222,147;
--wix-color-22: 248,189,38;
--wix-color-23: 208,151,7;
--wix-color-24: 139,101,4;
--wix-color-25: 69,50,2;
--wix-color-26: 255,255,255;
--wix-color-27: 51,52,63;
--wix-color-28: 182,182,184;
--wix-color-29: 153,154,159;
--wix-color-30: 102,103,111;
--wix-color-31: 239,239,239;
--wix-color-32: 40,38,38;
--wix-color-33: 233,226,215;
--wix-color-34: 203,200,194;
--wix-color-35: 51,52,63;
--wix-color-36: 51,52,63;
--wix-color-37: 102,103,111;
--wix-color-38: 51,52,63;
--wix-color-39: 51,52,63;
--wix-color-40: 255,255,255;
--wix-color-41: 255,255,255;
--wix-color-42: 51,52,63;
--wix-color-43: 51,52,63;
--wix-color-44: 153,154,159;
--wix-color-45: 153,154,159;
--wix-color-46: 255,255,255;
--wix-color-47: 255,255,255;
--wix-color-48: 51,52,63;
--wix-color-49: 51,52,63;
--wix-color-50: 51,52,63;
--wix-color-51: 51,52,63;
--wix-color-52: 255,255,255;
--wix-color-53: 255,255,255;
--wix-color-54: 153,154,159;
--wix-color-55: 153,154,159;
--wix-font-Title: normal normal normal 88px/1.2em montserrat,sans-serif;
--wix-font-Title-style: normal;
--wix-font-Title-variant: normal;
--wix-font-Title-weight: normal;
--wix-font-Title-size: 88px;
--wix-font-Title-line-height: 1.2em;
--wix-font-Title-family: montserrat,sans-serif;
--wix-font-Title-text-decoration: none;
--wix-font-Menu: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496,sans-serif;
--wix-font-Menu-style: normal;
--wix-font-Menu-variant: normal;
--wix-font-Menu-weight: normal;
--wix-font-Menu-size: 14px;
--wix-font-Menu-line-height: 1.79em;
--wix-font-Menu-family: avenir-lt-w01_35-light1475496,sans-serif;
--wix-font-Menu-text-decoration: none;
--wix-font-Page-title: normal normal normal 72px/1.25em montserrat,sans-serif;
--wix-font-Page-title-style: normal;
--wix-font-Page-title-variant: normal;
--wix-font-Page-title-weight: normal;
--wix-font-Page-title-size: 72px;
--wix-font-Page-title-line-height: 1.25em;
--wix-font-Page-title-family: montserrat,sans-serif;
--wix-font-Page-title-text-decoration: none;
--wix-font-Heading-XL: normal normal normal 50px/1.34em montserrat,sans-serif;
--wix-font-Heading-XL-style: normal;
--wix-font-Heading-XL-variant: normal;
--wix-font-Heading-XL-weight: normal;
--wix-font-Heading-XL-size: 50px;
--wix-font-Heading-XL-line-height: 1.34em;
--wix-font-Heading-XL-family: montserrat,sans-serif;
--wix-font-Heading-XL-text-decoration: none;
--wix-font-Heading-L: normal normal normal 40px/1.35em montserrat,sans-serif;
--wix-font-Heading-L-style: normal;
--wix-font-Heading-L-variant: normal;
--wix-font-Heading-L-weight: normal;
--wix-font-Heading-L-size: 40px;
--wix-font-Heading-L-line-height: 1.35em;
--wix-font-Heading-L-family: montserrat,sans-serif;
--wix-font-Heading-L-text-decoration: none;
--wix-font-Heading-M: normal normal normal 28px/1.38em montserrat,sans-serif;
--wix-font-Heading-M-style: normal;
--wix-font-Heading-M-variant: normal;
--wix-font-Heading-M-weight: normal;
--wix-font-Heading-M-size: 28px;
--wix-font-Heading-M-line-height: 1.38em;
--wix-font-Heading-M-family: montserrat,sans-serif;
--wix-font-Heading-M-text-decoration: none;
--wix-font-Heading-S: normal normal normal 22px/1.41em montserrat,sans-serif;
--wix-font-Heading-S-style: normal;
--wix-font-Heading-S-variant: normal;
--wix-font-Heading-S-weight: normal;
--wix-font-Heading-S-size: 22px;
--wix-font-Heading-S-line-height: 1.41em;
--wix-font-Heading-S-family: montserrat,sans-serif;
--wix-font-Heading-S-text-decoration: none;
--wix-font-Body-L: normal normal normal 20px/1.67em montserrat,sans-serif;
--wix-font-Body-L-style: normal;
--wix-font-Body-L-variant: normal;
--wix-font-Body-L-weight: normal;
--wix-font-Body-L-size: 20px;
--wix-font-Body-L-line-height: 1.67em;
--wix-font-Body-L-family: montserrat,sans-serif;
--wix-font-Body-L-text-decoration: none;
--wix-font-Body-M: normal normal normal 18px/1.75em montserrat,sans-serif;
--wix-font-Body-M-style: normal;
--wix-font-Body-M-variant: normal;
--wix-font-Body-M-weight: normal;
--wix-font-Body-M-size: 18px;
--wix-font-Body-M-line-height: 1.75em;
--wix-font-Body-M-family: montserrat,sans-serif;
--wix-font-Body-M-text-decoration: none;
--wix-font-Body-S: normal normal normal 15px/1.88em montserrat,sans-serif;
--wix-font-Body-S-style: normal;
--wix-font-Body-S-variant: normal;
--wix-font-Body-S-weight: normal;
--wix-font-Body-S-size: 15px;
--wix-font-Body-S-line-height: 1.88em;
--wix-font-Body-S-family: montserrat,sans-serif;
--wix-font-Body-S-text-decoration: none;
--wix-font-Body-XS: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496,sans-serif;
--wix-font-Body-XS-style: normal;
--wix-font-Body-XS-variant: normal;
--wix-font-Body-XS-weight: normal;
--wix-font-Body-XS-size: 14px;
--wix-font-Body-XS-line-height: 1.79em;
--wix-font-Body-XS-family: avenir-lt-w01_35-light1475496,sans-serif;
--wix-font-Body-XS-text-decoration: none;
--wix-font-LIGHT: normal normal normal 12px/1.4em HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-style: normal;
--wix-font-LIGHT-variant: normal;
--wix-font-LIGHT-weight: normal;
--wix-font-LIGHT-size: 12px;
--wix-font-LIGHT-line-height: 1.4em;
--wix-font-LIGHT-family: HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-text-decoration: none;
--wix-font-MEDIUM: normal normal normal 12px/1.4em HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-style: normal;
--wix-font-MEDIUM-variant: normal;
--wix-font-MEDIUM-weight: normal;
--wix-font-MEDIUM-size: 12px;
--wix-font-MEDIUM-line-height: 1.4em;
--wix-font-MEDIUM-family: HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-text-decoration: none;
--wix-font-STRONG: normal normal normal 12px/1.4em HelveticaNeueW01-65Medi;
--wix-font-STRONG-style: normal;
--wix-font-STRONG-variant: normal;
--wix-font-STRONG-weight: normal;
--wix-font-STRONG-size: 12px;
--wix-font-STRONG-line-height: 1.4em;
--wix-font-STRONG-family: HelveticaNeueW01-65Medi;
--wix-font-STRONG-text-decoration: none;
		}





