<section class="certibox-wix">
  <div id="SITE_PAGES" class="JsJXaX SITE_PAGES"><div id="steae" class="dBAkHi theme-vars steae"><div class="PFkO7r wixui-page"></div><div class="HT5ybB"><div id="Containersteae" class="Containersteae SPY_vo"><div data-mesh-id="ContainersteaeinlineContent" class=""><div data-mesh-id="ContainersteaeinlineContent-gridContainer">
  {{> certibox/bienvenidos-al-club-certibox}}
  {{> certibox/ahora-con-certibox-tienes-la}}
  {{> certibox/contratar-el-servicio}}
  </div></div></div></div></div></div>
</section>

