#lspga {
  width: auto;
  min-height: 40px;
}
#pageBackground_lspga {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
}
#comp-lr0nt5xa {
  --bg-overlay-color: rgb(242, 242, 242);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lr0nt5xb {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lr0nt5xe {
  --bg-overlay-color: rgb(242, 242, 242);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lr0nt5xf6 {
  --direction: var(--wix-opt-in-direction);
  --justify-content: start;
  --item-margin: 15px 15px;
  --margin-top: -15px;
  --margin-bottom: -15px;
  --margin-inline-start: -15px;
  --margin-inline-end: -15px;
}
[id^="comp-lr0nt5xk__"] {
  --scale: 1;
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1);
  border-radius: 0 0 0 0;
  overflow: clip !important;
  transform: translateZ(0);
  margin: -0px;
}
[id^="comp-lr0nt5xm2__"] {
  --height: 120px;
  --width: 245px;
}
[id="comp-lr0nt5xm2__item2"] {
  --height: 120px;
  --width: 245px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='https://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
[id^="comp-lr0qsb9k__"] {
  --shc-mutated-brightness: 128, 128, 128;
}
[id^="comp-lr0nt5xp__"] {
  --min-height: 23px;
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-lr0nt5xq3__"] {
  --text-direction: var(--wix-opt-in-direction);
}
