#rc4o6 {
  width: auto;
  min-height: 40px;
}
#pageBackground_rc4o6 {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
}
#comp-m0p7vdmk {
  --fill-layer-image-opacity: 1;
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m2ah3537 {
  --shc-mutated-brightness: 9, 72, 101;
}
#comp-m0p7vdn1 {
  --opacity: 1;
}
#comp-m0p7vdn64 {
  --min-height: 166px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0p7vdna {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m2ad86dq {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m2ad86dt1 {
  --fnt: normal normal normal 16px/1.88em montserrat, sans-serif;
  --fntlbl: normal normal normal 16px/1.88em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 5px;
  --textPadding: 3px;
  --textPadding_start: 18px;
  --textPadding_end: 3px;
  --labelPadding_start: 5px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 40px;
}
#comp-m2ad86e1 {
  --fnt: normal normal normal 16px/1.88em montserrat, sans-serif;
  --fntlbl: normal normal normal 16px/1.88em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 5px;
  --textPadding: 3px;
  --textPadding_start: 18px;
  --textPadding_end: 3px;
  --labelPadding_start: 5px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 40px;
}
#comp-m2ad86e4 {
  --fnt: normal normal normal 16px/1.88em montserrat, sans-serif;
  --fntlbl: normal normal normal 16px/1.88em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 5px;
  --textPadding: 3px;
  --textPadding_start: 18px;
  --textPadding_end: 3px;
  --labelPadding_start: 5px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 40px;
}
#comp-m2ad86ed1 {
  --fnt: normal normal normal 16px/1.88em montserrat, sans-serif;
  --fntlbl: normal normal normal 16px/1.88em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 5px;
  --textPadding: 3px;
  --textPadding_start: 18px;
  --textPadding_end: 3px;
  --labelPadding_start: 5px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 40px;
}
#comp-m2ad86eg1 {
  --checkboxSize: 14px;
  --fnt: normal normal normal 12px/1.88em montserrat, sans-serif;
  --checkmarkMargin_start: -14px;
  --labelMargin_start: 8px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-m2ad86em {
  --checkboxSize: 14px;
  --fnt: normal normal normal 12px/1.88em montserrat, sans-serif;
  --checkmarkMargin_start: -14px;
  --labelMargin_start: 8px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-m2ad86ep1 {
  --shc-mutated-brightness: 128, 128, 128;
  --margin-start: 0px;
  --margin-end: 0px;
  --fnt: normal normal 700 16px/1.2em montserrat, sans-serif;
  direction: var(--wix-opt-in-direction, ltr);
  --label-align: center;
  --label-text-align: center;
}
#comp-m0wktebz {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0wktece {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #ffffff;
}
#comp-m0p7vdoi {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m0p7vdok {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0w5rxgm {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-m0w5rxix {
  --bg-overlay-color: rgba(18, 144, 202, 0.2);
  --bg-gradient: none;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-m0p7vdok6 {
  --direction: var(--wix-opt-in-direction);
  --justify-content: center;
  --item-margin: 27px 27px;
  --margin-top: -27px;
  --margin-bottom: -27px;
  --margin-inline-start: -27px;
  --margin-inline-end: -27px;
  --docked-margin: 190px;
}
[id^="comp-m0p7vdon1__"] {
  --scale: 1;
  --bg-overlay-color: rgb(18, 144, 202);
  --bg-gradient: none;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 20px 20px 20px 20px;
  overflow: clip !important;
  transform: translateZ(0);
  margin: -0px;
}
[id^="comp-m0p7vdos__"] {
  --opacity: 1;
}
[id^="comp-m0p7vdou__"] {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0uyx4mi {
  --bg-overlay-color: rgba(18, 144, 202, 0.2);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m0uyx4nm {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0v0mp5s {
  --opacity: 1;
}
#comp-m0v0odo4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0v0otjm {
  --opacity: 1;
}
#comp-m0v0puf9 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0p7vdox2 {
  --bg-overlay-color: rgb(18, 144, 202);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m0p7vdoy3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0v28tyk {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m0v28tzs1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0v28tzt {
  --direction: var(--wix-opt-in-direction);
  --justify-content: center;
  --item-margin: 0px 0px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
  --docked-margin: 190px;
}
[id^="comp-m0v28tzu5__"] {
  --scale: 1;
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 20px 20px 20px 20px;
  overflow: clip !important;
  transform: translateZ(0);
  margin: -0px;
}
[id^="comp-m0v2bva1__"] {
  --shc-mutated-brightness: 9, 72, 101;
}
[id^="comp-m0w312d1__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-m0v28u01__"] {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0w5gwsq {
  --bg-overlay-color: rgb(18, 144, 202);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m0w68xl4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0w625g3 {
  --direction: var(--wix-opt-in-direction);
  --justify-content: center;
  --item-margin: 0px 0px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
  --docked-margin: 190px;
}
[id^="comp-m0w625h71__"] {
  --scale: 1;
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 20px 20px 20px 20px;
  overflow: clip !important;
  transform: translateZ(0);
  margin: -0px;
}
[id^="comp-m0w625hb3__"] {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0p7vdoz4 {
  --bg-overlay-color: rgba(50, 50, 50, 0.69);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m0p7vdp08 {
  --height: 45px;
  --width: 122px;
}
#comp-m0p7vdp31 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0p7vdp6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m0p7vdp99 {
  --item-size: 39px;
  --item-margin-block: 0;
  --item-margin-inline: 0px 10px;
  --item-display: inline-block;
  --direction: var(--wix-opt-in-direction, ltr);
  width: 235px;
  height: 39px;
}
