/* END STYLABLE DIRECTIVE RULES */

#comp-lt5m1m9q2 .style-lt5m1m9t__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  border: 1px solid #ffffff;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lt5m1m9q2 .style-lt5m1m9t__root:hover {
  border: 1px solid #ffffff;
  background: rgb(255, 255, 255);
}

#comp-lt5m1m9q2 .style-lt5m1m9t__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#comp-lt5m1m9q2 .style-lt5m1m9t__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  display: initial;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0em;
  margin-right: 0px;
  margin-left: 2.5px;
  color: #ffffff;
}

#comp-lt5m1m9q2 .style-lt5m1m9t__root:disabled {
  background: #e2e2e2;
}

#comp-lt5m1m9q2 .style-lt5m1m9t__root:disabled .StylableButton2545352419__label {
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

#comp-lt5m1m9q2 .style-lt5m1m9t__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lt5m1m9q2 .style-lt5m1m9t__root .StylableButton2545352419__icon {
  transition: inherit;
  margin: 0px 0px 0px 4px;
  display: initial;
  margin-left: 0px;
  margin-right: 2.5px;
  width: 28px;
  height: 28px;
  fill: #ffffff;
}

#comp-lt5m1m9q2 .style-lt5m1m9t__root:hover .StylableButton2545352419__label {
  color: #66676f;
}

#comp-lt5m1m9q2 .style-lt5m1m9t__root:hover .StylableButton2545352419__icon {
  fill: #6e7088;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lt5m1mbd4 .style-lt63w38h__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 20px;
  box-shadow: 2.83px 2.83px 25px rgba(0, 0, 0, 0.38);
  border: 0px solid rgb(255, 185, 0);
  background: #fc607f;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lt5m1mbd4 .style-lt63w38h__root:hover {
  background: #ff4040;
}

#comp-lt5m1mbd4 .style-lt63w38h__root:hover .StylableButton2545352419__label {
  font-family: montserrat, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
}

#comp-lt5m1mbd4 .style-lt63w38h__root:disabled {
  background: #e2e2e2;
}

#comp-lt5m1mbd4 .style-lt63w38h__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lt5m1mbd4 .style-lt63w38h__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lt5m1mbd4 .style-lt63w38h__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-lt5m1mbd4 .style-lt63w38h__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: bree-w01-thin-oblique, sans-serif;
  font-style: normal;
  color: #ffffff;
  letter-spacing: 0em;
  font-family: montserrat, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
}

#comp-lt5m1mbd4 .style-lt63w38h__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-lt5m1mbd4 .style-lt63w38h__root .StylableButton2545352419__label {
    font-size: 15px;
    font-weight: normal;
    font-size: 14px;
    font-weight: 700;
  }
  #comp-lt5m1mbd4 .style-lt63w38h__root:hover .StylableButton2545352419__label {
    font-size: 15px;
    font-weight: normal;
    font-size: 14px;
    font-weight: 700;
  }
}
