/* END STYLABLE DIRECTIVE RULES */

#comp-ltq039id .style-ltqyvllq__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  background: #e81e7c;
  border-radius: 30px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-ltq039id .style-ltqyvllq__root:hover {
  border: 1px solid #33343f;
  background: #ffffff;
}

#comp-ltq039id .style-ltqyvllq__root:hover .StylableButton2545352419__label {
  color: #33343f;
}

#comp-ltq039id .style-ltqyvllq__root:disabled {
  background: #e2e2e2;
}

#comp-ltq039id .style-ltqyvllq__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-ltq039id .style-ltqyvllq__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-ltq039id .style-ltqyvllq__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-ltq039id .style-ltqyvllq__root .StylableButton2545352419__label {
  transition: inherit;
  font-family: futura-lt-w01-book, sans-serif;
  margin: 0px 4px 0px 0px;
  color: #ffffff;
  letter-spacing: 0em;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}

#comp-ltq039id .style-ltqyvllq__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-ltq039id .style-ltqyvllq__root:hover .StylableButton2545352419__icon {
  fill: #33343f;
} /* END STYLABLE DIRECTIVE RULES */

#comp-ltsnwrq9 .style-ltso2z0j__root:hover .StylableButton2545352419__icon {
  fill: #ed1566;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-ltsnwrq9 .style-ltso2z0j__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  background: rgba(255, 255, 255, 0);
  border-radius: 50px;
  border: 1px solid #ffffff;
}

#comp-ltsnwrq9 .style-ltso2z0j__root:hover {
  background: rgb(255, 255, 255);
}

#comp-ltsnwrq9 .style-ltso2z0j__root:hover .StylableButton2545352419__label {
  color: #ed1566;
}

#comp-ltsnwrq9 .style-ltso2z0j__root:disabled {
  background: #e2e2e2;
}

#comp-ltsnwrq9 .style-ltso2z0j__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-ltsnwrq9 .style-ltso2z0j__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-ltsnwrq9 .style-ltso2z0j__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#comp-ltsnwrq9 .style-ltso2z0j__root .StylableButton2545352419__label {
  transition: inherit;
  font-size: 14px;
  font-family: poppins-extralight, poppins, sans-serif;
  font-family: montserrat, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  margin: 0px 2px 0px 0px;
  color: #ffffff;
  letter-spacing: 0em;
  margin-right: 0px;
  margin-left: 2px;
}

#comp-ltsnwrq9 .style-ltso2z0j__root .StylableButton2545352419__icon {
  transition: inherit;
  display: initial;
  margin: 0px 0px 0px 2px;
  fill: #ffffff;
  margin-left: 0px;
  margin-right: 2px;
  width: 29px;
  height: 29px;
}
