/* END STYLABLE DIRECTIVE RULES */

#comp-madsgv9z7 .style-madtfyeg__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    background: #CC0000;
    border-radius: 20px
}

/* START STYLABLE DIRECTIVE RULES */

#comp-madsgv9z7 .style-madtfyeg__root:hover {
    background: #6E7088;
}

#comp-madsgv9z7 .style-madtfyeg__root:disabled{
    background: #E2E2E2
}

#comp-madsgv9z7 .style-madtfyeg__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-madsgv9z7 .style-madtfyeg__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-madsgv9z7 .style-madtfyeg__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-madsgv9z7 .style-madtfyeg__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    letter-spacing: 0.1em;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF; font-family: montserrat,sans-serif; font-size: 15px; font-weight: normal; font-style: normal;
    font-family: raleway-semibold,raleway,sans-serif
}

#comp-madsgv9z7 .style-madtfyeg__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 10px;
    height: 10px;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    display: none;
}/* END STYLABLE DIRECTIVE RULES */

#comp-ml12e8l26 .style-ml12e8l71__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 20px;
    box-shadow: 2.12px 2.12px 15px 1px #999A9F;
    border: 2px solid rgb(204, 0, 0);
    background: #CC0000
}

/* START STYLABLE DIRECTIVE RULES */

#comp-ml12e8l26 .style-ml12e8l71__root:hover{
    background: #CC0000;
    border: 0px solid #33343F
}

#comp-ml12e8l26 .style-ml12e8l71__root:hover .StylableButton2545352419__label{
    color: #FFFFFF
}

#comp-ml12e8l26 .style-ml12e8l71__root:disabled{
    background: #E2E2E2
}

#comp-ml12e8l26 .style-ml12e8l71__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-ml12e8l26 .style-ml12e8l71__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-ml12e8l26 .style-ml12e8l71__root .StylableButton2545352419__container{
    transition: inherit;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center
}

#comp-ml12e8l26 .style-ml12e8l71__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    display: initial;
    margin-right: 0px;
    margin-left: 5px;
    letter-spacing: 0em;
    color: #FFFFFF; font-family: montserrat,sans-serif; font-size: 18px; font-weight: normal; font-style: normal;
    font-family: wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65,wf_3f0d4ffb6bdc4c1cb6dc005c9,orig_inter_regular;
    font-size: 16px;
    font-weight: 400
}

#comp-ml12e8l26 .style-ml12e8l71__root .StylableButton2545352419__icon{
    transition: inherit;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    display: initial;
    margin-left: 0px;
    margin-right: 5px;
    width: 30px;
    height: 30px
}

#comp-ml12e8l26 .style-ml12e8l71__root:hover .StylableButton2545352419__icon{
    fill: #33343F
}/* END STYLABLE DIRECTIVE RULES */

#comp-madzzonn .style-mae1cakb__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    background: #CC0000;
    border-radius: 20px
}

/* START STYLABLE DIRECTIVE RULES */

#comp-madzzonn .style-mae1cakb__root:hover {
    background: #808080;
}

#comp-madzzonn .style-mae1cakb__root:disabled{
    background: #E2E2E2
}

#comp-madzzonn .style-mae1cakb__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-madzzonn .style-mae1cakb__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-madzzonn .style-mae1cakb__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-madzzonn .style-mae1cakb__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    letter-spacing: 0.1em;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF; font-family: montserrat,sans-serif; font-size: 15px; font-weight: normal; font-style: normal;
    font-family: wfont_023eb2_0375ba8d0863491fb213febeee4dbc68,wf_0375ba8d0863491fb213febee,orig_montserratbold
}

#comp-madzzonn .style-mae1cakb__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 10px;
    height: 10px;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    display: none;
}/* END STYLABLE DIRECTIVE RULES */

#comp-madza4q13 .style-madza4q51__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 60px;
    border: 0px solid rgb(29, 103, 205);
    background: #CC0000
}

/* START STYLABLE DIRECTIVE RULES */

#comp-madza4q13 .style-madza4q51__root:hover{
    border: 0px solid rgb(29, 103, 205);
    background: rgba(255, 64, 64, 0.9)
}

#comp-madza4q13 .style-madza4q51__root:hover .StylableButton2545352419__label{
    color: #FFFFFF
}

#comp-madza4q13 .style-madza4q51__root:disabled{
    background: #E2E2E2
}

#comp-madza4q13 .style-madza4q51__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-madza4q13 .style-madza4q51__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-madza4q13 .style-madza4q51__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-madza4q13 .style-madza4q51__root .StylableButton2545352419__label{
    transition: inherit;
    letter-spacing: 0.05em; font-family: montserrat,sans-serif; font-size: 15px; font-weight: normal; font-style: normal;
    font-weight: 700;
    color: #FFFFFF
}

#comp-madza4q13 .style-madza4q51__root .StylableButton2545352419__icon{
    transition: inherit;
    width: 10px;
    height: 10px;
    fill: #FFFFFF;
    display: none
}

#comp-madza4q13 .style-madza4q51__root:hover .StylableButton2545352419__icon{
    fill: #33343F
}/* END STYLABLE DIRECTIVE RULES */

#comp-madtvz5g .style-mae0d5m8__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    background: #CC0000;
    border-radius: 20px
}

/* START STYLABLE DIRECTIVE RULES */

#comp-madtvz5g .style-mae0d5m8__root:hover {
    background: #6E7088;
}

#comp-madtvz5g .style-mae0d5m8__root:disabled{
    background: #E2E2E2
}

#comp-madtvz5g .style-mae0d5m8__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-madtvz5g .style-mae0d5m8__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-madtvz5g .style-mae0d5m8__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-madtvz5g .style-mae0d5m8__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    letter-spacing: 0.1em;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF; font-family: montserrat,sans-serif; font-size: 15px; font-weight: normal; font-style: normal;
    font-family: raleway-semibold,raleway,sans-serif;
    display: initial
}

#comp-madtvz5g .style-mae0d5m8__root .StylableButton2545352419__icon{
    transition: inherit;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    display: initial;
    width: 19px;
    height: 19px;
}/* END STYLABLE DIRECTIVE RULES */

#comp-mae0dk0q .style-mae0dk0x3__root{
    -st-extends: StylableButton;
    transition: all 0.2s ease, visibility 0s;
    background: #CC0000;
    border-radius: 20px
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mae0dk0q .style-mae0dk0x3__root:hover {
    background: #6E7088;
}

#comp-mae0dk0q .style-mae0dk0x3__root:disabled{
    background: #E2E2E2
}

#comp-mae0dk0q .style-mae0dk0x3__root:disabled .StylableButton2545352419__label{
    color: #8F8F8F
}

#comp-mae0dk0q .style-mae0dk0x3__root:disabled .StylableButton2545352419__icon{
    fill: #8F8F8F
}

#comp-mae0dk0q .style-mae0dk0x3__root .StylableButton2545352419__container{
    transition: inherit
}

#comp-mae0dk0q .style-mae0dk0x3__root .StylableButton2545352419__label{
    transition: inherit;
    margin: 0px 4px 0px 0px;
    letter-spacing: 0.1em;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF; font-family: montserrat,sans-serif; font-size: 15px; font-weight: normal; font-style: normal;
    font-family: raleway-semibold,raleway,sans-serif;
    display: initial
}

#comp-mae0dk0q .style-mae0dk0x3__root .StylableButton2545352419__icon{
    transition: inherit;
    margin: 0px 0px 0px 4px;
    fill: #FFFFFF;
    display: initial;
    width: 19px;
    height: 19px;
}