#obu7v {
  width: auto;
  min-height: 40px;
}
#pageBackground_obu7v {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
}
#comp-mace2eio {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  min-width: 980px;
}
#comp-macduqxc1 {
  --opacity: 1;
}
#comp-macduqxi {
  --height: 60px;
  --width: 323px;
}
#comp-macduqxu {
  justify-content: flex-end;
  direction: ltr;
  --icon-size: 28px;
  --fnt: normal normal normal 12px/1.75em montserrat, sans-serif;
  --logged-in-avatar-display: block;
  --logged-in-text-display: block;
  --logged-out-avatar-display: block;
  --logged-out-text-display: block;
  --logged-out-icon-size: 28px;
  --arrow-display: block;
  --arrow-icon: var(--line-arrow-icon);
  --arrow-size: 14px;
  --greeting-text-display: none;
  --icons-display: none;
  --user-section-padding-start: unset;
  --menu-items-alignment: flex-start;
  --avatarAndArrowStrokeWidth: 0px;
}
#comp-madysg7g {
  --bg-overlay-color: rgb(4, 81, 132);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-madyvlhu {
  --height: 319px;
  --width: 689px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
#comp-madyxv0r {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-madpp19l2 {
  --min-height: 99px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-madza4iv {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  min-width: 980px;
}
#comp-madsgv9z1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8hy1 {
  --shc-mutated-brightness: 102, 0, 0;
}
#comp-ml12e8hz {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8i0 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-ml12e8i04 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-ml12e8i23 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8i3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8i36 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8i44 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8i53 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #ff4040;
}
#comp-ml12e8i64 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8i7 {
  --opacity: 1;
}
#comp-ml12e8ia {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8ib3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8ic3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8id4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8ie3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8if {
  --shc-mutated-brightness: 102, 0, 0;
}
#comp-ml12e8ij {
  --checkboxSize: 24px;
  --fnt:
    normal normal normal 16px/1.2em wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65, wf_3f0d4ffb6bdc4c1cb6dc005c9,
    orig_inter_regular;
  --checkmarkMargin_start: -24px;
  --labelMargin_start: 8px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-ml12e8iw2 {
  --shc-mutated-brightness: 102, 0, 0;
}
#comp-ml12e8ix {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8iy {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-ml12e8iz {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8iz6 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-ml12e8j03 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8j1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8j16 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8j25 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8j32 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8j4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8j53 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #ff4040;
}
#comp-ml12e8j6 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #ff4040;
}
#comp-ml12e8j7 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8j76 {
  --opacity: 1;
}
#comp-ml12e8j811 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8j95 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml4wyiw02 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml4wyiw22 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8jd {
  --shc-mutated-brightness: 102, 0, 0;
}
#comp-ml12e8je2 {
  --checkboxSize: 24px;
  --fnt:
    normal normal normal 16px/1.2em wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65, wf_3f0d4ffb6bdc4c1cb6dc005c9,
    orig_inter_regular;
  --checkmarkMargin_start: -24px;
  --labelMargin_start: 8px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-ml12e8jq4 {
  --shc-mutated-brightness: 102, 0, 0;
}
#comp-ml12e8jr2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8js {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-ml12e8jt1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8ju {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-ml12e8ju4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8jv2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8jx {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #ff4040;
}
#comp-ml12e8jy {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #ff4040;
}
#comp-ml12e8jy7 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #ff4040;
}
#comp-ml12e8jz6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8k01 {
  --opacity: 1;
}
#comp-ml12e8k1 {
  --opacity: 1;
}
#comp-ml12e8k56 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8k65 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml4wyrzk3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml4wyrzl3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8k96 {
  --shc-mutated-brightness: 102, 0, 0;
}
#comp-ml12e8kb {
  --checkboxSize: 24px;
  --fnt:
    normal normal normal 16px/1.2em wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65, wf_3f0d4ffb6bdc4c1cb6dc005c9,
    orig_inter_regular;
  --checkmarkMargin_start: -24px;
  --labelMargin_start: 8px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-ml12e8km {
  --shc-mutated-brightness: 102, 0, 0;
}
#comp-ml12e8km4 {
  --min-height: 24px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8kn2 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-ml12e8ko1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8kp {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-ml12e8kp4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8kq2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8kr2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8ks {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8kt {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #ff4040;
}
#comp-ml12e8kt7 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #ff4040;
}
#comp-ml12e8ku6 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #ff4040;
}
#comp-ml12e8kv {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #ff4040;
}
#comp-ml12e8kv7 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #ff4040;
}
#comp-ml12e8kw6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8kx {
  --opacity: 1;
}
#comp-ml12e8ky {
  --opacity: 1;
}
#comp-ml12e8ky12 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml12e8kz5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml4wyvuq3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml4wyvur4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-madza4om {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-madza4oo {
  --bg-overlay-color: rgb(4, 81, 132);
  --bg-gradient: none;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-madza4oq {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-madzoxzv {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-madzq5ms {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-madzodan {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #cc0000;
}
#comp-mkcpx84q {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mkcpx85e {
  --height: 165px;
  --width: 175px;
}
#comp-mkcpx85i {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mkcpx85l3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mkcpx85n {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mkcpx85o {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mkcpx85p {
  --shc-mutated-brightness: 102, 0, 0;
}
#comp-mhm6n2931 {
  --checkboxSize: 20px;
  --fnt:
    normal normal normal 16px/1.2em wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65, wf_3f0d4ffb6bdc4c1cb6dc005c9,
    orig_inter_regular;
  --checkmarkMargin_start: -20px;
  --labelMargin_start: 9px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-madza4q0 {
  --min-height: 30px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-madza4q6 {
  --min-height: 16px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mae1wpsh {
  --opacity: 1;
}
#comp-mae1xk2d {
  --opacity: 1;
}
#comp-mae1yhg6 {
  --opacity: 1;
}
#comp-mae1eh3f {
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-mae1eh3k1 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-mae1eh3n {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 489px;
  --column-flex: 489;
}
#comp-madtpk6v {
  --min-height: 48px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-macdur011 {
  --height: 131px;
  --width: 150px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
#comp-madtty7m {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mae1eh3w {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  width: 100%;
  --column-width: 491px;
  --column-flex: 491;
}
#comp-macfd2am3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-maducg2c {
  --height: 135px;
  --width: 150px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
#comp-madug5ze {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mg9i7s9y {
  --bg-overlay-color: rgb(208, 2, 27);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-mknun239 {
  --height: 50px;
  --width: 163px;
}
#comp-mknun23b1 {
  --height: 60px;
  --width: 80px;
}
#comp-mknun23k {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mknun23o {
  --text-direction: var(--wix-opt-in-direction);
}
