/* END STYLABLE DIRECTIVE RULES */

#comp-lskozgu8 .style-lskozguw1__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #cc0000;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lskozgu8 .style-lskozguw1__root:hover {
  background: #ff4040;
  border: 0px solid rgba(219, 219, 219, 0);
}

#comp-lskozgu8 .style-lskozguw1__root:hover .StylableButton2545352419__label {
  letter-spacing: 0em;
  color: #ffffff;
}

#comp-lskozgu8 .style-lskozguw1__root:disabled {
  background: #e2e2e2;
}

#comp-lskozgu8 .style-lskozguw1__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lskozgu8 .style-lskozguw1__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lskozgu8 .style-lskozguw1__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#comp-lskozgu8 .style-lskozguw1__root .StylableButton2545352419__label {
  transition: inherit;
  font-weight: normal;
  font-style: normal;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  color: #cc0000;
  letter-spacing: 0em;
  margin-right: 0px;
  margin-left: 0px;
  display: initial;
}

#comp-lskozgu8 .style-lskozguw1__root .StylableButton2545352419__icon {
  transition: inherit;
  fill: #cc0000;
  width: 22px;
  height: 22px;
  margin-left: 0px;
  margin-right: 0px;
  display: none;
}

#comp-lskozgu8 .style-lskozguw1__root:hover .StylableButton2545352419__icon {
  fill: #cc0000;
}
