@font-face {
  font-family: "forum";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/forum/v10/6aey4Ky-Vb8Ew8IcOpI43XnSBTM.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}
@font-face {
  font-family: "forum";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/forum/v10/6aey4Ky-Vb8Ew8IVOpI43XnSBTM.woff2")
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "forum";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/forum/v10/6aey4Ky-Vb8Ew8IfOpI43XnSBTM.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "forum";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/forum/v10/6aey4Ky-Vb8Ew8IROpI43XnS.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "din-next-w01-light";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/fonts/v2/eca8b0cd-45d8-43cf-aee7-ca462bc5497c/v1/din-next-w10-light.woff2") format("woff2");
  unicode-range: U+0401-040C, U+040E-044F, U+0451-045C, U+045E-045F, U+0490-0491, U+2116;
  font-display: swap;
}
@font-face {
  font-family: "din-next-w01-light";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/fonts/v2/eca8b0cd-45d8-43cf-aee7-ca462bc5497c/v1/din-next-w02-light.woff2") format("woff2");
  unicode-range:
    U+000D, U+0100-010F, U+0111-0130, U+0132-0151, U+0154-015F, U+0162-0177, U+0179-017C, U+01FA-01FF, U+0218-021B,
    U+0237, U+02C9, U+02D8-02D9, U+02DB, U+02DD, U+0394, U+03A9, U+03C0, U+1E80-1E85, U+1EF2-1EF3, U+2070, U+2074-2079,
    U+2080-2089, U+2113, U+2126, U+212E, U+2153-2154, U+215B-215E, U+2202, U+2206, U+220F, U+2211-2212, U+2215,
    U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+F8FF, U+FB00-FB04;
  font-display: swap;
}
@font-face {
  font-family: "din-next-w01-light";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/fonts/v2/eca8b0cd-45d8-43cf-aee7-ca462bc5497c/v1/din-next-w01-light.woff2") format("woff2");
  unicode-range:
    U+0020-007E, U+00A0-00FF, U+0110, U+0131, U+0152-0153, U+0160-0161, U+0178, U+017D-017E, U+0192, U+02C6-02C7,
    U+02DA, U+02DC, U+03BC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044,
    U+20AC, U+2122;
  font-display: swap;
}
@font-face {
  font-family: "avenir-lt-w01_35-light1475496";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/fonts/v2/af36905f-3c92-4ef9-b0c1-f91432f16ac1/v1/avenir-lt-w05_35-light.woff2")
    format("woff2");
  unicode-range:
    U+0100-012B, U+012E-0130, U+0132-0137, U+0139-0149, U+014C-0151, U+0154-015F, U+0162-0177, U+0179-017C, U+0218-021B,
    U+02C9, U+02D8-02D9, U+02DB, U+02DD, U+0394, U+03A9, U+03BC, U+03C0, U+1E9E, U+20B9-20BA, U+20BC-20BD, U+2113,
    U+2126, U+212E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260,
    U+2264-2265, U+25CA, U+F8FF, U+FB01-FB02;
  font-display: swap;
}
@font-face {
  font-family: "avenir-lt-w01_35-light1475496";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/fonts/v2/af36905f-3c92-4ef9-b0c1-f91432f16ac1/v1/avenir-lt-w01_35-light1475496.woff2")
    format("woff2");
  unicode-range:
    U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+0160-0161, U+0178, U+017D-017E, U+0192, U+0237,
    U+02C6-02C7, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A,
    U+2044, U+20AC, U+2122;
  font-display: swap;
}
#masterPage:not(.landingPage) #PAGES_CONTAINER {
  margin-top: 0px;
  margin-bottom: 0px;
}
#masterPage.landingPage #SITE_HEADER {
  display: none;
}
#masterPage.landingPage #CONTROLLER_COMP_CUSTOM_ID {
  display: none;
}
#masterPage.landingPage #SOSP_CONTAINER_CUSTOM_ID {
  display: none;
}
#masterPage.landingPage #SITE_FOOTER {
  display: none;
}
#masterPage.landingPage #SITE_HEADER-placeholder {
  display: none;
}
#masterPage.landingPage #SITE_FOOTER-placeholder {
  display: none;
}
#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):not([tabindex="-1"]):focus,
#SITE_CONTAINER.focus-ring-active
  :not(.has-custom-focus):not(.ignore-focus):not([tabindex="-1"]):focus
  ~ .wixSdkShowFocusOnSibling {
  --focus-ring-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff;
  box-shadow: var(--focus-ring-box-shadow) !important;
  z-index: 1;
}
.has-inner-focus-ring {
  --focus-ring-box-shadow: inset 0 0 0 1px #ffffff, inset 0 0 0 3px #116dff !important;
}
#masterPage {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
#SITE_HEADER {
  --pinned-layer-in-container: 50;
  --above-all-in-container: 49;
}
#PAGES_CONTAINER {
  --pinned-layer-in-container: 51;
  --above-all-in-container: 49;
}
#CONTROLLER_COMP_CUSTOM_ID {
  --pinned-layer-in-container: 52;
  --above-all-in-container: 49;
}
#SOSP_CONTAINER_CUSTOM_ID {
  --pinned-layer-in-container: 53;
  --above-all-in-container: 49;
}
#SITE_FOOTER {
  --pinned-layer-in-container: 54;
  --above-all-in-container: 49;
}
[id="soapAfterPagesContainer"].page-without-sosp [data-mesh-id="soapAfterPagesContainerinlineContent"] {
  height: auto;
  width: 100%;
  position: static;
  min-height: auto;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[id="soapAfterPagesContainer"].page-without-sosp
  [data-mesh-id="soapAfterPagesContainerinlineContent-gridContainer"]
  > [id="CONTROLLER_COMP_CUSTOM_ID"],
[id="soapAfterPagesContainer"].page-without-sosp
  [data-mesh-id="soapAfterPagesContainerinlineContent-gridContainer"]
  > interact-element
  > [id="CONTROLLER_COMP_CUSTOM_ID"] {
  position: absolute;
  top: 15px;
  left: 20px;
  margin-left: calc((100% - 980px) * 0.5);
}
[id="soapAfterPagesContainer"].page-with-sosp [data-mesh-id="soapAfterPagesContainerinlineContent"] {
  height: auto;
  width: 100%;
}
[id="soapAfterPagesContainer"].page-with-sosp [data-mesh-id="soapAfterPagesContainerinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  margin-top: -144px;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[id="soapAfterPagesContainer"].page-with-sosp
  [data-mesh-id="soapAfterPagesContainerinlineContent-gridContainer"]
  > [id="CONTROLLER_COMP_CUSTOM_ID"],
[id="soapAfterPagesContainer"].page-with-sosp
  [data-mesh-id="soapAfterPagesContainerinlineContent-gridContainer"]
  > interact-element
  > [id="CONTROLLER_COMP_CUSTOM_ID"] {
  position: absolute;
  top: 15px;
  left: 20px;
  margin-left: calc((100% - 980px) * 0.5);
}
[id="soapAfterPagesContainer"].page-with-sosp
  [data-mesh-id="soapAfterPagesContainerinlineContent-gridContainer"]
  > [id="SOSP_CONTAINER_CUSTOM_ID"],
[id="soapAfterPagesContainer"].page-with-sosp
  [data-mesh-id="soapAfterPagesContainerinlineContent-gridContainer"]
  > interact-element
  > [id="SOSP_CONTAINER_CUSTOM_ID"] {
  position: relative;
  margin: 147px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
:root,
:host,
.spxThemeOverride,
.max-width-container,
#root {
  --color_0: 255, 255, 255;
  --color_1: 255, 255, 255;
  --color_2: 0, 0, 0;
  --color_3: 237, 28, 36;
  --color_4: 0, 136, 203;
  --color_5: 255, 203, 5;
  --color_6: 114, 114, 114;
  --color_7: 176, 176, 176;
  --color_8: 255, 255, 255;
  --color_9: 114, 114, 114;
  --color_10: 176, 176, 176;
  --color_11: 255, 255, 255;
  --color_12: 255, 240, 236;
  --color_13: 148, 148, 155;
  --color_14: 194, 39, 75;
  --color_15: 40, 41, 54;
  --color_16: 180, 200, 220;
  --color_17: 240, 126, 140;
  --color_18: 194, 39, 75;
  --color_19: 85, 107, 141;
  --color_20: 78, 4, 13;
  --color_21: 255, 240, 236;
  --color_22: 213, 213, 213;
  --color_23: 170, 170, 170;
  --color_24: 128, 128, 128;
  --color_25: 85, 85, 85;
  --color_26: 175, 204, 219;
  --color_27: 137, 167, 182;
  --color_28: 97, 129, 146;
  --color_29: 55, 91, 109;
  --color_30: 0, 48, 73;
  --color_31: 254, 234, 192;
  --color_32: 252, 213, 129;
  --color_33: 189, 160, 97;
  --color_34: 126, 107, 65;
  --color_35: 63, 53, 32;
  --color_36: 255, 255, 255;
  --color_37: 40, 41, 54;
  --color_38: 201, 202, 205;
  --color_39: 148, 148, 155;
  --color_40: 94, 95, 104;
  --color_41: 194, 39, 75;
  --color_42: 255, 240, 236;
  --color_43: 180, 200, 220;
  --color_44: 85, 107, 141;
  --color_45: 40, 41, 54;
  --color_46: 40, 41, 54;
  --color_47: 40, 41, 54;
  --color_48: 194, 39, 75;
  --color_49: 194, 39, 75;
  --color_50: 255, 255, 255;
  --color_51: 255, 240, 236;
  --color_52: 194, 39, 75;
  --color_53: 194, 39, 75;
  --color_54: 148, 148, 155;
  --color_55: 148, 148, 155;
  --color_56: 255, 255, 255;
  --color_57: 255, 240, 236;
  --color_58: 194, 39, 75;
  --color_59: 194, 39, 75;
  --color_60: 194, 39, 75;
  --color_61: 194, 39, 75;
  --color_62: 255, 255, 255;
  --color_63: 148, 148, 155;
  --color_64: 148, 148, 155;
  --color_65: 255, 255, 255;
  --font_0: normal normal bold 40px/1.4em forum, serif;
  --font_1: normal normal normal 16px/1.4em din-next-w01-light, sans-serif;
  --font_2: normal normal bold 34px/1.4em forum, serif;
  --font_3: normal normal normal 32px/1.4em forum, serif;
  --font_4: normal normal bold 28px/1.4em forum, serif;
  --font_5: normal normal bold 22px/1.4em forum, serif;
  --font_6: normal normal normal 16px/1.4em forum, serif;
  --font_7: normal normal normal 24px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --font_8: normal normal normal 18px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --font_9: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --font_10: normal normal normal 12px/1.4em din-next-w01-light, sans-serif;
  --wix-ads-height: 0px;
  --sticky-offset: 0px;
  --wix-ads-top-height: 0px;
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  --wix-opt-in-direction: ltr;
  --wix-opt-in-direction-multiplier: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --minViewportSize: 320;
  --maxViewportSize: 1920;
  --theme-spx-ratio: 1px;
  --full-viewport: 100 * var(--one-unit) * var(--browser-zoom);
  --scaling-factor: clamp(
    var(--spx-stopper-min),
    var(--full-viewport),
    min(var(--spx-stopper-max), var(--section-max-width))
  );
  --customScaleViewportLimit: clamp(
    var(--minViewportSize) * 1px,
    var(--full-viewport),
    min(var(--section-max-width), var(--maxViewportSize) * 1px)
  );
}
.font_0 {
  font: var(--font_0);
  color: rgb(var(--color_45));
  letter-spacing: 0em;
}
.font_1 {
  font: var(--font_1);
  color: rgb(var(--color_40));
  letter-spacing: 0em;
}
.font_2 {
  font: var(--font_2);
  color: rgb(var(--color_45));
  letter-spacing: 0em;
}
.font_3 {
  font: var(--font_3);
  color: rgb(var(--color_45));
  letter-spacing: 0em;
}
.font_4 {
  font: var(--font_4);
  color: rgb(var(--color_45));
  letter-spacing: 0em;
}
.font_5 {
  font: var(--font_5);
  color: rgb(var(--color_45));
  letter-spacing: 0em;
}
.font_6 {
  font: var(--font_6);
  color: rgb(var(--color_45));
  letter-spacing: 0em;
}
.font_7 {
  font: var(--font_7);
  color: rgb(var(--color_15));
  letter-spacing: 0em;
}
.font_8 {
  font: var(--font_8);
  color: rgb(var(--color_15));
  letter-spacing: 0em;
}
.font_9 {
  font: var(--font_9);
  color: rgb(var(--color_15));
  letter-spacing: 0em;
}
.font_10 {
  font: var(--font_10);
  color: rgb(var(--color_40));
  letter-spacing: 0em;
}
.color_0 {
  color: rgb(var(--color_0));
}
.color_1 {
  color: rgb(var(--color_1));
}
.color_2 {
  color: rgb(var(--color_2));
}
.color_3 {
  color: rgb(var(--color_3));
}
.color_4 {
  color: rgb(var(--color_4));
}
.color_5 {
  color: rgb(var(--color_5));
}
.color_6 {
  color: rgb(var(--color_6));
}
.color_7 {
  color: rgb(var(--color_7));
}
.color_8 {
  color: rgb(var(--color_8));
}
.color_9 {
  color: rgb(var(--color_9));
}
.color_10 {
  color: rgb(var(--color_10));
}
.color_11 {
  color: rgb(var(--color_11));
}
.color_12 {
  color: rgb(var(--color_12));
}
.color_13 {
  color: rgb(var(--color_13));
}
.color_14 {
  color: rgb(var(--color_14));
}
.color_15 {
  color: rgb(var(--color_15));
}
.color_16 {
  color: rgb(var(--color_16));
}
.color_17 {
  color: rgb(var(--color_17));
}
.color_18 {
  color: rgb(var(--color_18));
}
.color_19 {
  color: rgb(var(--color_19));
}
.color_20 {
  color: rgb(var(--color_20));
}
.color_21 {
  color: rgb(var(--color_21));
}
.color_22 {
  color: rgb(var(--color_22));
}
.color_23 {
  color: rgb(var(--color_23));
}
.color_24 {
  color: rgb(var(--color_24));
}
.color_25 {
  color: rgb(var(--color_25));
}
.color_26 {
  color: rgb(var(--color_26));
}
.color_27 {
  color: rgb(var(--color_27));
}
.color_28 {
  color: rgb(var(--color_28));
}
.color_29 {
  color: rgb(var(--color_29));
}
.color_30 {
  color: rgb(var(--color_30));
}
.color_31 {
  color: rgb(var(--color_31));
}
.color_32 {
  color: rgb(var(--color_32));
}
.color_33 {
  color: rgb(var(--color_33));
}
.color_34 {
  color: rgb(var(--color_34));
}
.color_35 {
  color: rgb(var(--color_35));
}
.color_36 {
  color: rgb(var(--color_36));
}
.color_37 {
  color: rgb(var(--color_37));
}
.color_38 {
  color: rgb(var(--color_38));
}
.color_39 {
  color: rgb(var(--color_39));
}
.color_40 {
  color: rgb(var(--color_40));
}
.color_41 {
  color: rgb(var(--color_41));
}
.color_42 {
  color: rgb(var(--color_42));
}
.color_43 {
  color: rgb(var(--color_43));
}
.color_44 {
  color: rgb(var(--color_44));
}
.color_45 {
  color: rgb(var(--color_45));
}
.color_46 {
  color: rgb(var(--color_46));
}
.color_47 {
  color: rgb(var(--color_47));
}
.color_48 {
  color: rgb(var(--color_48));
}
.color_49 {
  color: rgb(var(--color_49));
}
.color_50 {
  color: rgb(var(--color_50));
}
.color_51 {
  color: rgb(var(--color_51));
}
.color_52 {
  color: rgb(var(--color_52));
}
.color_53 {
  color: rgb(var(--color_53));
}
.color_54 {
  color: rgb(var(--color_54));
}
.color_55 {
  color: rgb(var(--color_55));
}
.color_56 {
  color: rgb(var(--color_56));
}
.color_57 {
  color: rgb(var(--color_57));
}
.color_58 {
  color: rgb(var(--color_58));
}
.color_59 {
  color: rgb(var(--color_59));
}
.color_60 {
  color: rgb(var(--color_60));
}
.color_61 {
  color: rgb(var(--color_61));
}
.color_62 {
  color: rgb(var(--color_62));
}
.color_63 {
  color: rgb(var(--color_63));
}
.color_64 {
  color: rgb(var(--color_64));
}
.color_65 {
  color: rgb(var(--color_65));
}
.backcolor_0 {
  background-color: rgb(var(--color_0));
}
.backcolor_1 {
  background-color: rgb(var(--color_1));
}
.backcolor_2 {
  background-color: rgb(var(--color_2));
}
.backcolor_3 {
  background-color: rgb(var(--color_3));
}
.backcolor_4 {
  background-color: rgb(var(--color_4));
}
.backcolor_5 {
  background-color: rgb(var(--color_5));
}
.backcolor_6 {
  background-color: rgb(var(--color_6));
}
.backcolor_7 {
  background-color: rgb(var(--color_7));
}
.backcolor_8 {
  background-color: rgb(var(--color_8));
}
.backcolor_9 {
  background-color: rgb(var(--color_9));
}
.backcolor_10 {
  background-color: rgb(var(--color_10));
}
.backcolor_11 {
  background-color: rgb(var(--color_11));
}
.backcolor_12 {
  background-color: rgb(var(--color_12));
}
.backcolor_13 {
  background-color: rgb(var(--color_13));
}
.backcolor_14 {
  background-color: rgb(var(--color_14));
}
.backcolor_15 {
  background-color: rgb(var(--color_15));
}
.backcolor_16 {
  background-color: rgb(var(--color_16));
}
.backcolor_17 {
  background-color: rgb(var(--color_17));
}
.backcolor_18 {
  background-color: rgb(var(--color_18));
}
.backcolor_19 {
  background-color: rgb(var(--color_19));
}
.backcolor_20 {
  background-color: rgb(var(--color_20));
}
.backcolor_21 {
  background-color: rgb(var(--color_21));
}
.backcolor_22 {
  background-color: rgb(var(--color_22));
}
.backcolor_23 {
  background-color: rgb(var(--color_23));
}
.backcolor_24 {
  background-color: rgb(var(--color_24));
}
.backcolor_25 {
  background-color: rgb(var(--color_25));
}
.backcolor_26 {
  background-color: rgb(var(--color_26));
}
.backcolor_27 {
  background-color: rgb(var(--color_27));
}
.backcolor_28 {
  background-color: rgb(var(--color_28));
}
.backcolor_29 {
  background-color: rgb(var(--color_29));
}
.backcolor_30 {
  background-color: rgb(var(--color_30));
}
.backcolor_31 {
  background-color: rgb(var(--color_31));
}
.backcolor_32 {
  background-color: rgb(var(--color_32));
}
.backcolor_33 {
  background-color: rgb(var(--color_33));
}
.backcolor_34 {
  background-color: rgb(var(--color_34));
}
.backcolor_35 {
  background-color: rgb(var(--color_35));
}
.backcolor_36 {
  background-color: rgb(var(--color_36));
}
.backcolor_37 {
  background-color: rgb(var(--color_37));
}
.backcolor_38 {
  background-color: rgb(var(--color_38));
}
.backcolor_39 {
  background-color: rgb(var(--color_39));
}
.backcolor_40 {
  background-color: rgb(var(--color_40));
}
.backcolor_41 {
  background-color: rgb(var(--color_41));
}
.backcolor_42 {
  background-color: rgb(var(--color_42));
}
.backcolor_43 {
  background-color: rgb(var(--color_43));
}
.backcolor_44 {
  background-color: rgb(var(--color_44));
}
.backcolor_45 {
  background-color: rgb(var(--color_45));
}
.backcolor_46 {
  background-color: rgb(var(--color_46));
}
.backcolor_47 {
  background-color: rgb(var(--color_47));
}
.backcolor_48 {
  background-color: rgb(var(--color_48));
}
.backcolor_49 {
  background-color: rgb(var(--color_49));
}
.backcolor_50 {
  background-color: rgb(var(--color_50));
}
.backcolor_51 {
  background-color: rgb(var(--color_51));
}
.backcolor_52 {
  background-color: rgb(var(--color_52));
}
.backcolor_53 {
  background-color: rgb(var(--color_53));
}
.backcolor_54 {
  background-color: rgb(var(--color_54));
}
.backcolor_55 {
  background-color: rgb(var(--color_55));
}
.backcolor_56 {
  background-color: rgb(var(--color_56));
}
.backcolor_57 {
  background-color: rgb(var(--color_57));
}
.backcolor_58 {
  background-color: rgb(var(--color_58));
}
.backcolor_59 {
  background-color: rgb(var(--color_59));
}
.backcolor_60 {
  background-color: rgb(var(--color_60));
}
.backcolor_61 {
  background-color: rgb(var(--color_61));
}
.backcolor_62 {
  background-color: rgb(var(--color_62));
}
.backcolor_63 {
  background-color: rgb(var(--color_63));
}
.backcolor_64 {
  background-color: rgb(var(--color_64));
}
.backcolor_65 {
  background-color: rgb(var(--color_65));
}
#masterPage:not(.landingPage) {
  --top-offset: 0px;
  --header-height: 144px;
}
#masterPage.landingPage {
  --top-offset: 0px;
}
#SITE_HEADER {
  --bg: var(--color_11);
  --shd: none;
  --brwt: 0px;
  --brd: var(--color_39);
  --brwb: 0px;
  --bgctr: var(--color_36);
  --rd: 0px;
  --alpha-bg: 1;
  --alpha-bgctr: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --backdrop-filter: none;
}
#SITE_HEADER {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
[data-mesh-id="SITE_HEADERinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="SITE_HEADERinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="SITE_HEADERinlineContent-gridContainer"] > [id="comp-jtzjnqwo"],
[data-mesh-id="SITE_HEADERinlineContent-gridContainer"] > interact-element > [id="comp-jtzjnqwo"] {
  position: relative;
  margin: 37px 0px 0px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
#SITE_HEADER {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-jtzjnqwo {
  width: 980px;
}
[data-mesh-id="comp-jtzjnqxiinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-jtzjnqxiinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-jtzjprq2-rotated-wrapper"] > [id="comp-jtzjprq2"],
[data-mesh-id="comp-jtzjprq2-rotated-wrapper"] > interact-element > [id="comp-jtzjprq2"] {
  position: relative;
  left: 123px;
  top: 49px;
}
[data-mesh-id="comp-jtzjprq2-rotated-wrapper"] {
  position: static;
  height: 103px;
  width: 0;
  margin: 2px 0px 0px calc((100% - 978px) * 0);
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
#comp-jtzjnqwo {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  --padding: 1px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-jtzjnqxi {
  width: 978px;
}
#comp-jtzjnqxi {
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  width: 100%;
  --column-width: 978px;
  --column-flex: 978;
}
#comp-jtzjprq2 {
  --lnw: 1px;
  --brd: var(--color_37);
  --alpha-brd: 1;
}
#comp-jtzjprq2 {
  width: 103px;
  height: 5px;
  transform: rotate(90deg);
  --comp-rotate-z: 90deg;
}
#comp-jtzjprq2 {
  transform-origin: center 0.5px;
}
#PAGES_CONTAINER {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
#SITE_PAGES {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
#SITE_PAGES {
  --transition-duration: 700ms;
}
#CONTROLLER_COMP_CUSTOM_ID {
  --bgh: 43, 104, 156;
  --rd: 20px;
  --txth: 255, 255, 255;
  --alpha-bg: 1;
  --bg: 61, 155, 233;
  --txt: 255, 255, 255;
  --brw: 0px;
  --fnt: normal normal normal 14px/1.4em raleway;
  --brd: 43, 104, 156;
  --brdh: 61, 155, 233;
  --alpha-bgh: 1;
  --alpha-brd: 1;
  --alpha-brdh: 1;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --boxShadowToggleOn-shd: none;
  --shd: 0 1px 4px rgba(0, 0, 0, 0.6);
}
#SOSP_CONTAINER_CUSTOM_ID {
  --brw: 0px;
  --brd: var(--color_15);
  --bg: var(--color_11);
  --rd: 0px;
  --shd: none;
  --gradient: none;
  --alpha-bg: 1;
  --alpha-brd: 1;
  --boxShadowToggleOn-shd: none;
  --bg-gradient: none;
}
#SOSP_CONTAINER_CUSTOM_ID {
  width: 980px;
}
[data-mode="hover"] #SOSP_CONTAINER_CUSTOM_ID {
  width: 980px;
}
[data-mesh-id="SOSP_CONTAINER_CUSTOM_IDinlineContent"] {
  height: auto;
  width: 980px;
}
[data-mesh-id="SOSP_CONTAINER_CUSTOM_IDinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="SOSP_CONTAINER_CUSTOM_IDinlineContent-gridContainer"] > [id="comp-llxxawrm"],
[data-mesh-id="SOSP_CONTAINER_CUSTOM_IDinlineContent-gridContainer"] > interact-element > [id="comp-llxxawrm"] {
  position: relative;
  margin: 0px 0px 0 0;
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="SOSP_CONTAINER_CUSTOM_IDinlineContent-gridContainer"] > [id="comp-llxxax65"],
[data-mesh-id="SOSP_CONTAINER_CUSTOM_IDinlineContent-gridContainer"] > interact-element > [id="comp-llxxax65"] {
  position: relative;
  margin: 0px 0px 0px 0;
  left: 12px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
#SOSP_CONTAINER_CUSTOM_ID {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-llxxawrm {
  width: 980px;
  height: 250px;
}
.comp-llxxawrm {
  --wix-direction: ltr;
  --profileLayout: 1;
  --pictureStyle: 0;
  --profileAlignment: 0;
  --profileImageSize: 110px;
  --badge-layout: 0;
  --badge-size: 0;
  --badge-corner-radius: 10;
  --border-width-1: 1;
  --pw-cover-photo-opacity: 60;
  --pw-cover-photo-opacity-desktop: 60;
  --profileWidgetHeight: 250px;
  --pw-button-border-width: 1;
  --pw-button-responsive-border-width: 1;
  --pw-button-text-font-size-mobile: 16;
  --pw-button-corner-radius: 0;
  --pw-button-responsive-corner-radius: 0;
  --vertical-pw-corner-radius: 0;
  --badge-font: normal normal normal 18px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --text-primary-font: normal normal normal 20px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --text-secondary-font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --pw-responsive-name-font: normal normal normal 28px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --pw-name-font-mobile: normal normal normal 20px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --title-font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --title-responsive-font: normal normal normal 20px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --title-mobile-font: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --pw-responsive-ff-font: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --pw-ff-font-mobile: normal normal normal 12px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --button-font: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --pw-responsive-button-font: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --pw-button-font-mobile: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --text-color-primary: 40, 41, 54;
  --text-color-primary-rgb: 40, 41, 54;
  --text-color-primary-opacity: 1;
  --text-color-secondary: 40, 41, 54;
  --text-color-secondary-rgb: 40, 41, 54;
  --text-color-secondary-opacity: 1;
  --pw-responsive-name-color: 255, 255, 255;
  --pw-responsive-name-color-rgb: 255, 255, 255;
  --pw-responsive-name-color-opacity: 1;
  --pw-name-color-mobile: 40, 41, 54;
  --pw-name-color-mobile-rgb: 40, 41, 54;
  --pw-name-color-mobile-opacity: 1;
  --title-color: 40, 41, 54;
  --title-color-rgb: 40, 41, 54;
  --title-color-opacity: 1;
  --title-responsive-color: 255, 255, 255;
  --title-responsive-color-rgb: 255, 255, 255;
  --title-responsive-color-opacity: 1;
  --title-mobile-color: 40, 41, 54;
  --title-mobile-color-rgb: 40, 41, 54;
  --title-mobile-color-opacity: 1;
  --pw-responsive-ff-color: 255, 255, 255;
  --pw-responsive-ff-color-rgb: 255, 255, 255;
  --pw-responsive-ff-color-opacity: 1;
  --pw-ff-color-mobile: 40, 41, 54;
  --pw-ff-color-mobile-rgb: 40, 41, 54;
  --pw-ff-color-mobile-opacity: 1;
  --button-opacity-and-color: 194, 39, 75;
  --button-opacity-and-color-rgb: 194, 39, 75;
  --button-opacity-and-color-opacity: 1;
  --pw-responsive-button-color: 255, 255, 255;
  --pw-responsive-button-color-rgb: 255, 255, 255;
  --pw-responsive-button-color-opacity: 1;
  --pw-responsive-button-color-mobile: 255, 255, 255;
  --pw-responsive-button-color-mobile-rgb: 255, 255, 255;
  --pw-responsive-button-color-mobile-opacity: 1;
  --box-color: 255, 255, 255;
  --box-color-rgb: 255, 255, 255;
  --box-color-opacity: 1;
  --border-color: 40, 41, 54, 0.2;
  --border-color-rgb: 40, 41, 54;
  --border-color-opacity: 0.2;
  --pw-cover-color: 194, 39, 75;
  --pw-cover-color-rgb: 194, 39, 75;
  --pw-cover-color-opacity: 1;
  --pw-cover-color-desktop: 194, 39, 75;
  --pw-cover-color-desktop-rgb: 194, 39, 75;
  --pw-cover-color-desktop-opacity: 1;
  --pw-cover-color-mobile: 194, 39, 75;
  --pw-cover-color-mobile-rgb: 194, 39, 75;
  --pw-cover-color-mobile-opacity: 1;
  --pw-button-font-color: 255, 255, 255;
  --pw-button-font-color-rgb: 255, 255, 255;
  --pw-button-font-color-opacity: 1;
  --pw-button-responsive-font-color: 194, 39, 75;
  --pw-button-responsive-font-color-rgb: 194, 39, 75;
  --pw-button-responsive-font-color-opacity: 1;
  --pw-button-border-color: 194, 39, 75;
  --pw-button-border-color-rgb: 194, 39, 75;
  --pw-button-border-color-opacity: 1;
  --pw-button-responsive-border-color: 255, 255, 255;
  --pw-button-responsive-border-color-rgb: 255, 255, 255;
  --pw-button-responsive-border-color-opacity: 1;
  --badge-font-style: normal;
  --badge-font-variant: normal;
  --badge-font-weight: normal;
  --badge-font-size: 18px;
  --badge-font-line-height: 1.4em;
  --badge-font-family: avenir-lt-w01_35-light1475496, sans-serif;
  --badge-font-text-decoration: none;
  --text-primary-font-style: normal;
  --text-primary-font-variant: normal;
  --text-primary-font-weight: normal;
  --text-primary-font-size: 20px;
  --text-primary-font-line-height: 1.4em;
  --text-primary-font-family: avenir-lt-w01_35-light1475496, sans-serif;
  --text-primary-font-text-decoration: none;
  --text-secondary-font-style: normal;
  --text-secondary-font-variant: normal;
  --text-secondary-font-weight: normal;
  --text-secondary-font-size: 14px;
  --text-secondary-font-line-height: 1.4em;
  --text-secondary-font-family: avenir-lt-w01_35-light1475496, sans-serif;
  --text-secondary-font-text-decoration: none;
  --pw-responsive-name-font-style: normal;
  --pw-responsive-name-font-variant: normal;
  --pw-responsive-name-font-weight: normal;
  --pw-responsive-name-font-size: 28px;
  --pw-responsive-name-font-line-height: 1.4em;
  --pw-responsive-name-font-family: avenir-lt-w01_35-light1475496, sans-serif;
  --pw-responsive-name-font-text-decoration: none;
  --pw-name-font-mobile-style: normal;
  --pw-name-font-mobile-variant: normal;
  --pw-name-font-mobile-weight: normal;
  --pw-name-font-mobile-size: 20px;
  --pw-name-font-mobile-line-height: 1.4em;
  --pw-name-font-mobile-family: avenir-lt-w01_35-light1475496, sans-serif;
  --pw-name-font-mobile-text-decoration: none;
  --title-font-style: normal;
  --title-font-variant: normal;
  --title-font-weight: normal;
  --title-font-size: 14px;
  --title-font-line-height: 1.4em;
  --title-font-family: avenir-lt-w01_35-light1475496, sans-serif;
  --title-font-text-decoration: none;
  --title-responsive-font-style: normal;
  --title-responsive-font-variant: normal;
  --title-responsive-font-weight: normal;
  --title-responsive-font-size: 20px;
  --title-responsive-font-line-height: 1.4em;
  --title-responsive-font-family: avenir-lt-w01_35-light1475496, sans-serif;
  --title-responsive-font-text-decoration: none;
  --title-mobile-font-style: normal;
  --title-mobile-font-variant: normal;
  --title-mobile-font-weight: normal;
  --title-mobile-font-size: 16px;
  --title-mobile-font-line-height: 1.4em;
  --title-mobile-font-family: avenir-lt-w01_35-light1475496, sans-serif;
  --title-mobile-font-text-decoration: none;
  --pw-responsive-ff-font-style: normal;
  --pw-responsive-ff-font-variant: normal;
  --pw-responsive-ff-font-weight: normal;
  --pw-responsive-ff-font-size: 16px;
  --pw-responsive-ff-font-line-height: 1.4em;
  --pw-responsive-ff-font-family: avenir-lt-w01_35-light1475496, sans-serif;
  --pw-responsive-ff-font-text-decoration: none;
  --pw-ff-font-mobile-style: normal;
  --pw-ff-font-mobile-variant: normal;
  --pw-ff-font-mobile-weight: normal;
  --pw-ff-font-mobile-size: 12px;
  --pw-ff-font-mobile-line-height: 1.4em;
  --pw-ff-font-mobile-family: avenir-lt-w01_35-light1475496, sans-serif;
  --pw-ff-font-mobile-text-decoration: none;
  --button-font-style: normal;
  --button-font-variant: normal;
  --button-font-weight: normal;
  --button-font-size: 16px;
  --button-font-line-height: 1.4em;
  --button-font-family: avenir-lt-w01_35-light1475496, sans-serif;
  --button-font-text-decoration: none;
  --pw-responsive-button-font-style: normal;
  --pw-responsive-button-font-variant: normal;
  --pw-responsive-button-font-weight: normal;
  --pw-responsive-button-font-size: 16px;
  --pw-responsive-button-font-line-height: 1.4em;
  --pw-responsive-button-font-family: avenir-lt-w01_35-light1475496, sans-serif;
  --pw-responsive-button-font-text-decoration: none;
  --pw-button-font-mobile-style: normal;
  --pw-button-font-mobile-variant: normal;
  --pw-button-font-mobile-weight: normal;
  --pw-button-font-mobile-size: 16px;
  --pw-button-font-mobile-line-height: 1.4em;
  --pw-button-font-mobile-family: avenir-lt-w01_35-light1475496, sans-serif;
  --pw-button-font-mobile-text-decoration: none;
  --profileImageDisplay: block;
  --profileImageBorderRadius: 50%;
  --coverButtonsBoxMarginLeft: initial;
  --coverButtonsBoxPosition: initial;
  --coverButtonsBoxTop: initial;
  --coverButtonsBoxInsetInlineEnd: initial;
  --coverButtonsBoxMarginTop: 38px;
  --repositionModeButtonsFlexDirection: row;
  --repositionModeButtonsMarginInlineStart: 34px;
  --repositionModeButtonsMarginInlineEnd: initial;
  --coverPhotoContainerInsetInlineStart: 24px;
  --coverPhotoContainerInsetInlineEnd: initial;
  --contentLayoutPosition: relative;
  --contentLayoutFlexDirection: row;
  --contentLayoutAlignItems: initial;
  --contentLayoutPaddingInlineStart: 30px;
  --contentLayoutPaddingInlineEnd: 16px;
  --contentAlignItems: flex-end;
  --contentMarginBottom: 30px;
  --contentMarginInlineEnd: initial;
  --contentMarginInlineStart: 24px;
  --contentJustifyContent: space-between;
  --contentWidth: initial;
  --contentFlexDirection: row;
  --detailsAndPhotoFlexDirection: initial;
  --detailsAndPhotoAlignItems: initial;
  --memberDetailsPaddingInlineStart: initial;
  --memberDetailsPaddingInlineEnd: initial;
  --memberDetailsMarginTop: initial;
  --memberDetailsAlignItems: initial;
  --memberDetailsMaxWidth: 500px;
  --memberDetailsMarginBottom: initial;
  --profilePhotoMarginRight: initial;
  --profilePhotoMarginLeft: initial;
  --badgeListContainerJustifyContent: initial;
  --badgeListJustifyContent: flex-start;
  --numbersBoxPosition: initial;
  --numbersBoxJustifyContent: flex-start;
  --nameContainerMaxWidth: initial;
  --nameContainerWidth: initial;
  --nameContainerJustifyContent: flex-start;
  --nameBoxTextMaxWidth: 470px;
  --titleContainerTextAlign: initial;
  --titleContainerDisplay: initial;
  --titleContainerFlexDirection: initial;
  --titleMaxWidth: 470px;
  --buttonsBoxPosition: initial;
  --buttonsBoxTop: initial;
  --buttonsBoxInsetInlineEnd: initial;
  --moreActionsMarginLeft: initial;
  --moreActionsMarginRight: -14px;
  --badgeFont: avenir-lt-w01_35-light1475496, sans-serif;
  --badgeIconHeight: 12px;
  --badgeIconWidth: initial;
  --badgeIconMaxWidth: 30px;
  --badgeIconMargin: 0 4px 0 0;
  --remainderWrapperHeight: 20px;
  --remainderWrapperMinWidth: 30px;
  --badgeWrapperHeight: 20px;
  --badgeWrapperWidth: initial;
  --badgeWrapperPadding: 0 8px;
  --badgeTextDisplay: initial;
  --badgeIconDisplay: flex;
  --badgeDefaultIconDisplay: none;
  --remainderBadgeColor: rgb(255, 255, 255);
  --wix-color-1: 255, 255, 255;
  --wix-color-2: 255, 240, 236;
  --wix-color-3: 148, 148, 155;
  --wix-color-4: 194, 39, 75;
  --wix-color-5: 40, 41, 54;
  --wix-color-6: 180, 200, 220;
  --wix-color-7: 240, 126, 140;
  --wix-color-8: 194, 39, 75;
  --wix-color-9: 85, 107, 141;
  --wix-color-10: 78, 4, 13;
  --wix-color-11: 255, 240, 236;
  --wix-color-12: 213, 213, 213;
  --wix-color-13: 170, 170, 170;
  --wix-color-14: 128, 128, 128;
  --wix-color-15: 85, 85, 85;
  --wix-color-16: 175, 204, 219;
  --wix-color-17: 137, 167, 182;
  --wix-color-18: 97, 129, 146;
  --wix-color-19: 55, 91, 109;
  --wix-color-20: 0, 48, 73;
  --wix-color-21: 254, 234, 192;
  --wix-color-22: 252, 213, 129;
  --wix-color-23: 189, 160, 97;
  --wix-color-24: 126, 107, 65;
  --wix-color-25: 63, 53, 32;
  --wix-color-26: 255, 255, 255;
  --wix-color-27: 40, 41, 54;
  --wix-color-28: 201, 202, 205;
  --wix-color-29: 148, 148, 155;
  --wix-color-30: 94, 95, 104;
  --wix-color-31: 194, 39, 75;
  --wix-color-32: 255, 240, 236;
  --wix-color-33: 180, 200, 220;
  --wix-color-34: 85, 107, 141;
  --wix-color-35: 40, 41, 54;
  --wix-color-36: 40, 41, 54;
  --wix-color-37: 40, 41, 54;
  --wix-color-38: 194, 39, 75;
  --wix-color-39: 194, 39, 75;
  --wix-color-40: 255, 255, 255;
  --wix-color-41: 255, 240, 236;
  --wix-color-42: 194, 39, 75;
  --wix-color-43: 194, 39, 75;
  --wix-color-44: 148, 148, 155;
  --wix-color-45: 148, 148, 155;
  --wix-color-46: 255, 255, 255;
  --wix-color-47: 255, 240, 236;
  --wix-color-48: 194, 39, 75;
  --wix-color-49: 194, 39, 75;
  --wix-color-50: 194, 39, 75;
  --wix-color-51: 194, 39, 75;
  --wix-color-52: 255, 255, 255;
  --wix-color-53: 148, 148, 155;
  --wix-color-54: 148, 148, 155;
  --wix-color-55: 255, 255, 255;
  --wix-font-Title: normal normal bold 40px/1.4em forum, serif;
  --wix-font-Title-style: normal;
  --wix-font-Title-variant: normal;
  --wix-font-Title-weight: bold;
  --wix-font-Title-size: 40px;
  --wix-font-Title-line-height: 1.4em;
  --wix-font-Title-family: forum, serif;
  --wix-font-Title-text-decoration: none;
  --wix-font-Menu: normal normal normal 16px/1.4em din-next-w01-light, sans-serif;
  --wix-font-Menu-style: normal;
  --wix-font-Menu-variant: normal;
  --wix-font-Menu-weight: normal;
  --wix-font-Menu-size: 16px;
  --wix-font-Menu-line-height: 1.4em;
  --wix-font-Menu-family: din-next-w01-light, sans-serif;
  --wix-font-Menu-text-decoration: none;
  --wix-font-Page-title: normal normal bold 34px/1.4em forum, serif;
  --wix-font-Page-title-style: normal;
  --wix-font-Page-title-variant: normal;
  --wix-font-Page-title-weight: bold;
  --wix-font-Page-title-size: 34px;
  --wix-font-Page-title-line-height: 1.4em;
  --wix-font-Page-title-family: forum, serif;
  --wix-font-Page-title-text-decoration: none;
  --wix-font-Heading-XL: normal normal normal 32px/1.4em forum, serif;
  --wix-font-Heading-XL-style: normal;
  --wix-font-Heading-XL-variant: normal;
  --wix-font-Heading-XL-weight: normal;
  --wix-font-Heading-XL-size: 32px;
  --wix-font-Heading-XL-line-height: 1.4em;
  --wix-font-Heading-XL-family: forum, serif;
  --wix-font-Heading-XL-text-decoration: none;
  --wix-font-Heading-L: normal normal bold 28px/1.4em forum, serif;
  --wix-font-Heading-L-style: normal;
  --wix-font-Heading-L-variant: normal;
  --wix-font-Heading-L-weight: bold;
  --wix-font-Heading-L-size: 28px;
  --wix-font-Heading-L-line-height: 1.4em;
  --wix-font-Heading-L-family: forum, serif;
  --wix-font-Heading-L-text-decoration: none;
  --wix-font-Heading-M: normal normal bold 22px/1.4em forum, serif;
  --wix-font-Heading-M-style: normal;
  --wix-font-Heading-M-variant: normal;
  --wix-font-Heading-M-weight: bold;
  --wix-font-Heading-M-size: 22px;
  --wix-font-Heading-M-line-height: 1.4em;
  --wix-font-Heading-M-family: forum, serif;
  --wix-font-Heading-M-text-decoration: none;
  --wix-font-Heading-S: normal normal normal 16px/1.4em forum, serif;
  --wix-font-Heading-S-style: normal;
  --wix-font-Heading-S-variant: normal;
  --wix-font-Heading-S-weight: normal;
  --wix-font-Heading-S-size: 16px;
  --wix-font-Heading-S-line-height: 1.4em;
  --wix-font-Heading-S-family: forum, serif;
  --wix-font-Heading-S-text-decoration: none;
  --wix-font-Body-L: normal normal normal 24px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Body-L-style: normal;
  --wix-font-Body-L-variant: normal;
  --wix-font-Body-L-weight: normal;
  --wix-font-Body-L-size: 24px;
  --wix-font-Body-L-line-height: 1.4em;
  --wix-font-Body-L-family: avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Body-L-text-decoration: none;
  --wix-font-Body-M: normal normal normal 18px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Body-M-style: normal;
  --wix-font-Body-M-variant: normal;
  --wix-font-Body-M-weight: normal;
  --wix-font-Body-M-size: 18px;
  --wix-font-Body-M-line-height: 1.4em;
  --wix-font-Body-M-family: avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Body-M-text-decoration: none;
  --wix-font-Body-S: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Body-S-style: normal;
  --wix-font-Body-S-variant: normal;
  --wix-font-Body-S-weight: normal;
  --wix-font-Body-S-size: 16px;
  --wix-font-Body-S-line-height: 1.4em;
  --wix-font-Body-S-family: avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Body-S-text-decoration: none;
  --wix-font-Body-XS: normal normal normal 12px/1.4em din-next-w01-light, sans-serif;
  --wix-font-Body-XS-style: normal;
  --wix-font-Body-XS-variant: normal;
  --wix-font-Body-XS-weight: normal;
  --wix-font-Body-XS-size: 12px;
  --wix-font-Body-XS-line-height: 1.4em;
  --wix-font-Body-XS-family: din-next-w01-light, sans-serif;
  --wix-font-Body-XS-text-decoration: none;
  --wix-font-LIGHT: normal normal normal 12px/1.4em HelveticaNeueW01-45Ligh;
  --wix-font-LIGHT-style: normal;
  --wix-font-LIGHT-variant: normal;
  --wix-font-LIGHT-weight: normal;
  --wix-font-LIGHT-size: 12px;
  --wix-font-LIGHT-line-height: 1.4em;
  --wix-font-LIGHT-family: HelveticaNeueW01-45Ligh;
  --wix-font-LIGHT-text-decoration: none;
  --wix-font-MEDIUM: normal normal normal 12px/1.4em HelveticaNeueW01-55Roma;
  --wix-font-MEDIUM-style: normal;
  --wix-font-MEDIUM-variant: normal;
  --wix-font-MEDIUM-weight: normal;
  --wix-font-MEDIUM-size: 12px;
  --wix-font-MEDIUM-line-height: 1.4em;
  --wix-font-MEDIUM-family: HelveticaNeueW01-55Roma;
  --wix-font-MEDIUM-text-decoration: none;
  --wix-font-STRONG: normal normal normal 12px/1.4em HelveticaNeueW01-65Medi;
  --wix-font-STRONG-style: normal;
  --wix-font-STRONG-variant: normal;
  --wix-font-STRONG-weight: normal;
  --wix-font-STRONG-size: 12px;
  --wix-font-STRONG-line-height: 1.4em;
  --wix-font-STRONG-family: HelveticaNeueW01-65Medi;
  --wix-font-STRONG-text-decoration: none;
}

#comp-llxxax65 {
  width: 956px;
}
[data-mesh-id="comp-llxxax65inlineContent"] {
  height: auto;
  width: 956px;
}
[data-mesh-id="comp-llxxax65inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-llxxax65inlineContent-gridContainer"] > [id="comp-llxxax6p2"],
[data-mesh-id="comp-llxxax65inlineContent-gridContainer"] > interact-element > [id="comp-llxxax6p2"] {
  position: relative;
  margin: 0px 0px 0px 0;
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
#comp-llxxax6p2 {
  --menuTotalBordersX: 0px;
  --menuTotalBordersY: 0px;
  --bgDrop: var(--color_11);
  --rd: 0px;
  --shd: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  --pad: 10px;
  --fnt: var(--font_8);
  --brd: var(--color_15);
  --txt: var(--color_15);
  --alpha-txt: 1;
  --brdh: var(--color_17);
  --txth: var(--color_17);
  --alpha-txth: 1;
  --brds: var(--color_18);
  --txts: var(--color_18);
  --alpha-txts: 1;
  --alpha-bgDrop: 1;
  --alpha-brdh: 1;
  --alpha-brd: 0;
  --alpha-brds: 1;
}
#comp-llxxax6p2 {
  width: 956px;
  height: 40px;
}
#comp-llxxax6p2 {
  --menuTotalBordersY: 0px;
  --menuTotalBordersX: 0px;
  --submenus-direction: inherit;
  --menu-direction: inherit;
  --align: start;
  --menu-align: inherit;
  --submenus-align: inherit;
}
#SITE_FOOTER {
  --brd: var(--color_40);
  --brwt: 0px;
  --brwb: 0px;
  --shd: none;
  --rd: 0px;
  --alpha-brd: 0;
  --boxShadowToggleOn-shd: none;
  --backdrop-filter: none;
}
#SITE_FOOTER {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
[data-mesh-id="SITE_FOOTERinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jtzr8ktw"],
[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > interact-element > [id="comp-jtzr8ktw"] {
  position: relative;
  margin: 240px 0px 0px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
#SITE_FOOTER {
  --bg-overlay-color: rgb(var(--color_37));
  --bg-gradient: none;
}
#comp-jtzr8ktw {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 980px;
}
[data-mesh-id="comp-jtzr8kvsinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-jtzr8kvsinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(2, min-content) 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-jtzr8kvsinlineContent-gridContainer"] > [id="comp-juic37nu"],
[data-mesh-id="comp-jtzr8kvsinlineContent-gridContainer"] > interact-element > [id="comp-juic37nu"] {
  position: relative;
  margin: 131px 0px 26px calc((100% - 490px) * 0);
  left: 81px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-jtzr8kvsinlineContent-gridContainer"] > [id="comp-juic055t"],
[data-mesh-id="comp-jtzr8kvsinlineContent-gridContainer"] > interact-element > [id="comp-juic055t"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 490px) * 0);
  left: 80px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-jtzr8kvsinlineContent-gridContainer"] > [id="comp-juic1l4m"],
[data-mesh-id="comp-jtzr8kvsinlineContent-gridContainer"] > interact-element > [id="comp-juic1l4m"] {
  position: relative;
  margin: 0px 0px 0px calc((100% - 490px) * 0);
  left: 80px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-jtzr8vayinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-jtzr8vayinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-jtzr8vayinlineContent-gridContainer"] > [id="comp-lcrej66p"],
[data-mesh-id="comp-jtzr8vayinlineContent-gridContainer"] > interact-element > [id="comp-lcrej66p"] {
  position: relative;
  margin: 179px 0px 1px calc((100% - 490px) * 1);
  left: 35px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-jtzr8vayinlineContent-gridContainer"] > [id="comp-jtzrdx6b"],
[data-mesh-id="comp-jtzr8vayinlineContent-gridContainer"] > interact-element > [id="comp-jtzrdx6b"] {
  position: relative;
  margin: 179px 0px 20px calc((100% - 490px) * 1);
  left: 181px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
#comp-jtzr8ktw {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-jtzr8kvs {
  width: 490px;
}
#comp-jtzr8kvs {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  width: 100%;
  --column-width: 490px;
  --column-flex: 490;
}
#comp-juic37nu {
  --lnw: 1px;
  --brd: var(--color_42);
  --alpha-brd: 1;
}
#comp-juic37nu {
  width: 367px;
  height: 5px;
}
#comp-juic37nu {
  transform-origin: center 0.5px;
}
#comp-juic055t {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-juic055t {
  width: 170px;
  height: auto;
}
#comp-juic055t {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-juic1l4m {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-juic1l4m {
  width: 367px;
  height: auto;
}
#comp-juic1l4m {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-jtzr8vay {
  width: 490px;
}
#comp-jtzr8vay {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  width: 100%;
  --column-width: 490px;
  --column-flex: 490;
}
#comp-lcrej66p {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-lcrej66p {
  width: 110px;
  height: auto;
}
#comp-lcrej66p {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-jtzrdx6b {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-jtzrdx6b {
  width: 229px;
  height: auto;
}
#comp-jtzrdx6b {
  --text-direction: var(--wix-opt-in-direction);
}
