#x29nv {
  width: auto;
  min-height: 40px;
}
#pageBackground_x29nv {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
}
#comp-mclmkk97 {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-mclmkkb33 {
  --opacity: 1;
}
#comp-mclmkkbj1 {
  --min-height: 80px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379npt {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  min-width: 980px;
}
#comp-mm379nsk {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mm379nsl {
  --height: 33px;
  --width: 33px;
}
#comp-mm379nsm {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nsn {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mm379nsn4 {
  --height: 33px;
  --width: 33px;
}
#comp-mm379nso4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nsp3 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mm379nsq1 {
  --height: 33px;
  --width: 33px;
}
#comp-mm379nsq6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nsr5 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mm379nss2 {
  --height: 28px;
  --width: 28px;
}
#comp-mm379nst {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nst6 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mm379nsu3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nsv {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mm379nsv4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nsw4 {
  --fill-opacity: 1;
  --stroke-width: 2;
  --stroke: #39d174;
  --stroke-opacity: 1;
  --fill: #22cb63;
  --svg-calculated-padding: 1px 1px 1px 1px;
  --svg-calculated-width: calc(100% - 2px);
  --svg-calculated-height: calc(100% - 2px);
}
#comp-mm379nsx2 {
  --fill-opacity: 1;
  --stroke-width: 2;
  --stroke: #39d174;
  --stroke-opacity: 1;
  --fill: #22cb63;
  --svg-calculated-padding: 1px 1px 1px 1px;
  --svg-calculated-width: calc(100% - 2px);
  --svg-calculated-height: calc(100% - 2px);
}
#comp-mm379nsy {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #e00000;
}
#comp-mm379nsz {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #e00000;
}
#comp-mm379nt0 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nt06 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nt15 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mm379nt22 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nt32 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mm379nt43 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nt6 {
  --fill-opacity: 1;
  --stroke-width: 2;
  --stroke: #39d174;
  --stroke-opacity: 1;
  --fill: #22cb63;
  --svg-calculated-padding: 1px 1px 1px 1px;
  --svg-calculated-width: calc(100% - 2px);
  --svg-calculated-height: calc(100% - 2px);
}
#comp-mm379nta {
  --fill-opacity: 1;
  --stroke-width: 2;
  --stroke: #39d174;
  --stroke-opacity: 1;
  --fill: #22cb63;
  --svg-calculated-padding: 1px 1px 1px 1px;
  --svg-calculated-width: calc(100% - 2px);
  --svg-calculated-height: calc(100% - 2px);
}
#comp-mm379ntb5 {
  --fill-opacity: 1;
  --stroke-width: 2;
  --stroke: #39d174;
  --stroke-opacity: 1;
  --fill: #22cb63;
  --svg-calculated-padding: 1px 1px 1px 1px;
  --svg-calculated-width: calc(100% - 2px);
  --svg-calculated-height: calc(100% - 2px);
}
#comp-mm379ntc1 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #e00000;
}
#comp-mm379ntf1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379ntg {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nth3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nth9 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nti5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379ntj1 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mm379ntk {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379ntk6 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mm379ntl {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379ntm {
  --fill-opacity: 1;
  --stroke-width: 2;
  --stroke: #39d174;
  --stroke-opacity: 1;
  --fill: #22cb63;
  --svg-calculated-padding: 1px 1px 1px 1px;
  --svg-calculated-width: calc(100% - 2px);
  --svg-calculated-height: calc(100% - 2px);
}
#comp-mm379ntm7 {
  --fill-opacity: 1;
  --stroke-width: 2;
  --stroke: #39d174;
  --stroke-opacity: 1;
  --fill: #22cb63;
  --svg-calculated-padding: 1px 1px 1px 1px;
  --svg-calculated-width: calc(100% - 2px);
  --svg-calculated-height: calc(100% - 2px);
}
#comp-mm379ntn6 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #e00000;
}
#comp-mm379nto3 {
  --fill-opacity: 1;
  --stroke-width: 2;
  --stroke: #39d174;
  --stroke-opacity: 1;
  --fill: #22cb63;
  --svg-calculated-padding: 1px 1px 1px 1px;
  --svg-calculated-width: calc(100% - 2px);
  --svg-calculated-height: calc(100% - 2px);
}
#comp-mm379ntp4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379ntq2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379ntr4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nts5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379ntt {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379ntt6 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mm379ntu3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379ntv {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mm379ntv4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379ntw5 {
  --fill-opacity: 1;
  --stroke-width: 2;
  --stroke: #39d174;
  --stroke-opacity: 1;
  --fill: #22cb63;
  --svg-calculated-padding: 1px 1px 1px 1px;
  --svg-calculated-width: calc(100% - 2px);
  --svg-calculated-height: calc(100% - 2px);
}
#comp-mm379ntx {
  --fill-opacity: 1;
  --stroke-width: 2;
  --stroke: #39d174;
  --stroke-opacity: 1;
  --fill: #22cb63;
  --svg-calculated-padding: 1px 1px 1px 1px;
  --svg-calculated-width: calc(100% - 2px);
  --svg-calculated-height: calc(100% - 2px);
}
#comp-mm379ntx7 {
  --fill-opacity: 1;
  --stroke-width: 2;
  --stroke: #39d174;
  --stroke-opacity: 1;
  --fill: #22cb63;
  --svg-calculated-padding: 1px 1px 1px 1px;
  --svg-calculated-width: calc(100% - 2px);
  --svg-calculated-height: calc(100% - 2px);
}
#comp-mm379nty5 {
  --fill-opacity: 1;
  --stroke-width: 2;
  --stroke: #39d174;
  --stroke-opacity: 1;
  --fill: #22cb63;
  --svg-calculated-padding: 1px 1px 1px 1px;
  --svg-calculated-width: calc(100% - 2px);
  --svg-calculated-height: calc(100% - 2px);
}
#comp-mm379ntz5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nu05 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nu14 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nu22 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mm379nu28 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frehb {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  min-width: 980px;
}
#comp-mf2frk5w {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mf2frk67 {
  --min-height: 40px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk6d1 {
  --min-height: 26px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk6e3 {
  --min-height: 26px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk6f2 {
  height: auto;
  --multi-state-wrapper-width: 100%;
  --tabs-list-overflow-x: auto;
  --tabs-list-overflow-y: visible;
  --tabs-list-flex-wrap: nowrap;
  --tabs-list-justify-content: normal;
  --tabs-list-scroll-buttons-display: flex;
  --tabs-container-flex-direction: column;
  --tabs-list-flex-direction: row;
  --tabs-list-items-col-gap: 0px;
  --tabs-list-items-row-gap: 0px;
  --tabs-list-container-gap: 0px;
  --tabs-list-content-alignment: start;
  --tabs-list-horizontal-padding: 20px;
  --tabs-list-vertical-padding: 20px;
  --tabs-list-item-flex-grow: 0;
  --tabs-list-orientation: horizontal;
  --tabs-list-direction: ltr;
  --tabs-list-width: 100%;
  --tabs-list-height: auto;
  --tabs-list-position: relative;
  --tabs-list-first-child-margin-start: auto;
  --tabs-list-last-child-margin-end: auto;
  --tabs-list-back-button-inline-end: auto;
  --tabs-list-back-button-block-end: 0;
  --tabs-list-forward-button-inline-start: auto;
  --tabs-list-forward-button-block-start: 0;
  --tabs-list-scroll-icons-transform: rotate(0);
  --tabs-list-scroll-buttons-transform: scaleX(1);
  --focus-ring: inset 0 0 0 1px#116dff, inset 0 0 0 3px#ffffff;
  --tab-animation-duration: 0.15s;
  --tab-enter-animation-name: none;
  --tab-exit-animation-name: none;
  --bg-gradient: none;
}
#comp-mf2frk6l3 {
  width: 100%;
  --display: initial;
  height: auto;
  --bg-gradient: none;
}
#comp-mf2frk6r1 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mf2frk6s3 {
  --height: 62px;
  --width: 61px;
}
#comp-mf2frk73 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk744 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk752 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mf2frk7g {
  --shc-mutated-brightness: 100, 119, 123;
}
#comp-mf2frk7s {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #242323;
  --flip: scale(-1, 1);
}
#comp-mf2frk7x {
  --min-height: 62px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk7y2 {
  --opacity: 1;
}
#comp-mf2frk7z7 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mf2frk802 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk81 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk816 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk825 {
  --shc-mutated-brightness: 100, 119, 123;
}
#comp-mf2frk838 {
  --opacity: 1;
}
#comp-mf2frk8412 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #242323;
  --flip: scale(-1, -1);
}
#comp-mf2frk8511 {
  --min-height: 66px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk867 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk871 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk88 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk886 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk891 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk8h {
  --direction: var(--wix-opt-in-direction);
  --justify-content: space-between;
  --item-margin: 3px 0px;
  --margin-top: -3px;
  --margin-bottom: -3px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
}
[id^="comp-mf2frk8o__"] {
  --bg-gradient: linear-gradient(180deg, #fef2f2 0%, #ffffff 40.155946162709014%);
  --bg-overlay-color: transparent;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 1px 1px rgba(203, 200, 194, 1);
  overflow: clip !important;
  transform: translateZ(0);
  margin: -0px;
}
[id="comp-mf2frk8o__item-j9r9uxns"] {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 1px 1px rgba(203, 200, 194, 1);
  overflow: clip !important;
  transform: translateZ(0);
  margin: -0px;
}
[id="comp-mf2frk8o__item-meqseogy"] {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 1px 1px rgba(203, 200, 194, 1);
  overflow: clip !important;
  transform: translateZ(0);
  margin: -0px;
}
[id^="comp-mf2frk8w7__"] {
  --height: 60px;
  --width: 60px;
}
[id="comp-mf2frk8w7__item-meqseogy"] {
  --height: 60px;
  --width: 60px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
[id^="comp-mf2frk8y__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frk8z3__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frk901__"] {
  --shc-mutated-brightness: 128, 128, 128;
}
[id^="comp-mf2frk905__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frk915__"] {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
[id^="comp-mf2frk926__"] {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
[id^="comp-mf2frk935__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frk981__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frk987__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2ht3lp__"] {
  --shc-mutated-brightness: 100, 119, 123;
}
[id^="comp-mf2ht3me1__"] {
  --opacity: 1;
}
[id^="comp-mf2ht3mu__"] {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #242323;
  --flip: scale(-1, -1);
}
[id^="comp-mf2ht3mw__"] {
  --min-height: 66px;
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2i1wr2__"] {
  --shc-mutated-brightness: 100, 119, 123;
}
[id^="comp-mf2i1wrf2__"] {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #242323;
  --flip: scale(-1, 1);
}
[id^="comp-mf2i1wrh__"] {
  --min-height: 76px;
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2i1wrd__"] {
  --opacity: 1;
}
[id^="comp-mf2frk995__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frk9a5__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frk9b1__"] {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk9t {
  --shc-mutated-brightness: 100, 119, 123;
}
#comp-mf2frk9v {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #242323;
  --flip: scale(-1, -1);
}
#comp-mf2frk9w4 {
  --min-height: 62px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frk9x7 {
  width: 100%;
  --display: initial;
  height: auto;
  --bg-gradient: none;
}
#comp-mf2frka13 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mf2frka21 {
  --height: 62px;
  --width: 61px;
}
#comp-mf2frka31 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frka38 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frka46 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mf2frka53 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mf2frka61 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frka68 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frka76 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frka81 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frka9 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frka97 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frkaa4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frkab1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mf2frkad2 {
  --direction: var(--wix-opt-in-direction);
  --justify-content: space-between;
  --item-margin: 3px 0px;
  --margin-top: -3px;
  --margin-bottom: -3px;
  --margin-inline-start: 0px;
  --margin-inline-end: 0px;
}
[id^="comp-mf2frkae__"] {
  --bg-gradient: linear-gradient(180deg, #fef2f2 0%, #ffffff 40.155946162709014%);
  --bg-overlay-color: transparent;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 1px 1px rgba(203, 200, 194, 1);
  overflow: clip !important;
  transform: translateZ(0);
  margin: -0px;
}
[id="comp-mf2frkae__item-j9r9uxns"] {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 1px 1px rgba(203, 200, 194, 1);
  overflow: clip !important;
  transform: translateZ(0);
  margin: -0px;
}
[id="comp-mf2frkae__item-meqseogy"] {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 1px 1px rgba(203, 200, 194, 1);
  overflow: clip !important;
  transform: translateZ(0);
  margin: -0px;
}
[id^="comp-mf2frkaf9__"] {
  --height: 60px;
  --width: 60px;
}
[id="comp-mf2frkaf9__item-meqseogy"] {
  --height: 60px;
  --width: 60px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
[id^="comp-mf2frkag6__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frkah6__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frkai3__"] {
  --shc-mutated-brightness: 128, 128, 128;
}
[id^="comp-mf2frkai7__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frkaj7__"] {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
[id^="comp-mf2frkak6__"] {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
[id^="comp-mf2frkao1__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frkaq__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frkaq7__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frkar6__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frkas5__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mf2frkat6__"] {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjicjrhv {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  min-width: 980px;
}
#comp-mjicjrj7 {
  --min-height: 40px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidv7s8 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mjidv7sc {
  --height: 60px;
  --width: 60px;
}
#comp-mjidv7sd {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidv7sd6 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mjidv7se3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidv7sf5 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mjidv7sg6 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mjidv7sh6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidv7si {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidv7si6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidv7sj3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidv7sj9 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjiglwh1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjiglwhn {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjign5dd3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjign5de3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidv7sl6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidjv7b {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mjidjv7h {
  --height: 54px;
  --width: 54px;
}
#comp-mjidjv7i4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidjv7j4 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mjidjv7k3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidjv7m1 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mjidjv7n {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidjv7n6 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mjidjv7o6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidjv7q {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mjidjv7q7 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidjv7r6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidjv7s5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidjv7t4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidjv7u4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidjv7v {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mja9uyhw1 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mja9uyhw5 {
  --height: 54px;
  --width: 54px;
}
#comp-mja9uyhx6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mja9uyhx13 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mja9uyhy3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mja9uyhz4 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mja9uyi01 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mja9uyi08 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mja9uyi15 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mja9uyi23 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mja9uyi211 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mja9uyi35 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mja9uyi41 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mja9uyi5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mja9uyi57 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mja9uyi66 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mja9uyi71 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mja9uyi79 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjickjhk {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mjickjhn3 {
  --height: 60px;
  --width: 60px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
#comp-mjickjho5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjickjhp5 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mjickjhq1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjickjhq7 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mjickjhr6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjickjhs6 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mjickjht6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjickjhu3 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mjickjhv {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjickjhw {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjickjhw6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidnlqm {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjidnlqn {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjickjhz5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjick6t2 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mjick6t53 {
  --height: 60px;
  --width: 60px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
#comp-mjick6t64 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjick6t72 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mjick6t76 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjick6t85 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mjick6t9 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjick6t96 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mjick6ta6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjick6tb {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mjick6tb7 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjick6tc5 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #22cb63;
}
#comp-mjick6tc12 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjick6te {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjick6te6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjido0nr3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjido0ns5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mjick6th4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mclmkkl04 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mclmkkl21 {
  --opacity: 1;
}
#comp-mclmkkl83 {
  --opacity: 1;
}
#comp-mclmkkle1 {
  --height: 48px;
  --width: 50px;
}
#comp-mclmkkll2 {
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-mclmkkln3 {
  --min-height: 78px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mclmkklp1 {
  --direction: var(--wix-opt-in-direction);
  --justify-content: center;
  --item-margin: 20px 20px;
  --margin-top: -20px;
  --margin-bottom: -20px;
  --margin-inline-start: -20px;
  --margin-inline-end: -20px;
}
[id^="comp-mclmkkly3__"] {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 1);
  overflow: clip !important;
  transform: translateZ(0);
  margin: -0px;
}
[id^="comp-mclmkkmd3__"] {
  --height: 53px;
  --width: 53px;
}
[id^="comp-mclmkkly3__"]:hover [id^="comp-mclmkkmf4__"] {
  --min-height: 60px;
  --text-direction: var(--wix-opt-in-direction);
}
:is(:state(variants-mclmkkm0)) [id^="comp-mclmkkmf4__"] {
  --min-height: 60px;
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mclmkkmf4__"] {
  --min-height: 60px;
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mclmkkly3__"]:hover [id^="comp-mclmkkmf4__"] :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span, blockquote, div) {
  color: #0c4426 !important;
}
:is(:state(variants-mclmkkm0)) [id^="comp-mclmkkmf4__"] :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span, blockquote, div) {
  color: #0c4426 !important;
}
[id^="comp-mclmkkly3__"]:hover
  [id^="comp-mclmkkmf4__"]
  [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: var(--corvid-color, #0c4426) !important;
}
:is(:state(variants-mclmkkm0))
  [id^="comp-mclmkkmf4__"]
  [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: var(--corvid-color, #0c4426) !important;
}
#comp-mclmkkmr4 {
  --fill-layer-image-opacity: 1;
  --bg-overlay-color: rgb(var(--color_41));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-mclmkkmx {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mclmkkmz1 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-mclmkkn3 {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-mclmkkna1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mknurqo5 {
  --direction: var(--wix-opt-in-direction);
  --justify-content: center;
  --item-margin: 15px 15px;
  --margin-top: -15px;
  --margin-bottom: -15px;
  --margin-inline-start: -15px;
  --margin-inline-end: -15px;
}
[id^="comp-mknurqor__"] {
  --scale: 1;
  --bg-overlay-color: rgba(var(--color_36), 0.81);
  --bg-gradient: none;
  border-width: 0 0 0 0;
  border-style: solid solid solid solid;
  border-color: rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1) rgba(176, 169, 134, 1);
  border-radius: 20px 20px 20px 20px;
  overflow: clip !important;
  transform: translateZ(0);
  margin: -0px;
}
[id^="comp-mknurqu5__"] {
  --text-direction: var(--wix-opt-in-direction);
}
[id^="comp-mknurqub__"] {
  --fill-opacity: 1;
  --stroke-width: 3;
  --stroke: #ffffff;
  --stroke-opacity: 1;
  --fill: #ffffff;
  --svg-calculated-padding: 1px 2px 2px 1px;
  --svg-calculated-width: calc(100% - 3px);
  --svg-calculated-height: calc(100% - 3px);
}
[id^="comp-mknurquz__"] {
  --shc-mutated-brightness: 128, 128, 128;
}
[id^="comp-mknurqv1__"] {
  --height: 152px;
  --width: 216px;
}
[id="comp-mknurqv1__item-j9plerjk"] {
  --height: 152px;
  --width: 216px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
[id="comp-mknurqv1__item-3f45e7c5-4497-4b5c-84f1-bbad6cea4901"] {
  --height: 152px;
  --width: 216px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
[id="comp-mknurqv1__item-4baa69a6-4feb-49ff-8c44-e09e698bee31"] {
  --height: 152px;
  --width: 216px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
[id="comp-mknurqv1__item-588aab86-de66-4a8e-ad39-1ed74b88f3a5"] {
  --height: 152px;
  --width: 216px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
