.sM4uXBn {
  --wix-ui-tpa-ratings-input-icon-color: var(--wix-forms-formInputSelectionColor);
  --wix-ui-tpa-ratings-input-icon-color-rgb: var(--wix-forms-formInputSelectionColor-rgb);
  --wix-ui-tpa-ratings-input-icon-color-opacity: var(--wix-forms-formInputSelectionColor-opacity);
  position: relative;
}
.sRvgygB {
  --wix-ui-tpa-ratings-input-error-color: var(--wix-forms-formInputErrorColor);
  --wix-ui-tpa-ratings-input-error-color-rgb: var(--wix-forms-formInputErrorColor-rgb);
  --wix-ui-tpa-ratings-input-error-color-opacity: var(--wix-forms-formInputErrorColor-opacity);
  --wix-ui-tpa-ratings-input-icon-color: var(--wix-forms-formInputErrorColor);
  --wix-ui-tpa-ratings-input-icon-color-rgb: var(--wix-forms-formInputErrorColor-rgb);
  --wix-ui-tpa-ratings-input-icon-color-opacity: var(--wix-forms-formInputErrorColor-opacity);
}
.qIsPhZ {
  border: none;
  margin: 0;
  min-width: 0;
  padding: 0;
}
.saX4GCU {
  --RatingsInput115863739-small-font-family-default:
    Madefor, Helvetica Neue, Helvetica, Arial, メイリオ, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro,
    sans-serif;
}
.saX4GCU.oKaNnPK--withError {
  --wix-ui-tpa-error-message-wrapper-error-color: var(--wix-ui-tpa-ratings-input-error-color, 223, 49, 49);
  --wix-ui-tpa-error-message-wrapper-error-color-rgb: var(--wix-ui-tpa-ratings-input-error-color-rgb, 223, 49, 49);
  --wix-ui-tpa-error-message-wrapper-error-color-opacity: var(--wix-ui-tpa-ratings-input-error-color-opacity);
}
.sUjyOVW {
  align-items: center;
  border: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.sSia6DU {
  --wst-paragraph-2-overriden-font-text-decoration: var(--wst-paragraph-2-text-decoration);
  --wst-paragraph-2-overriden-font-line-height: 1.4em;
  --wst-paragraph-2-overriden-font-family: var(--wst-paragraph-2-font-family);
  --wst-paragraph-2-overriden-font-size: 14px;
  --wst-paragraph-2-overriden-font-style: var(--wst-paragraph-2-font-style);
  --wst-paragraph-2-overriden-font-variant: var(--wst-paragraph-2-font-variant);
  --wst-paragraph-2-overriden-font-weight: var(--wst-paragraph-2-font-weight);
  color: rgb(var(--wix-ui-tpa-ratings-input-label-color, var(--wst-paragraph-2-color-rgb, var(--wix-color-5))));
  display: flex;
  font-family: var(
    --wix-ui-tpa-ratings-input-label-font-family,
    var(--wst-paragraph-2-overriden-font-family, var(--wix-font-Body-M-family))
  );
  font-size: var(
    --wix-ui-tpa-ratings-input-label-font-size,
    var(--wst-paragraph-2-overriden-font-size, var(--wix-font-Body-M-size))
  );
  font-style: var(
    --wix-ui-tpa-ratings-input-label-font-style,
    var(--wst-paragraph-2-overriden-font-style, var(--wix-font-Body-M-style))
  );
  font-variant: var(
    --wix-ui-tpa-ratings-input-label-font-variant,
    var(--wst-paragraph-2-overriden-font-variant, var(--wix-font-Body-M-variant))
  );
  font-weight: var(
    --wix-ui-tpa-ratings-input-label-font-weight,
    var(--wst-paragraph-2-overriden-font-weight, var(--wix-font-Body-M-weight))
  );
  line-height: var(
    --wix-ui-tpa-ratings-input-label-font-line-height,
    var(--wst-paragraph-2-overriden-font-line-height, var(--wix-font-Body-M-line-height))
  );
  padding-inline-start: 0;
  text-decoration: var(
    --wix-ui-tpa-ratings-input-label-font-text-decoration,
    var(--wst-paragraph-2-overriden-font-text-decoration, var(--wix-font-Body-M-text-decoration))
  );
}
.saX4GCU.oKaNnPK---layout-10-labelAside .sSia6DU {
  float: left;
  padding-inline-end: 12px;
}
.saX4GCU.oKaNnPK---layout-8-labelTop .sSia6DU {
  padding-bottom: 8px;
}
.s__4My7tg {
  color: rgb(
    var(--wix-ui-tpa-ratings-input-reaction-label-color, var(--wst-paragraph-2-color-rgb, var(--wix-color-5)))
  );
}
.s__4My7tg.oKaNnPK---size-5-small {
  --wst-paragraph-2-overriden-font-text-decoration: var(--wst-paragraph-2-text-decoration);
  --wst-paragraph-2-overriden-font-line-height: var(--wst-paragraph-2-line-height);
  --wst-paragraph-2-overriden-font-family: var(--RatingsInput115863739-small-font-family-default);
  --wst-paragraph-2-overriden-font-size: var(--wst-paragraph-2-font-size);
  --wst-paragraph-2-overriden-font-style: var(--wst-paragraph-2-font-style);
  --wst-paragraph-2-overriden-font-variant: var(--wst-paragraph-2-font-variant);
  --wst-paragraph-2-overriden-font-weight: var(--wst-paragraph-2-font-weight);
  font-family: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-family,
    var(--wst-paragraph-2-overriden-font-family, var(--wix-font-LIGHT-family))
  );
  font-size: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-size,
    var(--wst-paragraph-2-overriden-font-size, var(--wix-font-LIGHT-size))
  );
  font-style: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-style,
    var(--wst-paragraph-2-overriden-font-style, var(--wix-font-LIGHT-style))
  );
  font-variant: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-variant,
    var(--wst-paragraph-2-overriden-font-variant, var(--wix-font-LIGHT-variant))
  );
  font-weight: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-weight,
    var(--wst-paragraph-2-overriden-font-weight, var(--wix-font-LIGHT-weight))
  );
  line-height: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-line-height,
    var(--wst-paragraph-2-overriden-font-line-height, var(--wix-font-LIGHT-line-height))
  );
  text-decoration: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-text-decoration,
    var(--wst-paragraph-2-overriden-font-text-decoration, var(--wix-font-LIGHT-text-decoration))
  );
}
.s__4My7tg.oKaNnPK---size-5-large {
  --wst-paragraph-2-overriden-font-text-decoration: var(--wst-paragraph-2-text-decoration);
  --wst-paragraph-2-overriden-font-line-height: 1.25em;
  --wst-paragraph-2-overriden-font-family: var(--wst-paragraph-2-font-family);
  --wst-paragraph-2-overriden-font-size: 32px;
  --wst-paragraph-2-overriden-font-style: var(--wst-paragraph-2-font-style);
  --wst-paragraph-2-overriden-font-variant: var(--wst-paragraph-2-font-variant);
  --wst-paragraph-2-overriden-font-weight: var(--wst-paragraph-2-font-weight);
  font-family: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-family,
    var(--wst-paragraph-2-overriden-font-family, var(--wix-font-Heading-M-family))
  );
  font-size: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-size,
    var(--wst-paragraph-2-overriden-font-size, var(--wix-font-Heading-M-size))
  );
  font-style: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-style,
    var(--wst-paragraph-2-overriden-font-style, var(--wix-font-Heading-M-style))
  );
  font-variant: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-variant,
    var(--wst-paragraph-2-overriden-font-variant, var(--wix-font-Heading-M-variant))
  );
  font-weight: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-weight,
    var(--wst-paragraph-2-overriden-font-weight, var(--wix-font-Heading-M-weight))
  );
  line-height: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-line-height,
    var(--wst-paragraph-2-overriden-font-line-height, var(--wix-font-Heading-M-line-height))
  );
  text-decoration: var(
    --wix-ui-tpa-ratings-input-reaction-label-font-family-text-decoration,
    var(--wst-paragraph-2-overriden-font-text-decoration, var(--wix-font-Heading-M-text-decoration))
  );
}
.saX4GCU.oKaNnPK---size-5-small .s__4My7tg {
  font-size: 14px;
  margin-inline-start: 12px;
}
.saX4GCU.oKaNnPK---size-5-large .s__4My7tg {
  font-size: 32px;
  margin-inline-start: 24px;
}
.sSD8V4a {
  display: flex;
}
.saX4GCU.oKaNnPK---size-5-large .sSD8V4a .sCtdKkT:not(:last-child) {
  margin-inline-end: 8px;
}
.sCtdKkT {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.saX4GCU.oKaNnPK---size-5-small .sCtdKkT {
  height: 24px;
}
.saX4GCU.oKaNnPK---size-5-large .sCtdKkT {
  height: 40px;
}
.saX4GCU.oKaNnPK--disabled .sCtdKkT {
  cursor: default;
}
.sCtdKkT:focus-within {
  box-shadow:
    0 0 0 1px #fff,
    0 0 0 3px #116dff !important;
  z-index: 999;
}
.sJBEGur {
  color: rgb(var(--wix-ui-tpa-ratings-input-icon-color, var(--wst-links-and-actions-color-rgb, var(--wix-color-8))));
  display: flex;
}
.saX4GCU.oKaNnPK--disabled .sJBEGur {
  color: rgb(var(--wst-shade-3-color-rgb, var(--wix-color-29)));
}
.saX4GCU.oKaNnPK--withError .sJBEGur {
  color: rgb(var(--wix-ui-tpa-ratings-input-error-color, var(--wst-system-error-color-rgb, 223, 49, 49)));
}
.saX4GCU.oKaNnPK--withError .sSD8V4a:hover .sJBEGur {
  color: rgb(var(--wix-ui-tpa-ratings-input-icon-color, var(--wix-color-8)));
}
.sGcCwXZ {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  border: 0 !important;
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute;
  width: 1px !important;
}
