#dytx1 {
  width: auto;
  min-height: 40px;
}
#pageBackground_dytx1 {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
}
#comp-mcoryyqw {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  min-width: 980px;
}
#comp-mcos3tcs {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mcos3tcv {
  --height: 90px;
  --width: 90px;
}
