/* END STYLABLE DIRECTIVE RULES */

#comp-lqaytoof .style-lqaz3lfu__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  border-radius: 20px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lqaytoof .style-lqaz3lfu__root:hover {
  border: 1px solid #ffffff;
  background: rgb(255, 255, 255);
}

#comp-lqaytoof .style-lqaz3lfu__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#comp-lqaytoof .style-lqaz3lfu__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  display: initial;
  color: #ffffff;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0em;
  margin-right: 0px;
  margin-left: 2.5px;
}

#comp-lqaytoof .style-lqaz3lfu__root:disabled {
  background: #e2e2e2;
}

#comp-lqaytoof .style-lqaz3lfu__root:disabled .StylableButton2545352419__label {
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
}

#comp-lqaytoof .style-lqaz3lfu__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lqaytoof .style-lqaz3lfu__root .StylableButton2545352419__icon {
  transition: inherit;
  margin: 0px 0px 0px 4px;
  display: initial;
  fill: #ffffff;
  margin-left: 0px;
  margin-right: 2.5px;
  width: 28px;
  height: 28px;
}

#comp-lqaytoof .style-lqaz3lfu__root:hover .StylableButton2545352419__label {
  color: #66676f;
}

#comp-lqaytoof .style-lqaz3lfu__root:hover .StylableButton2545352419__icon {
  fill: #6e7088;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lrgck2ws .style-lrgcsf0q__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 20px;
  border: 1px solid #ffffff;
  background: rgba(57, 209, 116, 0.71);
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lrgck2ws .style-lrgcsf0q__root:hover {
  background: rgba(12, 68, 38, 0.21);
  border: 1px solid #ffffff;
}

#comp-lrgck2ws .style-lrgcsf0q__root:hover .StylableButton2545352419__label {
  color: #fffffe;
  letter-spacing: 0em;
}

#comp-lrgck2ws .style-lrgcsf0q__root:disabled {
  background: #e2e2e2;
}

#comp-lrgck2ws .style-lrgcsf0q__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lrgck2ws .style-lrgcsf0q__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lrgck2ws .style-lrgcsf0q__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-lrgck2ws .style-lrgcsf0q__root .StylableButton2545352419__label {
  transition: inherit;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: montserrat, sans-serif;
  color: #ffffff;
  letter-spacing: 0em;
}

#comp-lrgck2ws .style-lrgcsf0q__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  fill: #ffffff;
  display: none;
}

#comp-lrgck2ws .style-lrgcsf0q__root:hover .StylableButton2545352419__icon {
  fill: #33343f;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lq6m37aj .style-lrgcn6jn__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.54);
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lq6m37aj .style-lrgcn6jn__root:hover {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
}

#comp-lq6m37aj .style-lrgcn6jn__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-lq6m37aj .style-lrgcn6jn__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  color: #1a1855;
  letter-spacing: 0em;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#comp-lq6m37aj .style-lrgcn6jn__root:disabled {
  background: #e2e2e2;
}

#comp-lq6m37aj .style-lrgcn6jn__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lq6m37aj .style-lrgcn6jn__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lq6m37aj .style-lrgcn6jn__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #000000;
  display: none;
}

#comp-lq6m37aj .style-lrgcn6jn__root:hover .StylableButton2545352419__label {
  color: #1a1855;
}

#comp-lq6m37aj .style-lrgcn6jn__root:hover .StylableButton2545352419__icon {
  fill: #757575;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lr9b6uch .style-lrgcnmi8__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  background: #ffffff;
  border-radius: 50px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lr9b6uch .style-lrgcnmi8__root:hover {
  border-radius: 20px;
}

#comp-lr9b6uch .style-lrgcnmi8__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-lr9b6uch .style-lrgcnmi8__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #ff4040;
  letter-spacing: 0em;
}

#comp-lr9b6uch .style-lrgcnmi8__root:disabled {
  background: #e2e2e2;
}

#comp-lr9b6uch .style-lrgcnmi8__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lr9b6uch .style-lrgcnmi8__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lr9b6uch .style-lrgcnmi8__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #33343f;
  display: none;
}

#comp-lr9b6uch .style-lrgcnmi8__root:hover .StylableButton2545352419__label {
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #fe6060;
  letter-spacing: 0em;
}

#comp-lr9b6uch .style-lrgcnmi8__root:hover .StylableButton2545352419__icon {
  fill: #66676f;
}
