#nvapc{width:auto;min-height:40px;}#pageBackground_nvapc{--bg-position:absolute;--bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;}#comp-lsxhb1cn{--bg-overlay-color:transparent;--bg-gradient:none;min-width:980px;}.TPAMultiSection_lsxha60e {
				--wix-direction: ltr;
--headerHeight: 360;
--headerSidePadding: 20;
--headerImageOpacity: 100;
--bodySidePadding: 20;
--firstSectionSpaceFromTheTop: 48;
--bodySpaceBetweenSections: 32;
--sidebarWidth: 30;
--sidebarSidePadding: 20;
--sidebarSideSpacing: 0;
--sidebarSpaceFromTheTop: 48;
--detailsInnerPadding: 16;
--detailsBoxBorderWidth: 1;
--mobilePriceBeforeDiscountFontSize: 14;
--mobileDiscountNameFontSize: 14;
--sidebarButtonBorderWidth: 0;
--sidebarButtonCornerRadius: 1;
--bodyButtonBorderWidth: 0;
--bodyButtonCornerRadius: 0;
--headerButtonBorderWidth: 0;
--headerButtonCornerRadius: 0;
--bodyDividerWidth: 1;
--detailsBoxBorderRadius: 0;
--scheduleBoxPadding: 28;
--scheduleBorderWidth: 1;
--scheduleBorderRadius: 0;
--scheduleDividerWidth: 1;
--galleryMasonryItemSpacing: 12;
--galleryMasonryItemBorderWidth: 0;
--galleryMasonryItemRadius: 0;
--galleryGridItemSpacing: 12;
--galleryGridItemBorderWidth: 0;
--galleryGridItemRadius: 0;
--gallerySliderItemSpacing: 12;
--gallerySliderItemBorderWidth: 0;
--gallerySliderItemRadius: 0;
--mobileServiceTitleFontSize: 32;
--mobileServiceTaglineFontSize: 14;
--mobileSectionTitleFontSize: 20;
--mobileTextFontSize: 14;
--mobileButtonTextSize: 14;
--mobileHeaderTitleFontSize: 32;
--mobileHeaderButtonTextSize: 14;
--mobileDetailsBoxFontSize: 14;
--mobileScheduleDatesFontSize: 14;
--mobileScheduleHoursFontSize: 14;
--mobileScheduleDetailsFontSize: 14;
--mobileScheduleLinkFontSize: 14;
--headerTitleFont: normal normal normal 40px/1.4em montserrat,sans-serif;
--bodySectionTitleFont: normal normal normal 20px/1.4em montserrat,sans-serif;
--bodyTextFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--courseAvailabilityTextFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--sidebarTitleFont: normal normal normal 20px/1.4em montserrat,sans-serif;
--sidebarTextFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--sidebarServiceTitleFont: normal normal normal 40px/1.4em montserrat,sans-serif;
--sidebarServiceTaglineFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--detailsBoxFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--priceBeforeDiscountFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--discountNameFont: normal normal normal 14px/1.4em montserrat,sans-serif;
--sidebarButtonTextFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--bodyButtonTextFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--headerButtonTextFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--bodyServiceTitleFont: normal normal normal 40px/1.4em montserrat,sans-serif;
--bodyServiceTaglineFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--scheduleDatesFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--scheduleHoursFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--scheduleDetailsFont: normal normal normal 14px/1.4em montserrat,sans-serif;
--scheduleLinkFont: normal normal normal 16px/1.4em montserrat,sans-serif;
--headerImageBackgroundColor: 51,52,63;
--headerImageBackgroundColor-rgb: 51,52,63;
--headerImageBackgroundColor-opacity: 1;
--bodyBackgroundColor: 255,255,255;
--bodyBackgroundColor-rgb: 255,255,255;
--bodyBackgroundColor-opacity: 1;
--headerBackgroundColor: 51,52,63;
--headerBackgroundColor-rgb: 51,52,63;
--headerBackgroundColor-opacity: 1;
--headerTitleColor: 255,255,255;
--headerTitleColor-rgb: 255,255,255;
--headerTitleColor-opacity: 1;
--bodySectionTitleColor: 51,52,63;
--bodySectionTitleColor-rgb: 51,52,63;
--bodySectionTitleColor-opacity: 1;
--bodyTextColor: 51,52,63;
--bodyTextColor-rgb: 51,52,63;
--bodyTextColor-opacity: 1;
--courseAvailabilityTextColor: 51,52,63;
--courseAvailabilityTextColor-rgb: 51,52,63;
--courseAvailabilityTextColor-opacity: 1;
--sidebarBackgroundColor: 255,255,255;
--sidebarBackgroundColor-rgb: 255,255,255;
--sidebarBackgroundColor-opacity: 1;
--sidebarTitleColor: 51,52,63;
--sidebarTitleColor-rgb: 51,52,63;
--sidebarTitleColor-opacity: 1;
--sidebarTextColor: 51,52,63;
--sidebarTextColor-rgb: 51,52,63;
--sidebarTextColor-opacity: 1;
--sidebarServiceTitleColor: 51,52,63;
--sidebarServiceTitleColor-rgb: 51,52,63;
--sidebarServiceTitleColor-opacity: 1;
--sidebarServiceTaglineColor: 51,52,63;
--sidebarServiceTaglineColor-rgb: 51,52,63;
--sidebarServiceTaglineColor-opacity: 1;
--backgroundColor: 51,52,63;
--backgroundColor-rgb: 51,52,63;
--backgroundColor-opacity: 1;
--detailsBoxTextColor: 51,52,63;
--detailsBoxTextColor-rgb: 51,52,63;
--detailsBoxTextColor-opacity: 1;
--detailsBoxColor: 255,255,255,0;
--detailsBoxColor-rgb: 255,255,255;
--detailsBoxColor-opacity: 0;
--detailsBoxBorderColor: 51,52,63,0.2;
--detailsBoxBorderColor-rgb: 51,52,63;
--detailsBoxBorderColor-opacity: 0.2;
--priceBeforeDiscountColor: 153,154,159;
--priceBeforeDiscountColor-rgb: 153,154,159;
--priceBeforeDiscountColor-opacity: 1;
--discountNameColor: 51,52,63;
--discountNameColor-rgb: 51,52,63;
--discountNameColor-opacity: 1;
--sidebarButtonTextColor: 255,255,255;
--sidebarButtonTextColor-rgb: 255,255,255;
--sidebarButtonTextColor-opacity: 1;
--sidebarButtonBackgroundColor: 51,52,63;
--sidebarButtonBackgroundColor-rgb: 51,52,63;
--sidebarButtonBackgroundColor-opacity: 1;
--sidebarButtonBorderColor: 51,52,63;
--sidebarButtonBorderColor-rgb: 51,52,63;
--sidebarButtonBorderColor-opacity: 1;
--sidebarButtonHoverTextColor: 255,255,255;
--sidebarButtonHoverTextColor-rgb: 255,255,255;
--sidebarButtonHoverTextColor-opacity: 1;
--sidebarButtonHoverBackgroundColor: 51,52,63;
--sidebarButtonHoverBackgroundColor-rgb: 51,52,63;
--sidebarButtonHoverBackgroundColor-opacity: 1;
--sidebarButtonHoverBorderColor: 51,52,63;
--sidebarButtonHoverBorderColor-rgb: 51,52,63;
--sidebarButtonHoverBorderColor-opacity: 1;
--bodyButtonTextColor: 255,255,255;
--bodyButtonTextColor-rgb: 255,255,255;
--bodyButtonTextColor-opacity: 1;
--bodyButtonBackgroundColor: 51,52,63;
--bodyButtonBackgroundColor-rgb: 51,52,63;
--bodyButtonBackgroundColor-opacity: 1;
--bodyButtonBorderColor: 51,52,63;
--bodyButtonBorderColor-rgb: 51,52,63;
--bodyButtonBorderColor-opacity: 1;
--bodyButtonHoverTextColor: 255,255,255;
--bodyButtonHoverTextColor-rgb: 255,255,255;
--bodyButtonHoverTextColor-opacity: 1;
--bodyButtonHoverBackgroundColor: 51,52,63;
--bodyButtonHoverBackgroundColor-rgb: 51,52,63;
--bodyButtonHoverBackgroundColor-opacity: 1;
--bodyButtonHoverBorderColor: 51,52,63;
--bodyButtonHoverBorderColor-rgb: 51,52,63;
--bodyButtonHoverBorderColor-opacity: 1;
--headerButtonTextColor: 51,52,63;
--headerButtonTextColor-rgb: 51,52,63;
--headerButtonTextColor-opacity: 1;
--headerButtonBackgroundColor: 255,255,255;
--headerButtonBackgroundColor-rgb: 255,255,255;
--headerButtonBackgroundColor-opacity: 1;
--headerButtonBorderColor: 255,255,255;
--headerButtonBorderColor-rgb: 255,255,255;
--headerButtonBorderColor-opacity: 1;
--headerButtonHoverTextColor: 51,52,63;
--headerButtonHoverTextColor-rgb: 51,52,63;
--headerButtonHoverTextColor-opacity: 1;
--headerButtonHoverBackgroundColor: 255,255,255;
--headerButtonHoverBackgroundColor-rgb: 255,255,255;
--headerButtonHoverBackgroundColor-opacity: 1;
--headerButtonHoverBorderColor: 255,255,255;
--headerButtonHoverBorderColor-rgb: 255,255,255;
--headerButtonHoverBorderColor-opacity: 1;
--bodyDividerColor: 51,52,63,0.2;
--bodyDividerColor-rgb: 51,52,63;
--bodyDividerColor-opacity: 0.2;
--bodyServiceTitleColor: 51,52,63;
--bodyServiceTitleColor-rgb: 51,52,63;
--bodyServiceTitleColor-opacity: 1;
--bodyServiceTaglineColor: 51,52,63;
--bodyServiceTaglineColor-rgb: 51,52,63;
--bodyServiceTaglineColor-opacity: 1;
--scheduleBackgroundColor: 255,255,255,0;
--scheduleBackgroundColor-rgb: 255,255,255;
--scheduleBackgroundColor-opacity: 0;
--scheduleBorderColor: 51,52,63,0.2;
--scheduleBorderColor-rgb: 51,52,63;
--scheduleBorderColor-opacity: 0.2;
--scheduleDividerColor: 51,52,63,0.2;
--scheduleDividerColor-rgb: 51,52,63;
--scheduleDividerColor-opacity: 0.2;
--scheduleDatesColor: 51,52,63;
--scheduleDatesColor-rgb: 51,52,63;
--scheduleDatesColor-opacity: 1;
--scheduleHoursColor: 51,52,63;
--scheduleHoursColor-rgb: 51,52,63;
--scheduleHoursColor-opacity: 1;
--scheduleDetailsColor: 102,103,111;
--scheduleDetailsColor-rgb: 102,103,111;
--scheduleDetailsColor-opacity: 1;
--scheduleLinkColor: 51,52,63;
--scheduleLinkColor-rgb: 51,52,63;
--scheduleLinkColor-opacity: 1;
--galleryMasonryItemBorderColor: 51,52,63,0.2;
--galleryMasonryItemBorderColor-rgb: 51,52,63;
--galleryMasonryItemBorderColor-opacity: 0.2;
--galleryGridItemBorderColor: 51,52,63,0.2;
--galleryGridItemBorderColor-rgb: 51,52,63;
--galleryGridItemBorderColor-opacity: 0.2;
--gallerySliderItemBorderColor: 51,52,63,0.2;
--gallerySliderItemBorderColor-rgb: 51,52,63;
--gallerySliderItemBorderColor-opacity: 0.2;
--gallerySliderArrowColor: 51,52,63;
--gallerySliderArrowColor-rgb: 51,52,63;
--gallerySliderArrowColor-opacity: 1;
--headerTitleFont-style: normal;
--headerTitleFont-variant: normal;
--headerTitleFont-weight: normal;
--headerTitleFont-size: 40px;
--headerTitleFont-line-height: 1.4em;
--headerTitleFont-family: montserrat,sans-serif;
--headerTitleFont-text-decoration: none;
--bodySectionTitleFont-style: normal;
--bodySectionTitleFont-variant: normal;
--bodySectionTitleFont-weight: normal;
--bodySectionTitleFont-size: 20px;
--bodySectionTitleFont-line-height: 1.4em;
--bodySectionTitleFont-family: montserrat,sans-serif;
--bodySectionTitleFont-text-decoration: none;
--bodyTextFont-style: normal;
--bodyTextFont-variant: normal;
--bodyTextFont-weight: normal;
--bodyTextFont-size: 16px;
--bodyTextFont-line-height: 1.4em;
--bodyTextFont-family: montserrat,sans-serif;
--bodyTextFont-text-decoration: none;
--courseAvailabilityTextFont-style: normal;
--courseAvailabilityTextFont-variant: normal;
--courseAvailabilityTextFont-weight: normal;
--courseAvailabilityTextFont-size: 16px;
--courseAvailabilityTextFont-line-height: 1.4em;
--courseAvailabilityTextFont-family: montserrat,sans-serif;
--courseAvailabilityTextFont-text-decoration: none;
--sidebarTitleFont-style: normal;
--sidebarTitleFont-variant: normal;
--sidebarTitleFont-weight: normal;
--sidebarTitleFont-size: 20px;
--sidebarTitleFont-line-height: 1.4em;
--sidebarTitleFont-family: montserrat,sans-serif;
--sidebarTitleFont-text-decoration: none;
--sidebarTextFont-style: normal;
--sidebarTextFont-variant: normal;
--sidebarTextFont-weight: normal;
--sidebarTextFont-size: 16px;
--sidebarTextFont-line-height: 1.4em;
--sidebarTextFont-family: montserrat,sans-serif;
--sidebarTextFont-text-decoration: none;
--sidebarServiceTitleFont-style: normal;
--sidebarServiceTitleFont-variant: normal;
--sidebarServiceTitleFont-weight: normal;
--sidebarServiceTitleFont-size: 40px;
--sidebarServiceTitleFont-line-height: 1.4em;
--sidebarServiceTitleFont-family: montserrat,sans-serif;
--sidebarServiceTitleFont-text-decoration: none;
--sidebarServiceTaglineFont-style: normal;
--sidebarServiceTaglineFont-variant: normal;
--sidebarServiceTaglineFont-weight: normal;
--sidebarServiceTaglineFont-size: 16px;
--sidebarServiceTaglineFont-line-height: 1.4em;
--sidebarServiceTaglineFont-family: montserrat,sans-serif;
--sidebarServiceTaglineFont-text-decoration: none;
--detailsBoxFont-style: normal;
--detailsBoxFont-variant: normal;
--detailsBoxFont-weight: normal;
--detailsBoxFont-size: 16px;
--detailsBoxFont-line-height: 1.4em;
--detailsBoxFont-family: montserrat,sans-serif;
--detailsBoxFont-text-decoration: none;
--priceBeforeDiscountFont-style: normal;
--priceBeforeDiscountFont-variant: normal;
--priceBeforeDiscountFont-weight: normal;
--priceBeforeDiscountFont-size: 16px;
--priceBeforeDiscountFont-line-height: 1.4em;
--priceBeforeDiscountFont-family: montserrat,sans-serif;
--priceBeforeDiscountFont-text-decoration: none;
--discountNameFont-style: normal;
--discountNameFont-variant: normal;
--discountNameFont-weight: normal;
--discountNameFont-size: 14px;
--discountNameFont-line-height: 1.4em;
--discountNameFont-family: montserrat,sans-serif;
--discountNameFont-text-decoration: none;
--sidebarButtonTextFont-style: normal;
--sidebarButtonTextFont-variant: normal;
--sidebarButtonTextFont-weight: normal;
--sidebarButtonTextFont-size: 16px;
--sidebarButtonTextFont-line-height: 1.4em;
--sidebarButtonTextFont-family: montserrat,sans-serif;
--sidebarButtonTextFont-text-decoration: none;
--bodyButtonTextFont-style: normal;
--bodyButtonTextFont-variant: normal;
--bodyButtonTextFont-weight: normal;
--bodyButtonTextFont-size: 16px;
--bodyButtonTextFont-line-height: 1.4em;
--bodyButtonTextFont-family: montserrat,sans-serif;
--bodyButtonTextFont-text-decoration: none;
--headerButtonTextFont-style: normal;
--headerButtonTextFont-variant: normal;
--headerButtonTextFont-weight: normal;
--headerButtonTextFont-size: 16px;
--headerButtonTextFont-line-height: 1.4em;
--headerButtonTextFont-family: montserrat,sans-serif;
--headerButtonTextFont-text-decoration: none;
--bodyServiceTitleFont-style: normal;
--bodyServiceTitleFont-variant: normal;
--bodyServiceTitleFont-weight: normal;
--bodyServiceTitleFont-size: 40px;
--bodyServiceTitleFont-line-height: 1.4em;
--bodyServiceTitleFont-family: montserrat,sans-serif;
--bodyServiceTitleFont-text-decoration: none;
--bodyServiceTaglineFont-style: normal;
--bodyServiceTaglineFont-variant: normal;
--bodyServiceTaglineFont-weight: normal;
--bodyServiceTaglineFont-size: 16px;
--bodyServiceTaglineFont-line-height: 1.4em;
--bodyServiceTaglineFont-family: montserrat,sans-serif;
--bodyServiceTaglineFont-text-decoration: none;
--scheduleDatesFont-style: normal;
--scheduleDatesFont-variant: normal;
--scheduleDatesFont-weight: normal;
--scheduleDatesFont-size: 16px;
--scheduleDatesFont-line-height: 1.4em;
--scheduleDatesFont-family: montserrat,sans-serif;
--scheduleDatesFont-text-decoration: none;
--scheduleHoursFont-style: normal;
--scheduleHoursFont-variant: normal;
--scheduleHoursFont-weight: normal;
--scheduleHoursFont-size: 16px;
--scheduleHoursFont-line-height: 1.4em;
--scheduleHoursFont-family: montserrat,sans-serif;
--scheduleHoursFont-text-decoration: none;
--scheduleDetailsFont-style: normal;
--scheduleDetailsFont-variant: normal;
--scheduleDetailsFont-weight: normal;
--scheduleDetailsFont-size: 14px;
--scheduleDetailsFont-line-height: 1.4em;
--scheduleDetailsFont-family: montserrat,sans-serif;
--scheduleDetailsFont-text-decoration: none;
--scheduleLinkFont-style: normal;
--scheduleLinkFont-variant: normal;
--scheduleLinkFont-weight: normal;
--scheduleLinkFont-size: 16px;
--scheduleLinkFont-line-height: 1.4em;
--scheduleLinkFont-family: montserrat,sans-serif;
--scheduleLinkFont-text-decoration: none;
--headerDisplay: flex;
--headerTitleDisplay: none;
--headerImageDisplay: block;
--headerBookButtonDisplay: none;
--sidebarDisplay: none;
--onlineBadgeDisplay: block;
--serviceTitleDisplay: block;
--serviceTaglineDisplay: block;
--detailsDurationDisplay: block;
--detailsPriceDisplay: block;
--detailsLocationDisplay: block;
--priceBeforeDiscountDisplay: block;
--detailsDiscountNameDisplay: flex;
--businessEmailDisplay: block;
--businessPhoneNumberDisplay: block;
--businessAddressDisplay: block;
--locationNameDisplay: none;
--scheduleDurationDisplay: block;
--scheduleStaffDisplay: block;
--courseAvailabilityDisplay: block;
--sectionTitleBookButtonDisplay: none;
--sectionSchedulingBookButtonDisplay: block;
--sectionContactBookButtonDisplay: none;
--sectionDescriptionBookButtonDisplay: none;
--sectionDetailsBookButtonDisplay: block;
--sectionGalleryBookButtonDisplay: none;
--sectionPluginBookButtonDisplay: none;
--sectionPolicyBookButtonDisplay: none;
--sectionTitleDisplay: block;
--sectionSchedulingDisplay: block;
--sectionContactDisplay: block;
--sectionDescriptionDisplay: block;
--sectionDetailsDisplay: block;
--sectionGalleryDisplay: block;
--sectionPluginDisplay: block;
--sectionPolicyDisplay: block;
--SectionTitleDividerDisplay: block;
--sectionSchedulingDividerDisplay: block;
--sectionContactDividerDisplay: block;
--sectionDescriptionDividerDisplay: block;
--sectionDetailsDividerDisplay: block;
--sectionGalleryDividerDisplay: block;
--sectionPluginDividerDisplay: block;
--sectionPolicyDividerDisplay: block;
--sectionTitleMargin: 32;
--sectionSchedulingMargin: 32;
--sectionContactMargin: 32;
--sectionDescriptionMargin: 32;
--sectionDetailsMargin: 32;
--sectionGalleryMargin: 32;
--sectionPluginMargin: 32;
--sectionPolicyMargin: 32;
--breadcrumbsDisplay: none;
				--wix-color-1: 255,255,255;
--wix-color-2: 182,182,184;
--wix-color-3: 153,154,159;
--wix-color-4: 102,103,111;
--wix-color-5: 51,52,63;
--wix-color-6: 182,183,196;
--wix-color-7: 110,112,136;
--wix-color-8: 51,52,63;
--wix-color-9: 34,35,42;
--wix-color-10: 17,17,21;
--wix-color-11: 215,215,225;
--wix-color-12: 174,175,194;
--wix-color-13: 134,135,164;
--wix-color-14: 97,99,129;
--wix-color-15: 102,103,111;
--wix-color-16: 251,251,251;
--wix-color-17: 182,182,184;
--wix-color-18: 185,185,185;
--wix-color-19: 124,124,124;
--wix-color-20: 62,62,62;
--wix-color-21: 252,222,147;
--wix-color-22: 248,189,38;
--wix-color-23: 208,151,7;
--wix-color-24: 139,101,4;
--wix-color-25: 69,50,2;
--wix-color-26: 255,255,255;
--wix-color-27: 51,52,63;
--wix-color-28: 182,182,184;
--wix-color-29: 153,154,159;
--wix-color-30: 102,103,111;
--wix-color-31: 239,239,239;
--wix-color-32: 40,38,38;
--wix-color-33: 233,226,215;
--wix-color-34: 203,200,194;
--wix-color-35: 51,52,63;
--wix-color-36: 51,52,63;
--wix-color-37: 102,103,111;
--wix-color-38: 51,52,63;
--wix-color-39: 51,52,63;
--wix-color-40: 255,255,255;
--wix-color-41: 255,255,255;
--wix-color-42: 51,52,63;
--wix-color-43: 51,52,63;
--wix-color-44: 153,154,159;
--wix-color-45: 153,154,159;
--wix-color-46: 255,255,255;
--wix-color-47: 255,255,255;
--wix-color-48: 51,52,63;
--wix-color-49: 51,52,63;
--wix-color-50: 51,52,63;
--wix-color-51: 51,52,63;
--wix-color-52: 255,255,255;
--wix-color-53: 255,255,255;
--wix-color-54: 153,154,159;
--wix-color-55: 153,154,159;
--wix-font-Title: normal normal normal 88px/1.2em montserrat,sans-serif;
--wix-font-Title-style: normal;
--wix-font-Title-variant: normal;
--wix-font-Title-weight: normal;
--wix-font-Title-size: 88px;
--wix-font-Title-line-height: 1.2em;
--wix-font-Title-family: montserrat,sans-serif;
--wix-font-Title-text-decoration: none;
--wix-font-Menu: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496,sans-serif;
--wix-font-Menu-style: normal;
--wix-font-Menu-variant: normal;
--wix-font-Menu-weight: normal;
--wix-font-Menu-size: 14px;
--wix-font-Menu-line-height: 1.79em;
--wix-font-Menu-family: avenir-lt-w01_35-light1475496,sans-serif;
--wix-font-Menu-text-decoration: none;
--wix-font-Page-title: normal normal normal 72px/1.25em montserrat,sans-serif;
--wix-font-Page-title-style: normal;
--wix-font-Page-title-variant: normal;
--wix-font-Page-title-weight: normal;
--wix-font-Page-title-size: 72px;
--wix-font-Page-title-line-height: 1.25em;
--wix-font-Page-title-family: montserrat,sans-serif;
--wix-font-Page-title-text-decoration: none;
--wix-font-Heading-XL: normal normal normal 50px/1.34em montserrat,sans-serif;
--wix-font-Heading-XL-style: normal;
--wix-font-Heading-XL-variant: normal;
--wix-font-Heading-XL-weight: normal;
--wix-font-Heading-XL-size: 50px;
--wix-font-Heading-XL-line-height: 1.34em;
--wix-font-Heading-XL-family: montserrat,sans-serif;
--wix-font-Heading-XL-text-decoration: none;
--wix-font-Heading-L: normal normal normal 40px/1.35em montserrat,sans-serif;
--wix-font-Heading-L-style: normal;
--wix-font-Heading-L-variant: normal;
--wix-font-Heading-L-weight: normal;
--wix-font-Heading-L-size: 40px;
--wix-font-Heading-L-line-height: 1.35em;
--wix-font-Heading-L-family: montserrat,sans-serif;
--wix-font-Heading-L-text-decoration: none;
--wix-font-Heading-M: normal normal normal 28px/1.38em montserrat,sans-serif;
--wix-font-Heading-M-style: normal;
--wix-font-Heading-M-variant: normal;
--wix-font-Heading-M-weight: normal;
--wix-font-Heading-M-size: 28px;
--wix-font-Heading-M-line-height: 1.38em;
--wix-font-Heading-M-family: montserrat,sans-serif;
--wix-font-Heading-M-text-decoration: none;
--wix-font-Heading-S: normal normal normal 22px/1.41em montserrat,sans-serif;
--wix-font-Heading-S-style: normal;
--wix-font-Heading-S-variant: normal;
--wix-font-Heading-S-weight: normal;
--wix-font-Heading-S-size: 22px;
--wix-font-Heading-S-line-height: 1.41em;
--wix-font-Heading-S-family: montserrat,sans-serif;
--wix-font-Heading-S-text-decoration: none;
--wix-font-Body-L: normal normal normal 20px/1.67em montserrat,sans-serif;
--wix-font-Body-L-style: normal;
--wix-font-Body-L-variant: normal;
--wix-font-Body-L-weight: normal;
--wix-font-Body-L-size: 20px;
--wix-font-Body-L-line-height: 1.67em;
--wix-font-Body-L-family: montserrat,sans-serif;
--wix-font-Body-L-text-decoration: none;
--wix-font-Body-M: normal normal normal 18px/1.75em montserrat,sans-serif;
--wix-font-Body-M-style: normal;
--wix-font-Body-M-variant: normal;
--wix-font-Body-M-weight: normal;
--wix-font-Body-M-size: 18px;
--wix-font-Body-M-line-height: 1.75em;
--wix-font-Body-M-family: montserrat,sans-serif;
--wix-font-Body-M-text-decoration: none;
--wix-font-Body-S: normal normal normal 15px/1.88em montserrat,sans-serif;
--wix-font-Body-S-style: normal;
--wix-font-Body-S-variant: normal;
--wix-font-Body-S-weight: normal;
--wix-font-Body-S-size: 15px;
--wix-font-Body-S-line-height: 1.88em;
--wix-font-Body-S-family: montserrat,sans-serif;
--wix-font-Body-S-text-decoration: none;
--wix-font-Body-XS: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496,sans-serif;
--wix-font-Body-XS-style: normal;
--wix-font-Body-XS-variant: normal;
--wix-font-Body-XS-weight: normal;
--wix-font-Body-XS-size: 14px;
--wix-font-Body-XS-line-height: 1.79em;
--wix-font-Body-XS-family: avenir-lt-w01_35-light1475496,sans-serif;
--wix-font-Body-XS-text-decoration: none;
--wix-font-LIGHT: normal normal normal 12px/1.4em HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-style: normal;
--wix-font-LIGHT-variant: normal;
--wix-font-LIGHT-weight: normal;
--wix-font-LIGHT-size: 12px;
--wix-font-LIGHT-line-height: 1.4em;
--wix-font-LIGHT-family: HelveticaNeueW01-45Ligh;
--wix-font-LIGHT-text-decoration: none;
--wix-font-MEDIUM: normal normal normal 12px/1.4em HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-style: normal;
--wix-font-MEDIUM-variant: normal;
--wix-font-MEDIUM-weight: normal;
--wix-font-MEDIUM-size: 12px;
--wix-font-MEDIUM-line-height: 1.4em;
--wix-font-MEDIUM-family: HelveticaNeueW01-55Roma;
--wix-font-MEDIUM-text-decoration: none;
--wix-font-STRONG: normal normal normal 12px/1.4em HelveticaNeueW01-65Medi;
--wix-font-STRONG-style: normal;
--wix-font-STRONG-variant: normal;
--wix-font-STRONG-weight: normal;
--wix-font-STRONG-size: 12px;
--wix-font-STRONG-line-height: 1.4em;
--wix-font-STRONG-family: HelveticaNeueW01-65Medi;
--wix-font-STRONG-text-decoration: none;
		}

