/* END STYLABLE DIRECTIVE RULES */

#comp-mbs1z7ht .style-mbumsqzb__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  background: #074151;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mbs1z7ht .style-mbumsqzb__root:hover {
  background: #ffffff;
  border: 1px solid #022d36;
}

#comp-mbs1z7ht .style-mbumsqzb__root:hover .StylableButton2545352419__label {
  color: #022d36;
  letter-spacing: 0.05em;
}

#comp-mbs1z7ht .style-mbumsqzb__root:disabled {
  background: #e2e2e2;
}

#comp-mbs1z7ht .style-mbumsqzb__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-mbs1z7ht .style-mbumsqzb__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-mbs1z7ht .style-mbumsqzb__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-mbs1z7ht .style-mbumsqzb__root .StylableButton2545352419__label {
  transition: inherit;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  font-family: raleway-v2, sans-serif;
  font-size: 16px;
}

#comp-mbs1z7ht .style-mbumsqzb__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  fill: #ffffff;
  display: none;
} /* END STYLABLE DIRECTIVE RULES */

#comp-mbs1z7hu1 .style-mbumue58__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #ffffff;
  border: 2px solid #022d36;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mbs1z7hu1 .style-mbumue58__root:hover {
  border: 1px solid #2f2e2e;
  background: #022d36;
}

#comp-mbs1z7hu1 .style-mbumue58__root:hover .StylableButton2545352419__label {
  color: #fffffe;
  letter-spacing: 0.05em;
}

#comp-mbs1z7hu1 .style-mbumue58__root:disabled {
  background: #e2e2e2;
}

#comp-mbs1z7hu1 .style-mbumue58__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-mbs1z7hu1 .style-mbumue58__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-mbs1z7hu1 .style-mbumue58__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-mbs1z7hu1 .style-mbumue58__root .StylableButton2545352419__label {
  transition: inherit;
  font-style: normal;
  line-height: unset;
  letter-spacing: 0em;
  font-weight: 700;
  font-family: raleway-v2, sans-serif;
  font-size: 16px;
  color: #022d36;
}

#comp-mbs1z7hu1 .style-mbumue58__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  fill: #ffffff;
  display: none;
}

#comp-mbs1z7hu1 .style-mbumue58__root:hover .StylableButton2545352419__icon {
  fill: #2f2e2e;
}
