#hxib1 {
  width: auto;
  min-height: 40px;
}
#pageBackground_hxib1 {
  --bg-position: absolute;
  --bg-overlay-color: rgb(204, 0, 0);
  --bg-gradient: none;
}
#comp-m7yu5pfz {
  --bg-overlay-color: rgb(19, 71, 114);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m7yu5pg51 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-m7yu5pg95 {
  --fill-layer-image-opacity: 1;
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  width: 100%;
  --column-width: 676px;
  --column-flex: 676;
}
#comp-m7yu5pgc2 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 304px;
  --column-flex: 304;
}
#comp-m7yu5pgd2 {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-m7yu5pgh3 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-m7yu5pgi1 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 491px;
  --column-flex: 491;
}
#comp-m7yu5pgj3 {
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  width: 100%;
  --column-width: 489px;
  --column-flex: 489;
}
#comp-m7yu5pgk2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m7yuz9pu {
  --min-height: 273px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lmylf8p71 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lmynxvnw {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-lmynxvp93 {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-lmynxvpa5 {
  --min-height: 32px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mh3i8z7d {
  --text-direction: var(--wix-opt-in-direction);
}
.comp-mh3ax42p {
  --wix-direction: ltr;
  --inputBorderRadius: 20;
  --submitButtonStyle: 3;
  --submitButtonBorderRadius: 100;
  --horizontalPadding: 24;
  --verticalPadding: 24;
  --rowSpacing: 24;
  --columnSpacing: 24;
  --borderWidth: 0;
  --borderRadius: 0;
  --shadowAngle: 135;
  --shadowDistance: 0;
  --shadowSize: 0;
  --shadowBlur: 25;
  --buttonsStyle: 2;
  --buttonsBorderWidth: 0;
  --buttonsBorderRadius: 0;
  --submitButtonBorderWidth: 0;
  --nextButtonStyle: 2;
  --nextButtonBorderWidth: 0;
  --nextButtonBorderRadius: 0;
  --previousButtonStyle: 2;
  --previousButtonBorderWidth: 1;
  --previousButtonBorderRadius: 0;
  --inputBorderStyle: 1;
  --inputBorderWidth: 1;
  --buttonsFontHover: normal normal normal 16px/16px montserrat, sans-serif;
  --submitButtonFontHover: normal normal normal 16px/1.4em montserrat, sans-serif;
  --nextButtonFont: normal normal normal 16px/1.4em montserrat, sans-serif;
  --nextButtonFontHover: normal normal normal 16px/1.4em montserrat, sans-serif;
  --previousButtonFont: normal normal normal 16px/1.4em montserrat, sans-serif;
  --previousButtonFontHover: normal normal normal 16px/1.4em montserrat, sans-serif;
  --headerOneFont: normal normal normal 28px/1.4em montserrat, sans-serif;
  --headerTwoFont: normal normal normal 22px/1.4em montserrat, sans-serif;
  --paragraphFont: normal normal normal 18px/1.4em montserrat, sans-serif;
  --inputNoteFont: normal normal normal 14px/1.4em montserrat, sans-serif;
  --thankYouMessageFont: normal normal normal 18px/1.4em montserrat, sans-serif;
  --submitButtonBorderColor: 255, 255, 255, 0;
  --submitButtonBorderColor-rgb: 255, 255, 255;
  --submitButtonBorderColor-opacity: 0;
  --submitButtonBackgroundColor: 208, 2, 27;
  --submitButtonBackgroundColor-rgb: 208, 2, 27;
  --submitButtonBackgroundColor-opacity: 1;
  --formBackground: 255, 255, 255;
  --formBackground-rgb: 255, 255, 255;
  --formBackground-opacity: 1;
  --borderColor: 51, 52, 63, 0;
  --borderColor-rgb: 51, 52, 63;
  --borderColor-opacity: 0;
  --shadowColor: 51, 52, 63, 0.15;
  --shadowColor-rgb: 51, 52, 63;
  --shadowColor-opacity: 0.15;
  --buttonsColor: 255, 255, 255;
  --buttonsColor-rgb: 255, 255, 255;
  --buttonsColor-opacity: 1;
  --buttonsBackgroundColor: 51, 52, 63;
  --buttonsBackgroundColor-rgb: 51, 52, 63;
  --buttonsBackgroundColor-opacity: 1;
  --buttonsBorderColor: 255, 255, 255, 0;
  --buttonsBorderColor-rgb: 255, 255, 255;
  --buttonsBorderColor-opacity: 0;
  --buttonsColorHover: 255, 255, 255;
  --buttonsColorHover-rgb: 255, 255, 255;
  --buttonsColorHover-opacity: 1;
  --buttonsBackgroundColorHover: 51, 52, 63, 0.7;
  --buttonsBackgroundColorHover-rgb: 51, 52, 63;
  --buttonsBackgroundColorHover-opacity: 0.7;
  --submitButtonColor: 255, 255, 255;
  --submitButtonColor-rgb: 255, 255, 255;
  --submitButtonColor-opacity: 1;
  --submitButtonColorHover: 255, 255, 255;
  --submitButtonColorHover-rgb: 255, 255, 255;
  --submitButtonColorHover-opacity: 1;
  --submitButtonBackgroundColorHover: 51, 52, 63, 0.7;
  --submitButtonBackgroundColorHover-rgb: 51, 52, 63;
  --submitButtonBackgroundColorHover-opacity: 0.7;
  --submitButtonBorderColorHover: 255, 255, 255, 0;
  --submitButtonBorderColorHover-rgb: 255, 255, 255;
  --submitButtonBorderColorHover-opacity: 0;
  --nextButtonColor: 255, 255, 255;
  --nextButtonColor-rgb: 255, 255, 255;
  --nextButtonColor-opacity: 1;
  --nextButtonBackgroundColor: 51, 52, 63;
  --nextButtonBackgroundColor-rgb: 51, 52, 63;
  --nextButtonBackgroundColor-opacity: 1;
  --nextButtonBorderColor: 255, 255, 255, 0;
  --nextButtonBorderColor-rgb: 255, 255, 255;
  --nextButtonBorderColor-opacity: 0;
  --nextButtonColorHover: 255, 255, 255;
  --nextButtonColorHover-rgb: 255, 255, 255;
  --nextButtonColorHover-opacity: 1;
  --nextButtonBackgroundColorHover: 51, 52, 63, 0.7;
  --nextButtonBackgroundColorHover-rgb: 51, 52, 63;
  --nextButtonBackgroundColorHover-opacity: 0.7;
  --nextButtonBorderColorHover: 255, 255, 255, 0;
  --nextButtonBorderColorHover-rgb: 255, 255, 255;
  --nextButtonBorderColorHover-opacity: 0;
  --previousButtonColor: 51, 52, 63;
  --previousButtonColor-rgb: 51, 52, 63;
  --previousButtonColor-opacity: 1;
  --previousButtonBackgroundColor: 51, 52, 63, 0;
  --previousButtonBackgroundColor-rgb: 51, 52, 63;
  --previousButtonBackgroundColor-opacity: 0;
  --previousButtonBorderColor: 51, 52, 63;
  --previousButtonBorderColor-rgb: 51, 52, 63;
  --previousButtonBorderColor-opacity: 1;
  --previousButtonColorHover: 255, 255, 255;
  --previousButtonColorHover-rgb: 255, 255, 255;
  --previousButtonColorHover-opacity: 1;
  --previousButtonBackgroundColorHover: 51, 52, 63, 0.7;
  --previousButtonBackgroundColorHover-rgb: 51, 52, 63;
  --previousButtonBackgroundColorHover-opacity: 0.7;
  --previousButtonBorderColorHover: 255, 255, 255, 0;
  --previousButtonBorderColorHover-rgb: 255, 255, 255;
  --previousButtonBorderColorHover-opacity: 0;
  --headerOneColor: 51, 52, 63;
  --headerOneColor-rgb: 51, 52, 63;
  --headerOneColor-opacity: 1;
  --headerTwoColor: 51, 52, 63;
  --headerTwoColor-rgb: 51, 52, 63;
  --headerTwoColor-opacity: 1;
  --paragraphColor: 51, 52, 63;
  --paragraphColor-rgb: 51, 52, 63;
  --paragraphColor-opacity: 1;
  --inputBackgroundColor: 255, 255, 255;
  --inputBackgroundColor-rgb: 255, 255, 255;
  --inputBackgroundColor-opacity: 1;
  --inputBackgroundColorHover: 255, 255, 255;
  --inputBackgroundColorHover-rgb: 255, 255, 255;
  --inputBackgroundColorHover-opacity: 1;
  --inputBorderColor: 51, 52, 63, 0.6;
  --inputBorderColor-rgb: 51, 52, 63;
  --inputBorderColor-opacity: 0.6;
  --inputBorderColorHover: 51, 52, 63;
  --inputBorderColorHover-rgb: 51, 52, 63;
  --inputBorderColorHover-opacity: 1;
  --inputLabelColor: 51, 52, 63;
  --inputLabelColor-rgb: 51, 52, 63;
  --inputLabelColor-opacity: 1;
  --inputValueColor: 51, 52, 63;
  --inputValueColor-rgb: 51, 52, 63;
  --inputValueColor-opacity: 1;
  --inputOptionColor: 51, 52, 63;
  --inputOptionColor-rgb: 51, 52, 63;
  --inputOptionColor-opacity: 1;
  --inputNoteColor: 102, 103, 111;
  --inputNoteColor-rgb: 102, 103, 111;
  --inputNoteColor-opacity: 1;
  --inputPlaceholderColor: 102, 103, 111;
  --inputPlaceholderColor-rgb: 102, 103, 111;
  --inputPlaceholderColor-opacity: 1;
  --inputSelectionColor: 51, 52, 63;
  --inputSelectionColor-rgb: 51, 52, 63;
  --inputSelectionColor-opacity: 1;
  --linkColor: 51, 52, 63;
  --linkColor-rgb: 51, 52, 63;
  --linkColor-opacity: 1;
  --thankYouMessageColor: 51, 52, 63;
  --thankYouMessageColor-rgb: 51, 52, 63;
  --thankYouMessageColor-opacity: 1;
  --inputErrorColor: 223, 49, 49;
  --inputErrorColor-rgb: 223, 49, 49;
  --inputErrorColor-opacity: 1;
  --inputValueFont:
    normal normal normal 14px/17px wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65, wf_3f0d4ffb6bdc4c1cb6dc005c9,
    orig_inter_regular;
  --inputValueFont-style: normal;
  --inputValueFont-variant: normal;
  --inputValueFont-weight: normal;
  --inputValueFont-size: 14px;
  --inputValueFont-line-height: 17px;
  --inputValueFont-family:
    wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65, wf_3f0d4ffb6bdc4c1cb6dc005c9, orig_inter_regular;
  --inputValueFont-text-decoration: none;
  --submitButtonFont:
    normal normal 700 18px/22px wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65, wf_3f0d4ffb6bdc4c1cb6dc005c9,
    orig_inter_regular;
  --submitButtonFont-style: normal;
  --submitButtonFont-variant: normal;
  --submitButtonFont-weight: 700;
  --submitButtonFont-size: 18px;
  --submitButtonFont-line-height: 22px;
  --submitButtonFont-family:
    wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65, wf_3f0d4ffb6bdc4c1cb6dc005c9, orig_inter_regular;
  --submitButtonFont-text-decoration: none;
  --inputLabelFont:
    normal normal normal 14px/17px wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65, wf_3f0d4ffb6bdc4c1cb6dc005c9,
    orig_inter_regular;
  --inputLabelFont-style: normal;
  --inputLabelFont-variant: normal;
  --inputLabelFont-weight: normal;
  --inputLabelFont-size: 14px;
  --inputLabelFont-line-height: 17px;
  --inputLabelFont-family:
    wfont_a3f637_3f0d4ffb6bdc4c1cb6dc005c9dadbf65, wf_3f0d4ffb6bdc4c1cb6dc005c9, orig_inter_regular;
  --inputLabelFont-text-decoration: none;
  --buttonsFontHover-style: normal;
  --buttonsFontHover-variant: normal;
  --buttonsFontHover-weight: normal;
  --buttonsFontHover-size: 16px;
  --buttonsFontHover-line-height: 16px;
  --buttonsFontHover-family: montserrat, sans-serif;
  --buttonsFontHover-text-decoration: none;
  --submitButtonFontHover-style: normal;
  --submitButtonFontHover-variant: normal;
  --submitButtonFontHover-weight: normal;
  --submitButtonFontHover-size: 16px;
  --submitButtonFontHover-line-height: 1.4em;
  --submitButtonFontHover-family: montserrat, sans-serif;
  --submitButtonFontHover-text-decoration: none;
  --nextButtonFont-style: normal;
  --nextButtonFont-variant: normal;
  --nextButtonFont-weight: normal;
  --nextButtonFont-size: 16px;
  --nextButtonFont-line-height: 1.4em;
  --nextButtonFont-family: montserrat, sans-serif;
  --nextButtonFont-text-decoration: none;
  --nextButtonFontHover-style: normal;
  --nextButtonFontHover-variant: normal;
  --nextButtonFontHover-weight: normal;
  --nextButtonFontHover-size: 16px;
  --nextButtonFontHover-line-height: 1.4em;
  --nextButtonFontHover-family: montserrat, sans-serif;
  --nextButtonFontHover-text-decoration: none;
  --previousButtonFont-style: normal;
  --previousButtonFont-variant: normal;
  --previousButtonFont-weight: normal;
  --previousButtonFont-size: 16px;
  --previousButtonFont-line-height: 1.4em;
  --previousButtonFont-family: montserrat, sans-serif;
  --previousButtonFont-text-decoration: none;
  --previousButtonFontHover-style: normal;
  --previousButtonFontHover-variant: normal;
  --previousButtonFontHover-weight: normal;
  --previousButtonFontHover-size: 16px;
  --previousButtonFontHover-line-height: 1.4em;
  --previousButtonFontHover-family: montserrat, sans-serif;
  --previousButtonFontHover-text-decoration: none;
  --headerOneFont-style: normal;
  --headerOneFont-variant: normal;
  --headerOneFont-weight: normal;
  --headerOneFont-size: 28px;
  --headerOneFont-line-height: 1.4em;
  --headerOneFont-family: montserrat, sans-serif;
  --headerOneFont-text-decoration: none;
  --headerTwoFont-style: normal;
  --headerTwoFont-variant: normal;
  --headerTwoFont-weight: normal;
  --headerTwoFont-size: 22px;
  --headerTwoFont-line-height: 1.4em;
  --headerTwoFont-family: montserrat, sans-serif;
  --headerTwoFont-text-decoration: none;
  --paragraphFont-style: normal;
  --paragraphFont-variant: normal;
  --paragraphFont-weight: normal;
  --paragraphFont-size: 18px;
  --paragraphFont-line-height: 1.4em;
  --paragraphFont-family: montserrat, sans-serif;
  --paragraphFont-text-decoration: none;
  --inputNoteFont-style: normal;
  --inputNoteFont-variant: normal;
  --inputNoteFont-weight: normal;
  --inputNoteFont-size: 14px;
  --inputNoteFont-line-height: 1.4em;
  --inputNoteFont-family: montserrat, sans-serif;
  --inputNoteFont-text-decoration: none;
  --thankYouMessageFont-style: normal;
  --thankYouMessageFont-variant: normal;
  --thankYouMessageFont-weight: normal;
  --thankYouMessageFont-size: 18px;
  --thankYouMessageFont-line-height: 1.4em;
  --thankYouMessageFont-family: montserrat, sans-serif;
  --thankYouMessageFont-text-decoration: none;
  --inputBorderLeftWidth: 1;
  --inputBorderRightWidth: 1;
  --inputBorderTopWidth: 1;
  --inputBorderBottomWidth: 1;
  --wix-color-1: 255, 255, 255;
  --wix-color-2: 182, 182, 184;
  --wix-color-3: 153, 154, 159;
  --wix-color-4: 102, 103, 111;
  --wix-color-5: 51, 52, 63;
  --wix-color-6: 182, 183, 196;
  --wix-color-7: 110, 112, 136;
  --wix-color-8: 51, 52, 63;
  --wix-color-9: 34, 35, 42;
  --wix-color-10: 17, 17, 21;
  --wix-color-11: 215, 215, 225;
  --wix-color-12: 174, 175, 194;
  --wix-color-13: 134, 135, 164;
  --wix-color-14: 97, 99, 129;
  --wix-color-15: 102, 103, 111;
  --wix-color-16: 251, 251, 251;
  --wix-color-17: 182, 182, 184;
  --wix-color-18: 185, 185, 185;
  --wix-color-19: 124, 124, 124;
  --wix-color-20: 62, 62, 62;
  --wix-color-21: 252, 222, 147;
  --wix-color-22: 248, 189, 38;
  --wix-color-23: 208, 151, 7;
  --wix-color-24: 139, 101, 4;
  --wix-color-25: 69, 50, 2;
  --wix-color-26: 255, 255, 255;
  --wix-color-27: 51, 52, 63;
  --wix-color-28: 182, 182, 184;
  --wix-color-29: 153, 154, 159;
  --wix-color-30: 102, 103, 111;
  --wix-color-31: 239, 239, 239;
  --wix-color-32: 40, 38, 38;
  --wix-color-33: 233, 226, 215;
  --wix-color-34: 203, 200, 194;
  --wix-color-35: 51, 52, 63;
  --wix-color-36: 51, 52, 63;
  --wix-color-37: 102, 103, 111;
  --wix-color-38: 51, 52, 63;
  --wix-color-39: 51, 52, 63;
  --wix-color-40: 255, 255, 255;
  --wix-color-41: 255, 255, 255;
  --wix-color-42: 51, 52, 63;
  --wix-color-43: 51, 52, 63;
  --wix-color-44: 153, 154, 159;
  --wix-color-45: 153, 154, 159;
  --wix-color-46: 255, 255, 255;
  --wix-color-47: 255, 255, 255;
  --wix-color-48: 51, 52, 63;
  --wix-color-49: 51, 52, 63;
  --wix-color-50: 51, 52, 63;
  --wix-color-51: 51, 52, 63;
  --wix-color-52: 255, 255, 255;
  --wix-color-53: 255, 255, 255;
  --wix-color-54: 153, 154, 159;
  --wix-color-55: 153, 154, 159;
  --wix-font-Title: normal normal normal 88px/1.2em montserrat, sans-serif;
  --wix-font-Title-style: normal;
  --wix-font-Title-variant: normal;
  --wix-font-Title-weight: normal;
  --wix-font-Title-size: 88px;
  --wix-font-Title-line-height: 1.2em;
  --wix-font-Title-family: montserrat, sans-serif;
  --wix-font-Title-text-decoration: none;
  --wix-font-Menu: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Menu-style: normal;
  --wix-font-Menu-variant: normal;
  --wix-font-Menu-weight: normal;
  --wix-font-Menu-size: 14px;
  --wix-font-Menu-line-height: 1.79em;
  --wix-font-Menu-family: avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Menu-text-decoration: none;
  --wix-font-Page-title: normal normal normal 72px/1.25em montserrat, sans-serif;
  --wix-font-Page-title-style: normal;
  --wix-font-Page-title-variant: normal;
  --wix-font-Page-title-weight: normal;
  --wix-font-Page-title-size: 72px;
  --wix-font-Page-title-line-height: 1.25em;
  --wix-font-Page-title-family: montserrat, sans-serif;
  --wix-font-Page-title-text-decoration: none;
  --wix-font-Heading-XL: normal normal normal 50px/1.34em montserrat, sans-serif;
  --wix-font-Heading-XL-style: normal;
  --wix-font-Heading-XL-variant: normal;
  --wix-font-Heading-XL-weight: normal;
  --wix-font-Heading-XL-size: 50px;
  --wix-font-Heading-XL-line-height: 1.34em;
  --wix-font-Heading-XL-family: montserrat, sans-serif;
  --wix-font-Heading-XL-text-decoration: none;
  --wix-font-Heading-L: normal normal normal 40px/1.35em montserrat, sans-serif;
  --wix-font-Heading-L-style: normal;
  --wix-font-Heading-L-variant: normal;
  --wix-font-Heading-L-weight: normal;
  --wix-font-Heading-L-size: 40px;
  --wix-font-Heading-L-line-height: 1.35em;
  --wix-font-Heading-L-family: montserrat, sans-serif;
  --wix-font-Heading-L-text-decoration: none;
  --wix-font-Heading-M: normal normal normal 28px/1.38em montserrat, sans-serif;
  --wix-font-Heading-M-style: normal;
  --wix-font-Heading-M-variant: normal;
  --wix-font-Heading-M-weight: normal;
  --wix-font-Heading-M-size: 28px;
  --wix-font-Heading-M-line-height: 1.38em;
  --wix-font-Heading-M-family: montserrat, sans-serif;
  --wix-font-Heading-M-text-decoration: none;
  --wix-font-Heading-S: normal normal normal 22px/1.41em montserrat, sans-serif;
  --wix-font-Heading-S-style: normal;
  --wix-font-Heading-S-variant: normal;
  --wix-font-Heading-S-weight: normal;
  --wix-font-Heading-S-size: 22px;
  --wix-font-Heading-S-line-height: 1.41em;
  --wix-font-Heading-S-family: montserrat, sans-serif;
  --wix-font-Heading-S-text-decoration: none;
  --wix-font-Body-L: normal normal normal 20px/1.67em montserrat, sans-serif;
  --wix-font-Body-L-style: normal;
  --wix-font-Body-L-variant: normal;
  --wix-font-Body-L-weight: normal;
  --wix-font-Body-L-size: 20px;
  --wix-font-Body-L-line-height: 1.67em;
  --wix-font-Body-L-family: montserrat, sans-serif;
  --wix-font-Body-L-text-decoration: none;
  --wix-font-Body-M: normal normal normal 18px/1.75em montserrat, sans-serif;
  --wix-font-Body-M-style: normal;
  --wix-font-Body-M-variant: normal;
  --wix-font-Body-M-weight: normal;
  --wix-font-Body-M-size: 18px;
  --wix-font-Body-M-line-height: 1.75em;
  --wix-font-Body-M-family: montserrat, sans-serif;
  --wix-font-Body-M-text-decoration: none;
  --wix-font-Body-S: normal normal normal 15px/1.88em montserrat, sans-serif;
  --wix-font-Body-S-style: normal;
  --wix-font-Body-S-variant: normal;
  --wix-font-Body-S-weight: normal;
  --wix-font-Body-S-size: 15px;
  --wix-font-Body-S-line-height: 1.88em;
  --wix-font-Body-S-family: montserrat, sans-serif;
  --wix-font-Body-S-text-decoration: none;
  --wix-font-Body-XS: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Body-XS-style: normal;
  --wix-font-Body-XS-variant: normal;
  --wix-font-Body-XS-weight: normal;
  --wix-font-Body-XS-size: 14px;
  --wix-font-Body-XS-line-height: 1.79em;
  --wix-font-Body-XS-family: avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Body-XS-text-decoration: none;
  --wix-font-LIGHT: normal normal normal 12px/1.4em HelveticaNeueW01-45Ligh;
  --wix-font-LIGHT-style: normal;
  --wix-font-LIGHT-variant: normal;
  --wix-font-LIGHT-weight: normal;
  --wix-font-LIGHT-size: 12px;
  --wix-font-LIGHT-line-height: 1.4em;
  --wix-font-LIGHT-family: HelveticaNeueW01-45Ligh;
  --wix-font-LIGHT-text-decoration: none;
  --wix-font-MEDIUM: normal normal normal 12px/1.4em HelveticaNeueW01-55Roma;
  --wix-font-MEDIUM-style: normal;
  --wix-font-MEDIUM-variant: normal;
  --wix-font-MEDIUM-weight: normal;
  --wix-font-MEDIUM-size: 12px;
  --wix-font-MEDIUM-line-height: 1.4em;
  --wix-font-MEDIUM-family: HelveticaNeueW01-55Roma;
  --wix-font-MEDIUM-text-decoration: none;
  --wix-font-STRONG: normal normal normal 12px/1.4em HelveticaNeueW01-65Medi;
  --wix-font-STRONG-style: normal;
  --wix-font-STRONG-variant: normal;
  --wix-font-STRONG-weight: normal;
  --wix-font-STRONG-size: 12px;
  --wix-font-STRONG-line-height: 1.4em;
  --wix-font-STRONG-family: HelveticaNeueW01-65Medi;
  --wix-font-STRONG-text-decoration: none;
}
