#izzed {
  width: auto;
  min-height: 40px;
}
#pageBackground_izzed {
  --bg-position: absolute;
  --bg-overlay-color: rgb(232, 230, 230);
  --bg-gradient: none;
}
#comp-lth6ypc31 {
  --bg-overlay-color: rgb(255, 255, 255);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lth6ypci4 {
  --height: 62px;
  --width: 154px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
#comp-lth6ypcj5 {
  --height: 50px;
  --width: 137px;
}
#comp-lth6ypcn2 {
  --divider-bottom-image: url("data:image/svg+xml,%3Csvg id='comp-lth6ypcn2-bottom' preserveAspectRatio='none' data-bbox='0 100 1920 200' viewBox='0 100 1920 200' height='100%25' width='100%25' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cdefs%3E%3Cstyle%3E%23comp-lth6ypcn2-bottom %7B fill: %23FFFFFF; %7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cpath d='M1920 300 0 100v200h1920z'/%3E%3C/g%3E%3C/svg%3E");
  --divider-bottom-size: 100% 100%;
  --divider-bottom-height: 128px;
  --divider-bottom-offset-x: 0px;
  --divider-bottom-padding: 0px;
  --divider-bottom-color: #ffffff;
  --divider-bottom-opacity: 1;
  --divider-bottom-flip: scale(-1, 1);
  --divider-bottom-layers-size: 0;
  --divider-bottom-layers-pin-factor: 0;
  --divider-bottom-filter: none;
  --divider-bottom-layer-1-display: none;
  --divider-bottom-layer-2-display: none;
  --divider-bottom-layer-3-display: none;
  --bg-overlay-color: rgb(0, 199, 209);
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-lth6ypcp6 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-lth6ypcr {
  --min-height: 71px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth6ypcs1 {
  --min-height: 28px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth6ypct1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth7366f {
  --shc-mutated-brightness: 0, 42, 54;
}
#comp-lth6ypcz3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth6ypdj4 {
  --bg-overlay-color: rgb(255, 255, 255);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lth6ypdl5 {
  --min-height: 100px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth6ypdm6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth6ypdp4 {
  --bg-overlay-color: rgb(0, 199, 209);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lth6ypdq3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth6ypdr1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth7bjp7 {
  --bg-overlay-color: rgb(0, 84, 108);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lth7bjqb6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth7bjqc5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth6ypds7 {
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lth6ypdt6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth6ypdu3 {
  --bg-overlay-color: rgb(50, 50, 50);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lth6ypdv8 {
  --height: 45px;
  --width: 122px;
}
#comp-lth6ypdw4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth6ypdx6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth6ype01 {
  --item-size: 39px;
  --item-margin-block: 0;
  --item-margin-inline: 0px 10px;
  --item-display: inline-block;
  --direction: var(--wix-opt-in-direction, ltr);
  width: 235px;
  height: 39px;
}
