/* END STYLABLE DIRECTIVE RULES */

#comp-ltmy0s6m .style-ltmy7x7p__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  background: rgba(51, 52, 63, 0);
  border: 1px solid #512836;
  border-radius: 50px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-ltmy0s6m .style-ltmy7x7p__root:hover {
  border: 1px solid #33343f;
  background: rgb(81, 40, 54);
}

#comp-ltmy0s6m .style-ltmy7x7p__root:hover .StylableButton2545352419__label {
  color: #ffffff;
}

#comp-ltmy0s6m .style-ltmy7x7p__root:disabled {
  background: #e2e2e2;
}

#comp-ltmy0s6m .style-ltmy7x7p__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-ltmy0s6m .style-ltmy7x7p__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-ltmy0s6m .style-ltmy7x7p__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#comp-ltmy0s6m .style-ltmy7x7p__root .StylableButton2545352419__label {
  transition: inherit;
  font-family: futura-lt-w01-book, sans-serif;
  margin: 0px 4px 0px 0px;
  color: #512836;
  letter-spacing: 0em;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  display: initial;
  margin-right: 0px;
  margin-left: 4px;
}

#comp-ltmy0s6m .style-ltmy7x7p__root .StylableButton2545352419__icon {
  transition: inherit;
  margin: 0px 0px 0px 4px;
  display: initial;
  fill: #512836;
  width: 30px;
  height: 30px;
  margin-left: 0px;
  margin-right: 4px;
}

#comp-ltmy0s6m .style-ltmy7x7p__root:hover .StylableButton2545352419__icon {
  fill: #33343f;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-ltmy0s6m .style-ltmy7x7p__root .StylableButton2545352419__icon {
    width: 25px;
    height: 25px;
  }
  #comp-ltmy0s6m .style-ltmy7x7p__root .StylableButton2545352419__label {
    font-size: 18px;
    font-size: 14px;
  }
} /* END STYLABLE DIRECTIVE RULES */

#comp-ltihfudd .style-ltmy8cnb__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  background: rgba(51, 52, 63, 0);
  border: 1px solid #512836;
  border-radius: 50px;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-ltihfudd .style-ltmy8cnb__root:hover {
  border: 1px solid #33343f;
  background: rgb(81, 40, 54);
}

#comp-ltihfudd .style-ltmy8cnb__root:hover .StylableButton2545352419__label {
  color: #ffffff;
}

#comp-ltihfudd .style-ltmy8cnb__root:disabled {
  background: #e2e2e2;
}

#comp-ltihfudd .style-ltmy8cnb__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-ltihfudd .style-ltmy8cnb__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-ltihfudd .style-ltmy8cnb__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-ltihfudd .style-ltmy8cnb__root .StylableButton2545352419__label {
  transition: inherit;
  font-family: futura-lt-w01-book, sans-serif;
  margin: 0px 4px 0px 0px;
  color: #512836;
  letter-spacing: 0em;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#comp-ltihfudd .style-ltmy8cnb__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-ltihfudd .style-ltmy8cnb__root:hover .StylableButton2545352419__icon {
  fill: #33343f;
}

@media screen and (min-width: 1px) and (max-width: 0px) {
  #comp-ltihfudd .style-ltmy8cnb__root .StylableButton2545352419__label {
    font-size: 18px;
    font-size: 14px;
  }
}
