#uf8q2 {
  width: auto;
  min-height: 40px;
}
#pageBackground_uf8q2 {
  --bg-position: absolute;
  --bg-overlay-color: rgb(232, 230, 230);
  --bg-gradient: none;
}
#comp-lqmhezi6 {
  --fill-layer-image-opacity: 1;
  --bg-overlay-color: rgb(31, 14, 119);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lqmhezij1 {
  --height: 56px;
  --width: 155px;
}
#comp-lqmhezim {
  --min-height: 80px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezio {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezio6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezip5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhhnzv {
  --fnt: normal normal normal 15px/1.88em montserrat, sans-serif;
  --fntlbl: normal normal normal 15px/1.88em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 20px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 44px;
}
#comp-lqmhho04 {
  --fnt: normal normal normal 15px/1.88em montserrat, sans-serif;
  --fntlbl: normal normal normal 15px/1.88em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 20px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 44px;
}
#comp-lqmhho061 {
  --fnt: normal normal normal 15px/1.88em montserrat, sans-serif;
  --fntlbl: normal normal normal 15px/1.88em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 20px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 44px;
}
#comp-lqmhho0d {
  --checkboxSize: 18px;
  --fnt: normal normal normal 12px/1.88em montserrat, sans-serif;
  --checkmarkMargin_start: -18px;
  --labelMargin_start: 11px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-lqmhho0h1 {
  --checkboxSize: 18px;
  --fnt: normal normal normal 12px/1.88em montserrat, sans-serif;
  --checkmarkMargin_start: -18px;
  --labelMargin_start: 11px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-lqmhho0j1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhho0l {
  --shc-mutated-brightness: 116, 15, 62;
  --margin-start: 0px;
  --margin-end: 0px;
  --fnt: normal normal normal 14px/1.75em montserrat, sans-serif;
  direction: var(--wix-opt-in-direction, ltr);
  --label-align: center;
  --label-text-align: center;
}
#comp-lqmheziq3 {
  --bg-overlay-color: rgb(232, 30, 124);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lqmhezir4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezis {
  --height: 198px;
  --width: 135px;
}
#comp-lqmhezis5 {
  --height: 198px;
  --width: 135px;
}
#comp-lqmhezit4 {
  --height: 198px;
  --width: 206px;
}
#comp-lqmheziu1 {
  --height: 198px;
  --width: 135px;
}
#comp-lqmheziu6 {
  --height: 198px;
  --width: 135px;
}
#comp-lqmheziv4 {
  --bg-overlay-color: rgb(255, 255, 255);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lqmheziw7 {
  --min-height: 80px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezix4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmheziy2 {
  --height: 62px;
  --width: 60px;
}
#comp-lqmheziz1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmheziz7 {
  --height: 62px;
  --width: 60px;
}
#comp-lqmhezj04 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezj11 {
  --height: 63px;
  --width: 60px;
}
#comp-lqmhezj17 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezj25 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezj4 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #053e25;
  --stroke-opacity: 1;
  --fill: #e81e7c;
}
#comp-lqmhezj74 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezj82 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezjb3 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #053e25;
  --stroke-opacity: 1;
  --fill: #e81e7c;
}
#comp-lqmhezjc3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezjd {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezje3 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #053e25;
  --stroke-opacity: 1;
  --fill: #e81e7c;
}
#comp-lqmhezjf4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezjg2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezjh4 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #053e25;
  --stroke-opacity: 1;
  --fill: #e81e7c;
}
#comp-lqmhezji6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezjj4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezjk4 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #053e25;
  --stroke-opacity: 1;
  --fill: #e81e7c;
}
#comp-lqmhezjl6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezjm2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezjn4 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #053e25;
  --stroke-opacity: 1;
  --fill: #e81e7c;
}
#comp-lqmhezjo4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezjp {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezjq {
  --bg-overlay-color: rgb(232, 30, 124);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lqmhvsrw {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmhezjt {
  --bg-overlay-color: rgb(31, 14, 119);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lqmi0nb4 {
  --height: 45px;
  --width: 123px;
}
#comp-lqmi0nb7 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmi0nba {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lqmi0nbf {
  --height: 60px;
  --width: 130px;
}
#comp-lqmi0nbk {
  --height: 60px;
  --width: 80px;
}
#comp-lqmi0nbn {
  --height: 70px;
  --width: 163px;
}
#comp-mfma9tm4 {
  --item-size: 32px;
  --item-margin-block: 0;
  --item-margin-inline: 0px 8px;
  --item-display: inline-block;
  --direction: var(--wix-opt-in-direction, ltr);
  width: 152px;
  height: 32px;
}
#comp-lqmi0nbv {
  --text-direction: var(--wix-opt-in-direction);
}
