#kjy2o {
  width: auto;
  min-height: 40px;
}
#pageBackground_kjy2o {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
}
#comp-md8mwecp {
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-mejx1x0y {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwecv {
  --shc-mutated-brightness: 128, 128, 128;
}
#comp-md8mwecx1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwecz1 {
  --height: 62px;
  --width: 62px;
}
#comp-ml53kodl {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml53kodp {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml53kodw {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml53koe0 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ml53kodt {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwed98 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedb2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedc1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedc8 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedd6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwede4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedf8 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedg6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedi6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedj4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedk1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedl1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedm6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedn6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedo2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedp1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedq1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedr {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedr7 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mweds6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedt5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedu1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedv {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedv7 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedw5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-me9sf7so {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedx1 {
  --fntlbl: normal normal 700 16px/1.2em helvetica-w01-roman, sans-serif;
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --align: start;
  --textPaddingTop: 3px;
  --textPaddingStart: 16px;
  --textPaddingEnd: 10px;
  --labelMarginBottom: 14px;
  --requiredIndicationDisplay: inline;
  --labelPadding_start: 0px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 68px;
}
#comp-md8mwedy6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwedz6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-md8mwee02 {
  --checkboxSize: 18px;
  --fnt: normal normal normal 16px/1.2em helvetica-w01-roman, sans-serif;
  --checkmarkMargin_start: -18px;
  --labelMargin_start: 13px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-md8mwee16 {
  --checkboxSize: 18px;
  --fnt: normal normal normal 16px/1.2em helvetica-w01-roman, sans-serif;
  --checkmarkMargin_start: -18px;
  --labelMargin_start: 13px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-mfkuamwo {
  --height: 98px;
  --width: 109px;
}
#comp-md8mwee26 {
  --text-direction: var(--wix-opt-in-direction);
}
