/* END STYLABLE DIRECTIVE RULES */

#comp-mcc2fs0b .style-mckrbdzc__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  background: #ffffff;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-mcc2fs0b .style-mckrbdzc__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-mcc2fs0b .style-mckrbdzc__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #33343f;
}

#comp-mcc2fs0b .style-mckrbdzc__root:disabled {
  background: #e2e2e2;
}

#comp-mcc2fs0b .style-mckrbdzc__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-mcc2fs0b .style-mckrbdzc__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-mcc2fs0b .style-mckrbdzc__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #33343f;
  display: none;
}

#comp-mcc2fs0b .style-mckrbdzc__root:hover .StylableButton2545352419__label {
  color: #66676f;
}

#comp-mcc2fs0b .style-mckrbdzc__root:hover .StylableButton2545352419__icon {
  fill: #66676f;
}
