#sbgdt {
  --param_boolean_previewHover: false;
}
#sbgdt {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
#masterPage {
  --pinned-layers-in-page: 0;
}
[data-mesh-id="ContainersbgdtinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="ContainersbgdtinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 40px;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
[data-mesh-id="ContainersbgdtinlineContent-gridContainer"] > [id="comp-lmyl0qpc"],
[data-mesh-id="ContainersbgdtinlineContent-gridContainer"] > interact-element > [id="comp-lmyl0qpc"] {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
#comp-lmyl0qpc {
  left: 0;
  margin-left: 0;
  width: 100%;
  min-width: 0;
}
[data-mesh-id="comp-lmyl0qpcinlineContent"] {
  height: auto;
  width: 100%;
}
[data-mesh-id="comp-lmyl0qpcinlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 2153px;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
[data-mesh-id="comp-lmyl0qpcinlineContent-gridContainer"] > [id="comp-lmyl0qpe"],
[data-mesh-id="comp-lmyl0qpcinlineContent-gridContainer"] > interact-element > [id="comp-lmyl0qpe"] {
  position: relative;
  margin: 67px 0px 44px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
[data-mesh-id="comp-lmyl0qpcinlineContent-gridContainer"] > [id="comp-lmyl0qpf"],
[data-mesh-id="comp-lmyl0qpcinlineContent-gridContainer"] > interact-element > [id="comp-lmyl0qpf"] {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
#comp-lmyl0qpe {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-lmyl0qpe {
  width: 979px;
  height: auto;
}
#comp-lmyl0qpf {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
}
#comp-lmyl0qpf {
  width: 979px;
  height: auto;
}
