#sbgdt {
  width: auto;
  min-height: 40px;
}
#pageBackground_sbgdt {
  --bg-position: absolute;
  --bg-overlay-color: rgb(204, 0, 0);
  --bg-gradient: none;
}
#comp-lmyl0qpc {
  --bg-overlay-color: rgb(var(--color_36));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lmyl0qpe {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lmyl0qpf {
  --text-direction: var(--wix-opt-in-direction);
}
