#mwl8s {
  width: auto;
  min-height: 40px;
}
#pageBackground_mwl8s {
  --bg-position: absolute;
  --bg-overlay-color: rgb(232, 230, 230);
  --bg-gradient: none;
}
#comp-lth21t541 {
  --bg-overlay-color: rgb(255, 255, 255);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lth21t6j1 {
  --height: 62px;
  --width: 154px;
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='20 20 160 160' viewBox='20 20 160 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M180 20v160H20V20h160z'/%3E%3C/g%3E%3C/svg%3E%0A");
  --mask-position: 0% 0%;
  --mask-size: 100% 100%;
  --mask-repeat: no-repeat;
}
#comp-lth21t5g5 {
  --height: 50px;
  --width: 137px;
}
#comp-lth21t58 {
  --divider-bottom-image: url("data:image/svg+xml,%3Csvg id='comp-lth21t58-bottom' preserveAspectRatio='none' data-bbox='0 100 1920 200' viewBox='0 100 1920 200' height='100%25' width='100%25' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cdefs%3E%3Cstyle%3E%23comp-lth21t58-bottom %7B fill: %23FFFFFF; %7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cpath d='M1920 300 0 100v200h1920z'/%3E%3C/g%3E%3C/svg%3E");
  --divider-bottom-size: 100% 100%;
  --divider-bottom-height: 285px;
  --divider-bottom-offset-x: 0px;
  --divider-bottom-padding: 0px;
  --divider-bottom-color: #ffffff;
  --divider-bottom-opacity: 1;
  --divider-bottom-flip: scale(-1, 1);
  --divider-bottom-layers-size: 0;
  --divider-bottom-layers-pin-factor: 0;
  --divider-bottom-filter: none;
  --divider-bottom-layer-1-display: none;
  --divider-bottom-layer-2-display: none;
  --divider-bottom-layer-3-display: none;
  --bg-overlay-color: rgb(0, 199, 209);
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-lth21t595 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-lth21t5h7 {
  --min-height: 71px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth21t5i6 {
  --min-height: 28px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-ltqynezw {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth21t5o1 {
  height: auto;
  --transition-duration: 1000ms;
  --transition-overflow: clip;
  --slides-overflow: visible;
  --nav-dot-section-display: none;
  --nav-button-display: none;
}
#comp-lth21t5q1 {
  position: relative;
  width: 100%;
  height: auto;
  --bg-overlay-color: rgb(0, 84, 108);
  --bg-gradient: none;
}
#comp-lth21t5r6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth21t611 {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 15px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 38px;
}
#comp-lth21t626 {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 15px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 38px;
}
#comp-lth21t641 {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 15px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 38px;
}
#comp-lth21t652 {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 15px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 38px;
}
#comp-lth21t663 {
  --checkboxSize: 18px;
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --checkmarkMargin_start: -18px;
  --labelMargin_start: 16px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-lth21t675 {
  --checkboxSize: 18px;
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --checkmarkMargin_start: -18px;
  --labelMargin_start: 16px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-lth21t686 {
  --shc-mutated-brightness: 128, 128, 128;
  --margin-start: 0px;
  --margin-end: 0px;
  --fnt: normal normal 700 14px/1.2em montserrat, sans-serif;
  direction: var(--wix-opt-in-direction, ltr);
  --label-align: center;
  --label-text-align: center;
}
#comp-lth21t6b6 {
  position: relative;
  width: 100%;
  height: auto;
  --bg-overlay-color: rgba(29, 103, 205, 0.15);
  --bg-gradient: none;
}
#comp-lth21t6d {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth21t6e2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth21t6q {
  --bg-overlay-color: rgb(255, 255, 255);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lth21t6t4 {
  --min-height: 100px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth21t6u5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth21t7w2 {
  --bg-overlay-color: rgb(0, 199, 209);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lth21t7x3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth6d61y {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth21t876 {
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lth21t887 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth21t898 {
  --bg-overlay-color: rgb(50, 50, 50);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lth21t8a8 {
  --height: 45px;
  --width: 122px;
}
#comp-lth21t8b7 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth21t8d4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lth21t8f10 {
  --item-size: 39px;
  --item-margin-block: 0;
  --item-margin-inline: 0px 10px;
  --item-display: inline-block;
  --direction: var(--wix-opt-in-direction, ltr);
  width: 235px;
  height: 39px;
}
