/* END STYLABLE DIRECTIVE RULES */

#comp-lsu7yike .style-m6jq4g5r__root {
  -st-extends: StylableButton;
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 30px;
  background: #cc0000;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lsu7yike .style-m6jq4g5r__root:hover {
  background: rgba(204, 0, 0, 0.7);
  border: 0px solid #33343f;
}

#comp-lsu7yike .style-m6jq4g5r__root:hover .StylableButton2545352419__label {
  color: #ffffff;
}

#comp-lsu7yike .style-m6jq4g5r__root:disabled {
  background: #e2e2e2;
}

#comp-lsu7yike .style-m6jq4g5r__root:disabled .StylableButton2545352419__label {
  color: #8f8f8f;
}

#comp-lsu7yike .style-m6jq4g5r__root:disabled .StylableButton2545352419__icon {
  fill: #8f8f8f;
}

#comp-lsu7yike .style-m6jq4g5r__root .StylableButton2545352419__container {
  transition: inherit;
}

#comp-lsu7yike .style-m6jq4g5r__root .StylableButton2545352419__label {
  transition: inherit;
  font-family: futura-lt-w01-book, sans-serif;
  margin: 0px 4px 0px 0px;
  color: #ffffff;
  letter-spacing: 0em;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}

#comp-lsu7yike .style-m6jq4g5r__root .StylableButton2545352419__icon {
  transition: inherit;
  width: 10px;
  height: 10px;
  margin: 0px 0px 0px 4px;
  fill: #ffffff;
  display: none;
}

#comp-lsu7yike .style-m6jq4g5r__root:hover .StylableButton2545352419__icon {
  fill: #33343f;
} /* END STYLABLE DIRECTIVE RULES */

#comp-lsvsnnqg .style-lwgmooa4__root {
  -st-extends: Tabs;
}

/* START STYLABLE DIRECTIVE RULES */

#comp-lsvsnnqg .style-lwgmooa4__root .Tabscomponent1176390459__tabsList .TabsList2027980309__tab {
  border-radius: 99px;
  box-shadow: 2.83px 2.83px 15px 3px rgba(0, 0, 0, 0);
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgb(211, 211, 218);
  font-size: 12px;
  font-weight: 400;
  font-family: montserrat, sans-serif;
}

#comp-lsvsnnqg
  .style-lwgmooa4__root
  .Tabscomponent1176390459__tabsList
  .TabsList2027980309__tab.TabsList2027980309--current {
  color: #ffffff;
  border-color: #cc0000;
  background-color: #cc0000;
}

#comp-lsvsnnqg .style-lwgmooa4__root .Tabscomponent1176390459__tabsList .TabsList2027980309__tab:hover {
  color: #cc0000;
  background-color: #ffffff;
  border-color: #cc0000;
}

#comp-lsvsnnqg .style-lwgmooa4__root .Tabscomponent1176390459__multiStateBoxWrapper {
  box-shadow: 2.83px 2.83px 15px 3px rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px;
  border: 0px solid rgb(230, 230, 230);
}

#comp-lsvsnnqg .style-lwgmooa4__root .Tabscomponent1176390459__tabsList {
  background-color: rgba(255, 255, 255, 0);
}
