#quxst {
  width: auto;
  min-height: 40px;
}
#pageBackground_quxst {
  --bg-position: absolute;
  --bg-overlay-color: rgb(232, 230, 230);
  --bg-gradient: none;
}
#comp-m1byhm7s {
  --bg-overlay-color: rgb(255, 255, 255);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m1byhm851 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-m1byhm896 {
  --fill-layer-image-opacity: 1;
  --bg-overlay-color: rgb(255, 185, 0);
  --bg-gradient: none;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-m1byoojr {
  --opacity: 1;
}
#comp-m1byhm8j1 {
  --min-height: 148px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhm8o1 {
  --min-height: 24px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1bz3yik {
  --opacity: 1;
}
#comp-m1byhm8v3 {
  height: auto;
  --transition-duration: 1000ms;
  --transition-overflow: clip;
  --slides-overflow: visible;
  --nav-dot-section-display: none;
  --nav-button-display: none;
}
#comp-m1byhm8y4 {
  position: relative;
  width: 100%;
  height: auto;
  --bg-overlay-color: transparent;
  --bg-gradient: none;
}
#comp-m1byqn6a {
  --shc-mutated-brightness: 122, 107, 0;
}
#comp-m1byhm90 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhm91 {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 15px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 38px;
}
#comp-m1byhm97 {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 15px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 38px;
}
#comp-m1byhm981 {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 10px;
  --textPadding: 3px;
  --textPadding_start: 15px;
  --textPadding_end: 3px;
  --labelPadding_start: 10px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 38px;
}
#comp-m1byhm995 {
  --checkboxSize: 18px;
  --fnt: normal normal normal 12px/1.2em montserrat, sans-serif;
  --checkmarkMargin_start: -18px;
  --labelMargin_start: 16px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-m1byhm9g1 {
  --checkboxSize: 18px;
  --fnt: normal normal normal 12px/1.2em montserrat, sans-serif;
  --checkmarkMargin_start: -18px;
  --labelMargin_start: 16px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-m1byhm9h2 {
  --shc-mutated-brightness: 128, 128, 128;
  --margin-start: 0px;
  --margin-end: 0px;
  --fnt: normal normal 700 14px/1.2em montserrat, sans-serif;
  direction: var(--wix-opt-in-direction, ltr);
  --label-align: center;
  --label-text-align: center;
}
#comp-m1byhm9l {
  position: relative;
  width: 100%;
  height: auto;
  --bg-overlay-color: transparent;
  --bg-gradient: none;
}
#comp-m1byhm9m {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #33343f;
  --stroke-opacity: 1;
  --fill: #f4d500;
}
#comp-m1byhm9p1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhm9r1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhm9t2 {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #ed1566;
  --stroke-opacity: 1;
  --fill: #282626;
}
#comp-m1byhmab3 {
  --bg-gradient:
    radial-gradient(circle at 32.083333333333336% 81.66666666666667%, #f4d500 0%, 32%, rgba(244, 213, 0, 0) 64%),
    radial-gradient(circle at 86.25% 95%, #ffcb00 0%, 20%, rgba(255, 203, 0, 0) 40%),
    radial-gradient(circle at 6.165364583333333% 12.617187499999998%, #f4d500 0%, 42%, rgba(244, 213, 0, 0) 70%),
    radial-gradient(circle at 74.16666666666667% 27.500000000000004%, #ffe04a 0%, 60%, rgba(255, 224, 74, 0) 100%),
    radial-gradient(circle at 48.9013671875% 49.521484375%, #ffffff 0%, 100%, rgba(255, 255, 255, 0) 100%);
  --bg-overlay-color: transparent;
  min-width: 980px;
}
#comp-m1byhmac8 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhmad5 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-m1byhmae5 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 326px;
  --column-flex: 326;
}
#comp-m1byhmaf5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhmag1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhmah1 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 327px;
  --column-flex: 327;
}
#comp-m1byhmai1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhmaj {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhmaj7 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 327px;
  --column-flex: 327;
}
#comp-m1byhmak6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhmal3 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c092qr {
  --bg-gradient:
    radial-gradient(circle at 48.75% 55.833333333333336%, #282626 0%, 50%, rgba(40, 38, 38, 0) 100%),
    radial-gradient(circle at 7.5% 55.833333333333336%, #33343f 0%, 50%, rgba(51, 52, 63, 0) 100%),
    radial-gradient(circle at 90% 55.833333333333336%, #33343f 0%, 60%, rgba(51, 52, 63, 0) 100%),
    radial-gradient(circle at 48.9013671875% 49.521484375%, #ffffff 0%, 100%, rgba(255, 255, 255, 0) 100%);
  --bg-overlay-color: transparent;
  min-width: 980px;
}
#comp-m1c092rp {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c092rp6 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-m1c092rq5 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 326px;
  --column-flex: 326;
}
#comp-m1c092rr6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c092rs {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c092rs6 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 327px;
  --column-flex: 327;
}
#comp-m1c092rt5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c092rt11 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c092ru5 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 327px;
  --column-flex: 327;
}
#comp-m1c092rv2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c092rv8 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c0hzch {
  --bg-overlay-color: rgb(255, 255, 255);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m1c1gq8i {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c0lx0d {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-m1c0lx1h5 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 245px;
  --column-flex: 245;
}
#comp-m1c17fsd {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #282626;
}
#comp-m1c0lx1i6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c0lx1j5 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c0lx1k2 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 245px;
  --column-flex: 245;
}
#comp-m1c18hbj {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #282626;
}
#comp-m1c0lx1l {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c0lx1l6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c0lx1m3 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 245px;
  --column-flex: 245;
}
#comp-m1c18hbi {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #282626;
}
#comp-m1c0lx1n {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c0lx1n6 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c0m2d7 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  width: 100%;
  --column-width: 245px;
  --column-flex: 245;
}
#comp-m1c18hbl {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5e97ff;
  --stroke-opacity: 1;
  --fill: #282626;
}
#comp-m1c0m2dc1 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1c0m2dd2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhmam2 {
  --bg-overlay-color: rgb(244, 213, 0);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m1byhman {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhmao7 {
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m1byhmap7 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhmar4 {
  --bg-overlay-color: rgb(50, 50, 50);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m1byhmas8 {
  --height: 45px;
  --width: 122px;
}
#comp-m1byhmau {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhmaw4 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-m1byhmay9 {
  --item-size: 39px;
  --item-margin-block: 0;
  --item-margin-inline: 0px 10px;
  --item-display: inline-block;
  --direction: var(--wix-opt-in-direction, ltr);
  width: 235px;
  height: 39px;
}
