#zzhwm {
  width: auto;
  min-height: 40px;
}
#pageBackground_zzhwm {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
}
#comp-lqcnvap0 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  min-width: 980px;
}
.TPAMultiSection_lqcnqt4z {
  --wix-direction: ltr;
  --post-cardBorderWidth: 0;
  --relatedPostsLabel: 1;
  --showRelatedPostsLabelType: 1;
  --tagLayout: 0;
  --buttonTagAlignment: 0;
  --buttonTagBorderWidth: 1;
  --buttonTagBorderRadius: 0;
  --buttonTagVerticalPadding: 6;
  --buttonTagHorizontalPadding: 12;
  --buttonTagVerticalSpacing: 8;
  --buttonTagHorizontalSpacing: 8;
  --textTagAlignment: 0;
  --textTagVerticalSpacing: 12;
  --textTagHorizontalSpacing: 12;
  --postBorderWidth: 0;
  --heroImageCropPosition: center;
  --heroImageHeight: 350;
  --heroImageCropType: 0;
  --textTagTextFont: normal normal normal 14px/1.4em montserrat, sans-serif;
  --navigation-textColor: 51, 52, 63;
  --navigation-textColor-rgb: 51, 52, 63;
  --navigation-textColor-opacity: 1;
  --navigation-textColorActive: 51, 52, 63;
  --navigation-textColorActive-rgb: 51, 52, 63;
  --navigation-textColorActive-opacity: 1;
  --navigation-backgroundColor: 255, 255, 255;
  --navigation-backgroundColor-rgb: 255, 255, 255;
  --navigation-backgroundColor-opacity: 1;
  --post-textColor: 51, 52, 63;
  --post-textColor-rgb: 51, 52, 63;
  --post-textColor-opacity: 1;
  --post-quotesColor: 51, 52, 63;
  --post-quotesColor-rgb: 51, 52, 63;
  --post-quotesColor-opacity: 1;
  --blog-linkHashtagColor: 51, 52, 63;
  --blog-linkHashtagColor-rgb: 51, 52, 63;
  --blog-linkHashtagColor-opacity: 1;
  --post-titleColor: 51, 52, 63;
  --post-titleColor-rgb: 51, 52, 63;
  --post-titleColor-opacity: 1;
  --post-headerTwoColor: 51, 52, 63;
  --post-headerTwoColor-rgb: 51, 52, 63;
  --post-headerTwoColor-opacity: 1;
  --post-headerThreeColor: 51, 52, 63;
  --post-headerThreeColor-rgb: 51, 52, 63;
  --post-headerThreeColor-opacity: 1;
  --post-headerFourColor: 51, 52, 63;
  --post-headerFourColor-rgb: 51, 52, 63;
  --post-headerFourColor-opacity: 1;
  --post-headerFiveColor: 51, 52, 63;
  --post-headerFiveColor-rgb: 51, 52, 63;
  --post-headerFiveColor-opacity: 1;
  --post-headerSixColor: 51, 52, 63;
  --post-headerSixColor-rgb: 51, 52, 63;
  --post-headerSixColor-opacity: 1;
  --post-ratingFilledStarColor: 51, 52, 63;
  --post-ratingFilledStarColor-rgb: 51, 52, 63;
  --post-ratingFilledStarColor-opacity: 1;
  --post-ratingUnfilledStarColor: 153, 154, 159;
  --post-ratingUnfilledStarColor-rgb: 153, 154, 159;
  --post-ratingUnfilledStarColor-opacity: 1;
  --post-ratingFontColor: 51, 52, 63;
  --post-ratingFontColor-rgb: 51, 52, 63;
  --post-ratingFontColor-opacity: 1;
  --tags-buttonTag-textColor: 51, 52, 63;
  --tags-buttonTag-textColor-rgb: 51, 52, 63;
  --tags-buttonTag-textColor-opacity: 1;
  --tags-buttonTag-backgroundColor: 255, 255, 255;
  --tags-buttonTag-backgroundColor-rgb: 255, 255, 255;
  --tags-buttonTag-backgroundColor-opacity: 1;
  --tags-buttonTag-borderColor: 51, 52, 63, 0.2;
  --tags-buttonTag-borderColor-rgb: 51, 52, 63;
  --tags-buttonTag-borderColor-opacity: 0.2;
  --tags-buttonTag-textHoverColor: 51, 52, 63;
  --tags-buttonTag-textHoverColor-rgb: 51, 52, 63;
  --tags-buttonTag-textHoverColor-opacity: 1;
  --tags-buttonTag-backgroundHoverColor: 255, 255, 255;
  --tags-buttonTag-backgroundHoverColor-rgb: 255, 255, 255;
  --tags-buttonTag-backgroundHoverColor-opacity: 1;
  --tags-buttonTag-borderHoverColor: 51, 52, 63, 0.6;
  --tags-buttonTag-borderHoverColor-rgb: 51, 52, 63;
  --tags-buttonTag-borderHoverColor-opacity: 0.6;
  --post-cardBorderColor: 182, 182, 184, 0;
  --post-cardBorderColor-rgb: 182, 182, 184;
  --post-cardBorderColor-opacity: 0;
  --post-cardBackgroundColor: 255, 255, 255;
  --post-cardBackgroundColor-rgb: 255, 255, 255;
  --post-cardBackgroundColor-opacity: 1;
  --post-appBackgroundColor: 255, 255, 255;
  --post-appBackgroundColor-rgb: 255, 255, 255;
  --post-appBackgroundColor-opacity: 1;
  --button-textColor: 255, 255, 255;
  --button-textColor-rgb: 255, 255, 255;
  --button-textColor-opacity: 1;
  --button-color: 51, 52, 63;
  --button-color-rgb: 51, 52, 63;
  --button-color-opacity: 1;
  --navigationTextColor: 51, 52, 63;
  --navigationTextColor-rgb: 51, 52, 63;
  --navigationTextColor-opacity: 1;
  --navigationTextActiveColor: 51, 52, 63;
  --navigationTextActiveColor-rgb: 51, 52, 63;
  --navigationTextActiveColor-opacity: 1;
  --navigationBackgroundColor: 255, 255, 255;
  --navigationBackgroundColor-rgb: 255, 255, 255;
  --navigationBackgroundColor-opacity: 1;
  --textParagraphColor: 51, 52, 63;
  --textParagraphColor-rgb: 51, 52, 63;
  --textParagraphColor-opacity: 1;
  --textQuoteColor: 51, 52, 63;
  --textQuoteColor-rgb: 51, 52, 63;
  --textQuoteColor-opacity: 1;
  --textLinksAndHashtagsColor: 51, 52, 63;
  --textLinksAndHashtagsColor-rgb: 51, 52, 63;
  --textLinksAndHashtagsColor-opacity: 1;
  --textH1Color: 51, 52, 63;
  --textH1Color-rgb: 51, 52, 63;
  --textH1Color-opacity: 1;
  --textH2Color: 51, 52, 63;
  --textH2Color-rgb: 51, 52, 63;
  --textH2Color-opacity: 1;
  --textH3Color: 51, 52, 63;
  --textH3Color-rgb: 51, 52, 63;
  --textH3Color-opacity: 1;
  --textH4Color: 51, 52, 63;
  --textH4Color-rgb: 51, 52, 63;
  --textH4Color-opacity: 1;
  --textH5Color: 51, 52, 63;
  --textH5Color-rgb: 51, 52, 63;
  --textH5Color-opacity: 1;
  --textH6Color: 51, 52, 63;
  --textH6Color-rgb: 51, 52, 63;
  --textH6Color-opacity: 1;
  --ratingsTextColor: 51, 52, 63;
  --ratingsTextColor-rgb: 51, 52, 63;
  --ratingsTextColor-opacity: 1;
  --ratingsStarFilledColor: 51, 52, 63;
  --ratingsStarFilledColor-rgb: 51, 52, 63;
  --ratingsStarFilledColor-opacity: 1;
  --ratingsStarEmptyColor: 153, 154, 159;
  --ratingsStarEmptyColor-rgb: 153, 154, 159;
  --ratingsStarEmptyColor-opacity: 1;
  --buttonTagTextColor: 51, 52, 63;
  --buttonTagTextColor-rgb: 51, 52, 63;
  --buttonTagTextColor-opacity: 1;
  --buttonTagTextHoverColor: 51, 52, 63;
  --buttonTagTextHoverColor-rgb: 51, 52, 63;
  --buttonTagTextHoverColor-opacity: 1;
  --buttonTagBackgroundColor: 255, 255, 255;
  --buttonTagBackgroundColor-rgb: 255, 255, 255;
  --buttonTagBackgroundColor-opacity: 1;
  --buttonTagBackgroundHoverColor: 255, 255, 255;
  --buttonTagBackgroundHoverColor-rgb: 255, 255, 255;
  --buttonTagBackgroundHoverColor-opacity: 1;
  --buttonTagBorderColor: 51, 52, 63, 0.2;
  --buttonTagBorderColor-rgb: 51, 52, 63;
  --buttonTagBorderColor-opacity: 0.2;
  --buttonTagBorderHoverColor: 51, 52, 63, 0.6;
  --buttonTagBorderHoverColor-rgb: 51, 52, 63;
  --buttonTagBorderHoverColor-opacity: 0.6;
  --textTagTextColor: 51, 52, 63;
  --textTagTextColor-rgb: 51, 52, 63;
  --textTagTextColor-opacity: 1;
  --textTagTextHoverColor: 51, 52, 63;
  --textTagTextHoverColor-rgb: 51, 52, 63;
  --textTagTextHoverColor-opacity: 1;
  --postBorderColor: 182, 182, 184, 0;
  --postBorderColor-rgb: 182, 182, 184;
  --postBorderColor-opacity: 0;
  --postBackgroundColor: 255, 255, 255;
  --postBackgroundColor-rgb: 255, 255, 255;
  --postBackgroundColor-opacity: 1;
  --postAreaBackgroundColor: 255, 255, 255;
  --postAreaBackgroundColor-rgb: 255, 255, 255;
  --postAreaBackgroundColor-opacity: 1;
  --postButtonTextColor: 255, 255, 255;
  --postButtonTextColor-rgb: 255, 255, 255;
  --postButtonTextColor-opacity: 1;
  --postButtonBackgroundColor: 51, 52, 63;
  --postButtonBackgroundColor-rgb: 51, 52, 63;
  --postButtonBackgroundColor-opacity: 1;
  --navigation-font: normal normal normal 18px/1.75em montserrat, sans-serif;
  --navigation-font-style: normal;
  --navigation-font-variant: normal;
  --navigation-font-weight: normal;
  --navigation-font-size: 18px;
  --navigation-font-line-height: 1.75em;
  --navigation-font-family: montserrat, sans-serif;
  --navigation-font-text-decoration: none;
  --post-pageFont: normal normal normal 18px/22px montserrat, sans-serif;
  --post-pageFont-style: normal;
  --post-pageFont-variant: normal;
  --post-pageFont-weight: normal;
  --post-pageFont-size: 18px;
  --post-pageFont-line-height: 22px;
  --post-pageFont-family: montserrat, sans-serif;
  --post-pageFont-text-decoration: none;
  --post-quotesFont: normal normal normal 24px/30px montserrat, sans-serif;
  --post-quotesFont-style: normal;
  --post-quotesFont-variant: normal;
  --post-quotesFont-weight: normal;
  --post-quotesFont-size: 24px;
  --post-quotesFont-line-height: 30px;
  --post-quotesFont-family: montserrat, sans-serif;
  --post-quotesFont-text-decoration: none;
  --post-titleFont: normal normal normal 40px/50px montserrat, sans-serif;
  --post-titleFont-style: normal;
  --post-titleFont-variant: normal;
  --post-titleFont-weight: normal;
  --post-titleFont-size: 40px;
  --post-titleFont-line-height: 50px;
  --post-titleFont-family: montserrat, sans-serif;
  --post-titleFont-text-decoration: none;
  --post-headerTwoFont: normal normal normal 28px/35px montserrat, sans-serif;
  --post-headerTwoFont-style: normal;
  --post-headerTwoFont-variant: normal;
  --post-headerTwoFont-weight: normal;
  --post-headerTwoFont-size: 28px;
  --post-headerTwoFont-line-height: 35px;
  --post-headerTwoFont-family: montserrat, sans-serif;
  --post-headerTwoFont-text-decoration: none;
  --post-headerThreeFont: normal normal normal 22px/27px montserrat, sans-serif;
  --post-headerThreeFont-style: normal;
  --post-headerThreeFont-variant: normal;
  --post-headerThreeFont-weight: normal;
  --post-headerThreeFont-size: 22px;
  --post-headerThreeFont-line-height: 27px;
  --post-headerThreeFont-family: montserrat, sans-serif;
  --post-headerThreeFont-text-decoration: none;
  --post-headerFourFont: normal normal normal 20px/25px montserrat, sans-serif;
  --post-headerFourFont-style: normal;
  --post-headerFourFont-variant: normal;
  --post-headerFourFont-weight: normal;
  --post-headerFourFont-size: 20px;
  --post-headerFourFont-line-height: 25px;
  --post-headerFourFont-family: montserrat, sans-serif;
  --post-headerFourFont-text-decoration: none;
  --post-headerFiveFont: normal normal normal 18px/22px montserrat, sans-serif;
  --post-headerFiveFont-style: normal;
  --post-headerFiveFont-variant: normal;
  --post-headerFiveFont-weight: normal;
  --post-headerFiveFont-size: 18px;
  --post-headerFiveFont-line-height: 22px;
  --post-headerFiveFont-family: montserrat, sans-serif;
  --post-headerFiveFont-text-decoration: none;
  --post-headerSixFont: normal normal normal 16px/20px montserrat, sans-serif;
  --post-headerSixFont-style: normal;
  --post-headerSixFont-variant: normal;
  --post-headerSixFont-weight: normal;
  --post-headerSixFont-size: 16px;
  --post-headerSixFont-line-height: 20px;
  --post-headerSixFont-family: montserrat, sans-serif;
  --post-headerSixFont-text-decoration: none;
  --post-ratingFont: normal normal normal 14px/17px montserrat, sans-serif;
  --post-ratingFont-style: normal;
  --post-ratingFont-variant: normal;
  --post-ratingFont-weight: normal;
  --post-ratingFont-size: 14px;
  --post-ratingFont-line-height: 17px;
  --post-ratingFont-family: montserrat, sans-serif;
  --post-ratingFont-text-decoration: none;
  --tags-buttonTag-textFont: normal normal normal 14px/17px montserrat, sans-serif;
  --tags-buttonTag-textFont-style: normal;
  --tags-buttonTag-textFont-variant: normal;
  --tags-buttonTag-textFont-weight: normal;
  --tags-buttonTag-textFont-size: 14px;
  --tags-buttonTag-textFont-line-height: 17px;
  --tags-buttonTag-textFont-family: montserrat, sans-serif;
  --tags-buttonTag-textFont-text-decoration: none;
  --navigationTextFont: normal normal normal 18px/1.75em montserrat, sans-serif;
  --navigationTextFont-style: normal;
  --navigationTextFont-variant: normal;
  --navigationTextFont-weight: normal;
  --navigationTextFont-size: 18px;
  --navigationTextFont-line-height: 1.75em;
  --navigationTextFont-family: montserrat, sans-serif;
  --navigationTextFont-text-decoration: none;
  --textParagraphFont: normal normal normal 18px/22px montserrat, sans-serif;
  --textParagraphFont-style: normal;
  --textParagraphFont-variant: normal;
  --textParagraphFont-weight: normal;
  --textParagraphFont-size: 18px;
  --textParagraphFont-line-height: 22px;
  --textParagraphFont-family: montserrat, sans-serif;
  --textParagraphFont-text-decoration: none;
  --textQuoteFont: normal normal normal 24px/30px montserrat, sans-serif;
  --textQuoteFont-style: normal;
  --textQuoteFont-variant: normal;
  --textQuoteFont-weight: normal;
  --textQuoteFont-size: 24px;
  --textQuoteFont-line-height: 30px;
  --textQuoteFont-family: montserrat, sans-serif;
  --textQuoteFont-text-decoration: none;
  --textH1Font: normal normal normal 40px/50px montserrat, sans-serif;
  --textH1Font-style: normal;
  --textH1Font-variant: normal;
  --textH1Font-weight: normal;
  --textH1Font-size: 40px;
  --textH1Font-line-height: 50px;
  --textH1Font-family: montserrat, sans-serif;
  --textH1Font-text-decoration: none;
  --textH2Font: normal normal normal 28px/35px montserrat, sans-serif;
  --textH2Font-style: normal;
  --textH2Font-variant: normal;
  --textH2Font-weight: normal;
  --textH2Font-size: 28px;
  --textH2Font-line-height: 35px;
  --textH2Font-family: montserrat, sans-serif;
  --textH2Font-text-decoration: none;
  --textH3Font: normal normal normal 22px/27px montserrat, sans-serif;
  --textH3Font-style: normal;
  --textH3Font-variant: normal;
  --textH3Font-weight: normal;
  --textH3Font-size: 22px;
  --textH3Font-line-height: 27px;
  --textH3Font-family: montserrat, sans-serif;
  --textH3Font-text-decoration: none;
  --textH4Font: normal normal normal 20px/25px montserrat, sans-serif;
  --textH4Font-style: normal;
  --textH4Font-variant: normal;
  --textH4Font-weight: normal;
  --textH4Font-size: 20px;
  --textH4Font-line-height: 25px;
  --textH4Font-family: montserrat, sans-serif;
  --textH4Font-text-decoration: none;
  --textH5Font: normal normal normal 18px/22px montserrat, sans-serif;
  --textH5Font-style: normal;
  --textH5Font-variant: normal;
  --textH5Font-weight: normal;
  --textH5Font-size: 18px;
  --textH5Font-line-height: 22px;
  --textH5Font-family: montserrat, sans-serif;
  --textH5Font-text-decoration: none;
  --textH6Font: normal normal normal 16px/20px montserrat, sans-serif;
  --textH6Font-style: normal;
  --textH6Font-variant: normal;
  --textH6Font-weight: normal;
  --textH6Font-size: 16px;
  --textH6Font-line-height: 20px;
  --textH6Font-family: montserrat, sans-serif;
  --textH6Font-text-decoration: none;
  --ratingsTextFont: normal normal normal 14px/17px montserrat, sans-serif;
  --ratingsTextFont-style: normal;
  --ratingsTextFont-variant: normal;
  --ratingsTextFont-weight: normal;
  --ratingsTextFont-size: 14px;
  --ratingsTextFont-line-height: 17px;
  --ratingsTextFont-family: montserrat, sans-serif;
  --ratingsTextFont-text-decoration: none;
  --buttonTagTextFont: normal normal normal 14px/17px montserrat, sans-serif;
  --buttonTagTextFont-style: normal;
  --buttonTagTextFont-variant: normal;
  --buttonTagTextFont-weight: normal;
  --buttonTagTextFont-size: 14px;
  --buttonTagTextFont-line-height: 17px;
  --buttonTagTextFont-family: montserrat, sans-serif;
  --buttonTagTextFont-text-decoration: none;
  --textTagTextFont-style: normal;
  --textTagTextFont-variant: normal;
  --textTagTextFont-weight: normal;
  --textTagTextFont-size: 14px;
  --textTagTextFont-line-height: 1.4em;
  --textTagTextFont-family: montserrat, sans-serif;
  --textTagTextFont-text-decoration: none;
  --postSectionMetadataAndMoreActionsDisplay: flex;
  --postSectionMetadataDisplay: grid;
  --postAuthorNameDisplay: contents;
  --postAuthorPictureDisplay: inline-block;
  --postPublishDateDisplay: block;
  --postPublishDateSeparatorDisplay: inline;
  --postReadingTimeDisplay: block;
  --postReadingTimeSeparatorDisplay: inline;
  --postTitleDisplay: block;
  --postUpdatedDateDisplay: none;
  --postRatingDisplay: flex;
  --postMoreActionsDisplay: block;
  --postFooterDisplay: flex;
  --postFooterActionsDisplay: block;
  --postSectionCountersDisplay: flex;
  --postViewCountDisplay: flex;
  --postCommentCountDisplay: none;
  --postLikeCountDisplay: none;
  --postSectionShareDisplay: flex;
  --postShareIconFacebookDisplay: block;
  --postShareIconXDisplay: block;
  --postShareIconLinkedInDisplay: block;
  --postShareIconLinkDisplay: block;
  --postShareIconPrintDisplay: block;
  --relatedPostsDisplay: block;
  --relatedPostsItemFooterOffset: 45px;
  --relatedPostsSeeAllDisplay: inline;
  --menuResponsiveDisplay: none;
  --menuDisplay: none;
  --menuCategoriesDisplay: flex;
  --menuSearchDisplay: none;
  --postCategoriesDisplay: flex;
  --tagDisplay: flex;
  --tagLabelDisplay: none;
  --tagTextFont: normal normal normal 14px/17px montserrat, sans-serif;
  --tagTextDecoration: none;
  --tagTextColor: rgba(51, 52, 63, 1);
  --tagTextHoverColor: rgba(51, 52, 63, 1);
  --tagBorderWidth: 1;
  --tagBorderStyle: solid;
  --tagBorderColor: rgba(51, 52, 63, 0.2);
  --tagBorderHoverColor: rgba(51, 52, 63, 0.6);
  --tagBorderRadius: 0;
  --tagBackgroundColor: rgba(255, 255, 255, 1);
  --tagBackgroundHoverColor: rgba(255, 255, 255, 1);
  --tagFlexAlignment: flex-start;
  --tagTextAlignment: start;
  --tagVerticalSpacing: 8;
  --tagHorizontalSpacing: 8;
  --tagVerticalPadding: 6;
  --tagHorizontalPadding: 12;
  --heroImageObjectFit: cover;
  --showHeaderImage: block;
  --wix-color-1: 255, 255, 255;
  --wix-color-2: 182, 182, 184;
  --wix-color-3: 153, 154, 159;
  --wix-color-4: 102, 103, 111;
  --wix-color-5: 51, 52, 63;
  --wix-color-6: 182, 183, 196;
  --wix-color-7: 110, 112, 136;
  --wix-color-8: 51, 52, 63;
  --wix-color-9: 34, 35, 42;
  --wix-color-10: 17, 17, 21;
  --wix-color-11: 215, 215, 225;
  --wix-color-12: 174, 175, 194;
  --wix-color-13: 134, 135, 164;
  --wix-color-14: 97, 99, 129;
  --wix-color-15: 102, 103, 111;
  --wix-color-16: 251, 251, 251;
  --wix-color-17: 182, 182, 184;
  --wix-color-18: 185, 185, 185;
  --wix-color-19: 124, 124, 124;
  --wix-color-20: 62, 62, 62;
  --wix-color-21: 252, 222, 147;
  --wix-color-22: 248, 189, 38;
  --wix-color-23: 208, 151, 7;
  --wix-color-24: 139, 101, 4;
  --wix-color-25: 69, 50, 2;
  --wix-color-26: 255, 255, 255;
  --wix-color-27: 51, 52, 63;
  --wix-color-28: 182, 182, 184;
  --wix-color-29: 153, 154, 159;
  --wix-color-30: 102, 103, 111;
  --wix-color-31: 239, 239, 239;
  --wix-color-32: 40, 38, 38;
  --wix-color-33: 233, 226, 215;
  --wix-color-34: 203, 200, 194;
  --wix-color-35: 51, 52, 63;
  --wix-color-36: 51, 52, 63;
  --wix-color-37: 102, 103, 111;
  --wix-color-38: 51, 52, 63;
  --wix-color-39: 51, 52, 63;
  --wix-color-40: 255, 255, 255;
  --wix-color-41: 255, 255, 255;
  --wix-color-42: 51, 52, 63;
  --wix-color-43: 51, 52, 63;
  --wix-color-44: 153, 154, 159;
  --wix-color-45: 153, 154, 159;
  --wix-color-46: 255, 255, 255;
  --wix-color-47: 255, 255, 255;
  --wix-color-48: 51, 52, 63;
  --wix-color-49: 51, 52, 63;
  --wix-color-50: 51, 52, 63;
  --wix-color-51: 51, 52, 63;
  --wix-color-52: 255, 255, 255;
  --wix-color-53: 255, 255, 255;
  --wix-color-54: 153, 154, 159;
  --wix-color-55: 153, 154, 159;
  --wix-font-Title: normal normal normal 88px/1.2em montserrat, sans-serif;
  --wix-font-Title-style: normal;
  --wix-font-Title-variant: normal;
  --wix-font-Title-weight: normal;
  --wix-font-Title-size: 88px;
  --wix-font-Title-line-height: 1.2em;
  --wix-font-Title-family: montserrat, sans-serif;
  --wix-font-Title-text-decoration: none;
  --wix-font-Menu: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Menu-style: normal;
  --wix-font-Menu-variant: normal;
  --wix-font-Menu-weight: normal;
  --wix-font-Menu-size: 14px;
  --wix-font-Menu-line-height: 1.79em;
  --wix-font-Menu-family: avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Menu-text-decoration: none;
  --wix-font-Page-title: normal normal normal 72px/1.25em montserrat, sans-serif;
  --wix-font-Page-title-style: normal;
  --wix-font-Page-title-variant: normal;
  --wix-font-Page-title-weight: normal;
  --wix-font-Page-title-size: 72px;
  --wix-font-Page-title-line-height: 1.25em;
  --wix-font-Page-title-family: montserrat, sans-serif;
  --wix-font-Page-title-text-decoration: none;
  --wix-font-Heading-XL: normal normal normal 50px/1.34em montserrat, sans-serif;
  --wix-font-Heading-XL-style: normal;
  --wix-font-Heading-XL-variant: normal;
  --wix-font-Heading-XL-weight: normal;
  --wix-font-Heading-XL-size: 50px;
  --wix-font-Heading-XL-line-height: 1.34em;
  --wix-font-Heading-XL-family: montserrat, sans-serif;
  --wix-font-Heading-XL-text-decoration: none;
  --wix-font-Heading-L: normal normal normal 40px/1.35em montserrat, sans-serif;
  --wix-font-Heading-L-style: normal;
  --wix-font-Heading-L-variant: normal;
  --wix-font-Heading-L-weight: normal;
  --wix-font-Heading-L-size: 40px;
  --wix-font-Heading-L-line-height: 1.35em;
  --wix-font-Heading-L-family: montserrat, sans-serif;
  --wix-font-Heading-L-text-decoration: none;
  --wix-font-Heading-M: normal normal normal 28px/1.38em montserrat, sans-serif;
  --wix-font-Heading-M-style: normal;
  --wix-font-Heading-M-variant: normal;
  --wix-font-Heading-M-weight: normal;
  --wix-font-Heading-M-size: 28px;
  --wix-font-Heading-M-line-height: 1.38em;
  --wix-font-Heading-M-family: montserrat, sans-serif;
  --wix-font-Heading-M-text-decoration: none;
  --wix-font-Heading-S: normal normal normal 22px/1.41em montserrat, sans-serif;
  --wix-font-Heading-S-style: normal;
  --wix-font-Heading-S-variant: normal;
  --wix-font-Heading-S-weight: normal;
  --wix-font-Heading-S-size: 22px;
  --wix-font-Heading-S-line-height: 1.41em;
  --wix-font-Heading-S-family: montserrat, sans-serif;
  --wix-font-Heading-S-text-decoration: none;
  --wix-font-Body-L: normal normal normal 20px/1.67em montserrat, sans-serif;
  --wix-font-Body-L-style: normal;
  --wix-font-Body-L-variant: normal;
  --wix-font-Body-L-weight: normal;
  --wix-font-Body-L-size: 20px;
  --wix-font-Body-L-line-height: 1.67em;
  --wix-font-Body-L-family: montserrat, sans-serif;
  --wix-font-Body-L-text-decoration: none;
  --wix-font-Body-M: normal normal normal 18px/1.75em montserrat, sans-serif;
  --wix-font-Body-M-style: normal;
  --wix-font-Body-M-variant: normal;
  --wix-font-Body-M-weight: normal;
  --wix-font-Body-M-size: 18px;
  --wix-font-Body-M-line-height: 1.75em;
  --wix-font-Body-M-family: montserrat, sans-serif;
  --wix-font-Body-M-text-decoration: none;
  --wix-font-Body-S: normal normal normal 15px/1.88em montserrat, sans-serif;
  --wix-font-Body-S-style: normal;
  --wix-font-Body-S-variant: normal;
  --wix-font-Body-S-weight: normal;
  --wix-font-Body-S-size: 15px;
  --wix-font-Body-S-line-height: 1.88em;
  --wix-font-Body-S-family: montserrat, sans-serif;
  --wix-font-Body-S-text-decoration: none;
  --wix-font-Body-XS: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Body-XS-style: normal;
  --wix-font-Body-XS-variant: normal;
  --wix-font-Body-XS-weight: normal;
  --wix-font-Body-XS-size: 14px;
  --wix-font-Body-XS-line-height: 1.79em;
  --wix-font-Body-XS-family: avenir-lt-w01_35-light1475496, sans-serif;
  --wix-font-Body-XS-text-decoration: none;
  --wix-font-LIGHT: normal normal normal 12px/1.4em HelveticaNeueW01-45Ligh;
  --wix-font-LIGHT-style: normal;
  --wix-font-LIGHT-variant: normal;
  --wix-font-LIGHT-weight: normal;
  --wix-font-LIGHT-size: 12px;
  --wix-font-LIGHT-line-height: 1.4em;
  --wix-font-LIGHT-family: HelveticaNeueW01-45Ligh;
  --wix-font-LIGHT-text-decoration: none;
  --wix-font-MEDIUM: normal normal normal 12px/1.4em HelveticaNeueW01-55Roma;
  --wix-font-MEDIUM-style: normal;
  --wix-font-MEDIUM-variant: normal;
  --wix-font-MEDIUM-weight: normal;
  --wix-font-MEDIUM-size: 12px;
  --wix-font-MEDIUM-line-height: 1.4em;
  --wix-font-MEDIUM-family: HelveticaNeueW01-55Roma;
  --wix-font-MEDIUM-text-decoration: none;
  --wix-font-STRONG: normal normal normal 12px/1.4em HelveticaNeueW01-65Medi;
  --wix-font-STRONG-style: normal;
  --wix-font-STRONG-variant: normal;
  --wix-font-STRONG-weight: normal;
  --wix-font-STRONG-size: 12px;
  --wix-font-STRONG-line-height: 1.4em;
  --wix-font-STRONG-family: HelveticaNeueW01-65Medi;
  --wix-font-STRONG-text-decoration: none;
}
.TPAMultiSection_lqcnqt4z .s_udjgT.oawJKjz---skin-5-wired .sxD15E9 {
  background-color: #33343f;
  color: #ffffff;
  border-color: #33343f;
}
.TPAMultiSection_lqcnqt4z .s_udjgT.oawJKjz---skin-5-wired .sqy9Q2i path {
  fill: #33343f;
  stroke: #33343f;
}
