#zt28q {
  width: auto;
  min-height: 40px;
}
#pageBackground_zt28q {
  --bg-position: absolute;
  --bg-overlay-color: rgb(232, 230, 230);
  --bg-gradient: none;
}
#comp-lt6z9hbr1 {
  --bg-overlay-color: rgb(255, 255, 255);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lt6z9hbw1 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-lt6z9hc13 {
  --fill-layer-image-opacity: 1;
  --bg-overlay-color: rgb(251, 165, 23);
  --bg-gradient: none;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-lt6z9hc61 {
  --opacity: 1;
}
#comp-lt6z9hc93 {
  --height: 38px;
  --width: 103px;
}
#comp-lt6z9hca6 {
  --min-height: 71px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lt6ztdnc2 {
  height: auto;
  --transition-duration: 1000ms;
  --transition-overflow: clip;
  --slides-overflow: visible;
  --nav-dot-section-display: none;
  --nav-button-display: none;
}
#comp-lt6ztdnh1 {
  position: relative;
  width: 100%;
  height: auto;
  --bg-overlay-color: rgba(55, 71, 119, 0.8);
  --bg-gradient: none;
}
#comp-lt6ztdnk2 {
  --text-direction: var(--wix-opt-in-direction);
}
.device-mobile-optimized #comp-lt6ztdnn {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: center;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 15px;
  --textPadding: 3px;
  --textPadding_start: 3px;
  --textPadding_end: 3px;
  --labelPadding_start: 0px;
  --labelPadding_end: 0px;
  height: auto;
  --inputHeight: 41px;
}
#comp-lt6ztdnn {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 15px;
  --textPadding: 3px;
  --textPadding_start: 20px;
  --textPadding_end: 3px;
  --labelPadding_start: 20px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 41px;
}
.device-mobile-optimized #comp-lt6ztdnv {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: center;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 15px;
  --textPadding: 3px;
  --textPadding_start: 3px;
  --textPadding_end: 3px;
  --labelPadding_start: 0px;
  --labelPadding_end: 0px;
  height: auto;
  --inputHeight: 41px;
}
#comp-lt6ztdnv {
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  --fntlbl: normal normal normal 14px/1.2em montserrat, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --align: start;
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --requiredIndicationDisplay: inline;
  --labelMarginBottom: 15px;
  --textPadding: 3px;
  --textPadding_start: 20px;
  --textPadding_end: 3px;
  --labelPadding_start: 20px;
  --labelPadding_end: 20px;
  height: auto;
  --inputHeight: 41px;
}
#comp-lt73brb2 {
  --min-height: 77px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lt70vc5u {
  --checkboxSize: 18px;
  --fnt: normal normal normal 10px/1.88em montserrat, sans-serif;
  --checkmarkMargin_start: -18px;
  --labelMargin_start: 9px;
  height: auto;
  --checkbox-direction: var(--wix-opt-in-direction, ltr);
  --align: start;
}
#comp-lt6zwvhw {
  --shc-mutated-brightness: 126, 83, 12;
  --margin-start: 0px;
  --margin-end: 0px;
  --fnt: normal normal normal 14px/1.2em montserrat, sans-serif;
  direction: var(--wix-opt-in-direction, ltr);
  --label-align: center;
  --label-text-align: center;
}
#comp-lt6ztdpb5 {
  position: relative;
  width: 100%;
  height: auto;
  --bg-overlay-color: rgba(55, 71, 119, 0.8);
  --bg-gradient: none;
}
#comp-lt6ztdpe2 {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lt6z9hde1 {
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lt6z9hdf {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lt6z9hdh {
  --bg-overlay-color: rgb(50, 50, 50);
  --bg-gradient: none;
  min-width: 980px;
}
#comp-lt6z9hdi {
  --height: 45px;
  --width: 122px;
}
#comp-lt6z9hdj {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lt6z9hdl {
  --text-direction: var(--wix-opt-in-direction);
}
#comp-lt6z9hdn {
  --item-size: 39px;
  --item-margin-block: 0;
  --item-margin-inline: 0px 10px;
  --item-display: inline-block;
  --direction: var(--wix-opt-in-direction, ltr);
  width: 235px;
  height: 39px;
}
