#reoxc {
  width: auto;
  min-height: 40px;
}
#pageBackground_reoxc {
  --bg-position: absolute;
  --bg-overlay-color: rgb(var(--color_12));
  --bg-gradient: none;
}
#comp-m9sv7do4 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  min-width: 980px;
}
#comp-m9sv7doc1 {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --padding: 0px;
  --margin: 0px;
  min-width: 980px;
  --firstChildMarginTop: -1px;
  --lastChildMarginBottom: -1px;
  --direction: ltr;
}
#comp-m9sv7doj1 {
  --bg-overlay-color: rgb(255, 255, 255);
  --bg-gradient: none;
  width: 100%;
  --column-width: 980px;
  --column-flex: 980;
}
#comp-m9sv7dol {
  --min-height: 271px;
  --text-direction: var(--wix-opt-in-direction);
}
#comp-mae88erj {
  --height: 129px;
  --width: 298px;
}
