<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__brand">
      <a href="/" class="site-footer__logo" aria-label="DEH Online">
        <img
          src="/img/home/logos-rgb-07.png"
          alt="DEH Online"
          width="123"
          height="45"
        />
      </a>

      <div class="site-footer__address">
        <p>DEH Online</p>
        <p>C/Sierra de Cazorla, 1</p>
        <p>Edificio ELITE</p>
        <p>28290 Las Rozas (Madrid) España</p>
        <p class="site-footer__spacer" aria-hidden="true"></p>
        <p><a href="mailto:comercial@deh.es">comercial@deh.es</a></p>
      </div>
    </div>

    <div class="site-footer__center">
      <ul class="site-footer__social" aria-label="Barra de redes sociales">
        <li>
          <a
            href="https://www.linkedin.com/company/deh-online/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="LinkedIn"
          >
            <img
              src="/img/home/linkedin.png"
              alt="LinkedIn"
              width="32"
              height="32"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/DEHinnovacion"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Facebook"
          >
            <img
              src="/img/home/facebook.png"
              alt="Facebook"
              width="32"
              height="32"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/@DEHOnlinesl"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="YouTube"
          >
            <img
              src="/img/home/youtube.png"
              alt="YouTube"
              width="32"
              height="32"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/deh_online/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Instagram"
          >
            <img
              src="/img/home/instagram.png"
              alt="Instagram"
              width="32"
              height="32"
            />
          </a>
        </li>
      </ul>

      <p class="site-footer__copyright">&copy; DEH Online 2025</p>
    </div>

    <div class="site-footer__legal">
      <div class="site-footer__links-column">
        <a
          href="https://www.dehonline.es/politica-de-privacidad"
          target="_blank"
          rel="noreferrer noopener"
        >Política de privacidad</a>
        <a
          href="https://www.dehonline.es/politica-de-cookies"
          target="_blank"
          rel="noreferrer noopener"
        >Política de Cookies</a>
        <a
          href="/docs/footer/politica-seguridad.pdf"
          target="_blank"
          rel="noreferrer noopener"
        >Política de Seguridad</a>
        <a
          href="https://www.dehonline.es/politica-de-compliance"
          target="_blank"
          rel="noreferrer noopener"
        >Política de Compliance</a>
        <a
          href="https://www.dehonline.es/pol%C3%ADtica-de-privacidad-para-redes-sociales"
          target="_blank"
          rel="noreferrer noopener"
        >Política de RRSS</a>
        <span class="site-footer__links-spacer" aria-hidden="true"></span>
      </div>

      <div class="site-footer__links-column">
        <a
          href="https://www.dehonline.es/condiciones-de-uso"
          target="_blank"
          rel="noreferrer noopener"
        >Aviso legal</a>
        <a
          href="/docs/footer/informacion-corporativa.pdf"
          target="_blank"
          rel="noreferrer noopener"
        >Información corporativa</a>
        <a
          href="https://www.dehonline.es/tsa"
          target="_blank"
          rel="noreferrer noopener"
        >Servicio sellado de tiempo</a>
        <a
          href="https://www.dehonline.es/canaldedenuncias"
          target="_blank"
          rel="noreferrer noopener"
        >Canal de denuncias</a>
      </div>
    </div>
  </div>
</footer>
